framework-sir/fwktd-sir-api/src/main/resources/wsdl/WS_SIR6_B.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://impl.manager.cct.map.es"
	xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://impl.manager.cct.map.es"
	xmlns:intf="http://impl.manager.cct.map.es" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tns1="http://cir.impl.manager.cct.map.es" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<schema targetNamespace="http://cir.impl.manager.cct.map.es"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="RespuestaWS">
				<sequence>
					<element name="codigo" nillable="true" type="xsd:string" />
					<element name="descripcion" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="recepcionFicheroDeAplicacionResponse">
		<wsdl:part name="recepcionFicheroDeAplicacionReturn" type="tns1:RespuestaWS" />
	</wsdl:message>
	<wsdl:message name="recepcionFicheroDeAplicacionRequest">
		<wsdl:part name="registro" type="xsd:string" />
	</wsdl:message>
	<wsdl:portType name="WS_SIR6_B">
		<wsdl:operation name="recepcionFicheroDeAplicacion"
			parameterOrder="registro">
			<wsdl:input message="impl:recepcionFicheroDeAplicacionRequest"
				name="recepcionFicheroDeAplicacionRequest" />
			<wsdl:output message="impl:recepcionFicheroDeAplicacionResponse"
				name="recepcionFicheroDeAplicacionResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WS_SIR6_BSoapBinding" type="impl:WS_SIR6_B">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="recepcionFicheroDeAplicacion">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="recepcionFicheroDeAplicacionRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://impl.manager.cct.map.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="recepcionFicheroDeAplicacionResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://impl.manager.cct.map.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WS_SIR6_BService">
		<wsdl:port binding="impl:WS_SIR6_BSoapBinding" name="WS_SIR6_B">
			<wsdlsoap:address location="http://localhost/ClienteWS6/services/WS_SIR6_B" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>