framework-sir/fwktd-sir-ws/src/main/resources/wsdl/axis/WS_SIR8_A.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://impl.manager.cct.map.es" xmlns:intf="http://impl.manager.cct.map.es"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tns1="http://impl.manager.cct.map.es/cir" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://impl.manager.cct.map.es">
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://impl.manager.cct.map.es/cir">
			<import namespace="http://impl.manager.cct.map.es" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="RespuestaWS">
				<sequence>
					<element name="codigo" nillable="false" type="xsd:string" />
					<element name="descripcion" nillable="false" type="xsd:string" />
				</sequence>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://impl.manager.cct.map.es">
			<import namespace="http://impl.manager.cct.map.es/cir" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="ArrayOf_xsd_base64Binary">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:base64Binary[]" />
					</restriction>
				</complexContent>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="WS_SIR8_ARequest">
		<wsdl:part name="registro" type="xsd:string" />
		<wsdl:part name="firmaRegistro" type="xsd:string" />
		<wsdl:part name="documento" type="impl:ArrayOf_xsd_base64Binary" />
	</wsdl:message>
	<wsdl:message name="WS_SIR8_AResponse">
		<wsdl:part name="registrarReturn" type="tns1:RespuestaWS" />
	</wsdl:message>
	<wsdl:portType name="WS_SIR8_A">
		<wsdl:operation name="envioFicherosAAplicacion"
			parameterOrder="registro firmaRegistro documento">
			<wsdl:input message="impl:WS_SIR8_ARequest" name="WS_SIR8_ARequest" />
			<wsdl:output message="impl:WS_SIR8_AResponse" name="WS_SIR8_AResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WS_SIR8_ASoapBinding" type="impl:WS_SIR8_A">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="envioFicherosAAplicacion">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="WS_SIR8_ARequest">
				<mime:multipartRelated>
					<mime:part>
						<wsdlsoap:body parts="registro" use="literal" />
					</mime:part>
					<mime:part>
						<wsdlsoap:body parts="firmaRegistro" use="literal" />
					</mime:part>
					<mime:part>
						<mime:content part="documento" type="application/octet-stream" />
					</mime:part>
				</mime:multipartRelated>
			</wsdl:input>
			<wsdl:output name="WS_SIR8_AResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://impl.manager.cct.map.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WS_SIR8_AService">
		<wsdl:port binding="impl:WS_SIR8_ASoapBinding" name="WS_SIR8_A">
			<wsdlsoap:address location="http://localhost/services/WS_SIR8_A" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>