framework-sir/fwktd-sir-ws/src/main/resources/wsdl/axis/WS_SIR8_B.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://impl.manager.cct.map.es"
	xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://impl.manager.cct.map.es"
	xmlns:intf="http://impl.manager.cct.map.es" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tns1="http://cir.impl.manager.cct.map.es" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<schema targetNamespace="http://cir.impl.manager.cct.map.es"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="RespuestaWS">
				<sequence>
					<element name="codigo" nillable="true" type="xsd:string" />
					<element name="descripcion" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="envioFicherosAAplicacionRequest">
		<wsdl:part name="registro" type="xsd:string" />
		<wsdl:part name="firmaRegistro" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="envioFicherosAAplicacionResponse">
		<wsdl:part name="envioFicherosAAplicacionReturn" type="tns1:RespuestaWS" />
	</wsdl:message>
	<wsdl:portType name="WS_SIR8_B">
		<wsdl:operation name="envioFicherosAAplicacion"
			parameterOrder="registro firmaRegistro">
			<wsdl:input message="impl:envioFicherosAAplicacionRequest"
				name="envioFicherosAAplicacionRequest" />
			<wsdl:output message="impl:envioFicherosAAplicacionResponse"
				name="envioFicherosAAplicacionResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WS_SIR8_BSoapBinding" type="impl:WS_SIR8_B">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="envioFicherosAAplicacion">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="envioFicherosAAplicacionRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://impl.manager.cct.map.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="envioFicherosAAplicacionResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://impl.manager.cct.map.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WS_SIR8_BService">
		<wsdl:port binding="impl:WS_SIR8_BSoapBinding" name="WS_SIR8_B">
			<wsdlsoap:address location="http://localhost/services/WS_SIR8_B" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>