sigem/SIGEM_RegistroTelematico_Modules/SIGEM_RegistroTelematicoWS/src/main/webapp/wsdl/AplicacionExternaCSVConnectorWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://server.connector.csv.ws.sgm.tecdoc.ieci" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://server.connector.csv.ws.registro.sgm.tecdoc.ieci" xmlns:intf="http://server.connector.csv.ws.sgm.tecdoc.ieci" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://server.connector.csv.ws.sgm.tecdoc.ieci" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getContenidoDocumento">
    <complexType>
     <sequence>
      <element name="csv" type="xsd:string"/>
      <element name="entidad" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getContenidoDocumentoResponse">
    <complexType>
     <sequence>
      <element name="getContenidoDocumentoReturn" type="xsd:base64Binary"/>
     </sequence>
    </complexType>
   </element>
   <element name="existeDocumento">
    <complexType>
     <sequence>
      <element name="csv" type="xsd:string"/>
      <element name="entidad" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="existeDocumentoResponse">
    <complexType>
     <sequence>
      <element name="existeDocumentoReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="existeDocumentoResponse">

      <wsdl:part element="impl:existeDocumentoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getContenidoDocumentoRequest">

      <wsdl:part element="impl:getContenidoDocumento" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="existeDocumentoRequest">

      <wsdl:part element="impl:existeDocumento" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getContenidoDocumentoResponse">

      <wsdl:part element="impl:getContenidoDocumentoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AplicacionExternaCSVConnectorWS">

      <wsdl:operation name="getContenidoDocumento">

         <wsdl:input message="impl:getContenidoDocumentoRequest" name="getContenidoDocumentoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getContenidoDocumentoResponse" name="getContenidoDocumentoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="existeDocumento">

         <wsdl:input message="impl:existeDocumentoRequest" name="existeDocumentoRequest">

       </wsdl:input>

         <wsdl:output message="impl:existeDocumentoResponse" name="existeDocumentoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AplicacionExternaCSVConnectorWSSoapBinding" type="impl:AplicacionExternaCSVConnectorWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getContenidoDocumento">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getContenidoDocumentoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getContenidoDocumentoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="existeDocumento">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="existeDocumentoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="existeDocumentoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AplicacionExternaCSVConnectorWSService">

      <wsdl:port binding="impl:AplicacionExternaCSVConnectorWSSoapBinding" name="AplicacionExternaCSVConnectorWS">

         <wsdlsoap:address location="http://localhost:8080/SIGEM_RegistroTelematicoWS/services/AplicacionExternaCSVConnectorWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
