sigem/SIGEM_SessionUsuarioWS/src/main/webapp/wsdl/SesionUsuarioWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://server.ws.autenticacion.sgm.tecdoc.ieci" xmlns:impl="http://server.ws.autenticacion.sgm.tecdoc.ieci" xmlns:intf="http://server.ws.autenticacion.sgm.tecdoc.ieci" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://sesion.services.core.sgm.tecdoc.ieci" xmlns:tns1="http://dto.services.core.sgm.tecdoc.ieci" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://server.ws.autenticacion.sgm.tecdoc.ieci" elementFormDefault="qualified">
   <import namespace="http://sesion.services.core.sgm.tecdoc.ieci"/>
   <import namespace="http://dto.services.core.sgm.tecdoc.ieci"/>
   <element name="loginExternalUser">
    <complexType>
     <sequence>
      <element name="poLogin" type="impl:LoginExternalUser"/>
      <element name="entidad" type="tns1:Entidad"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="LoginExternalUser">
    <sequence>
     <element name="actSessionId" nillable="true" type="xsd:string"/>
     <element name="apellidos" nillable="true" type="xsd:string"/>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="nombre" nillable="true" type="xsd:string"/>
     <element name="senderId" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="loginExternalUserResponse">
    <complexType>
     <sequence>
      <element name="loginExternalUserReturn" type="impl:IdentificadorSesion"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="IdentificadorSesion">
    <complexContent>
     <extension base="tns1:RetornoServicio">
      <sequence>
       <element name="sessionId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <element name="loginCertificate">
    <complexType>
     <sequence>
      <element name="poLogin" type="impl:LoginCertificado"/>
      <element name="poEntidad" type="tns1:Entidad"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="LoginCertificado">
    <sequence>
     <element name="b64certificate" nillable="true" type="xsd:string"/>
     <element name="procedureId" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="loginCertificateResponse">
    <complexType>
     <sequence>
      <element name="loginCertificateReturn" type="impl:IdentificadorSesion"/>
     </sequence>
    </complexType>
   </element>
   <element name="loginCertificateAuth">
    <complexType>
     <sequence>
      <element name="poLogin" type="impl:LoginCertificadoAutoridad"/>
      <element name="poEntidad" type="tns1:Entidad"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="LoginCertificadoAutoridad">
    <complexContent>
     <extension base="impl:LoginCertificado">
      <sequence>
       <element name="authId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <element name="loginCertificateAuthResponse">
    <complexType>
     <sequence>
      <element name="loginCertificateAuthReturn" type="impl:IdentificadorSesion"/>
     </sequence>
    </complexType>
   </element>
   <element name="logout">
    <complexType>
     <sequence>
      <element name="sessionId" type="impl:IdentificadorSesion"/>
      <element name="poEntidad" type="tns1:Entidad"/>
     </sequence>
    </complexType>
   </element>
   <element name="logoutResponse">
    <complexType>
     <sequence>
      <element name="logoutReturn" type="tns1:RetornoServicio"/>
     </sequence>
    </complexType>
   </element>
   <element name="crearSesion">
    <complexType>
     <sequence>
      <element name="poSessionUsuario" type="impl:SesionUsuario"/>
      <element name="poEntidad" type="tns1:Entidad"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="InfoUsuario">
    <complexContent>
     <extension base="tns1:RetornoServicio">
      <sequence>
       <element name="CIF" nillable="true" type="xsd:string"/>
       <element name="certificateIssuer" nillable="true" type="xsd:string"/>
       <element name="certificateSN" nillable="true" type="xsd:string"/>
       <element name="email" nillable="true" type="xsd:string"/>
       <element name="id" nillable="true" type="xsd:string"/>
       <element name="inQuality" nillable="true" type="xsd:string"/>
       <element name="name" nillable="true" type="xsd:string"/>
       <element name="socialName" nillable="true" type="xsd:string"/>
       <element name="firstName" nillable="true" type="xsd:string"/>
       <element name="surName" nillable="true" type="xsd:string"/>
       <element name="surName2" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="SesionUsuario">
    <complexContent>
     <extension base="tns1:RetornoServicio">
      <sequence>
       <element name="hookId" nillable="true" type="xsd:string"/>
       <element name="loginDate" nillable="true" type="xsd:string"/>
       <element name="sender" nillable="true" type="impl:InfoUsuario"/>
       <element name="sessionId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <element name="crearSesionResponse">
    <complexType>
     <sequence>
      <element name="crearSesionReturn" type="tns1:RetornoServicio"/>
     </sequence>
    </complexType>
   </element>
   <element name="borrarSesion">
    <complexType>
     <sequence>
      <element name="poIdSesion" type="impl:IdentificadorSesion"/>
      <element name="poEntidad" type="tns1:Entidad"/>
     </sequence>
    </complexType>
   </element>
   <element name="borrarSesionResponse">
    <complexType>
     <sequence>
      <element name="borrarSesionReturn" type="tns1:RetornoServicio"/>
     </sequence>
    </complexType>
   </element>
   <element name="limpiarSesiones">
    <complexType>
     <sequence>
      <element name="poEntidad" type="tns1:Entidad"/>
     </sequence>
    </complexType>
   </element>
   <element name="limpiarSesionesResponse">
    <complexType>
     <sequence>
      <element name="limpiarSesionesReturn" type="tns1:RetornoServicio"/>
     </sequence>
    </complexType>
   </element>
   <element name="limpiarSesionesTimeOut">
    <complexType>
     <sequence>
      <element name="timeout" type="tns2:LimpiarSesiones"/>
      <element name="poEntidad" type="tns1:Entidad"/>
     </sequence>
    </complexType>
   </element>
   <element name="limpiarSesionesTimeOutResponse">
    <complexType>
     <sequence>
      <element name="limpiarSesionesTimeOutReturn" type="tns1:RetornoServicio"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerSesion">
    <complexType>
     <sequence>
      <element name="poIdSesion" type="impl:IdentificadorSesion"/>
      <element name="poEntidad" type="tns1:Entidad"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerSesionResponse">
    <complexType>
     <sequence>
      <element name="obtenerSesionReturn" type="impl:SesionUsuario"/>
     </sequence>
    </complexType>
   </element>
   <element name="getInfoUsuario">
    <complexType>
     <sequence>
      <element name="poIdSesion" type="impl:IdentificadorSesion"/>
      <element name="poEntidad" type="tns1:Entidad"/>
     </sequence>
    </complexType>
   </element>
   <element name="getInfoUsuarioResponse">
    <complexType>
     <sequence>
      <element name="getInfoUsuarioReturn" type="impl:InfoUsuario"/>
     </sequence>
    </complexType>
   </element>
   <element name="getIdMetodoAutenticacion">
    <complexType>
     <sequence>
      <element name="poIdSesion" type="impl:IdentificadorSesion"/>
      <element name="poEntidad" type="tns1:Entidad"/>
     </sequence>
    </complexType>
   </element>
   <element name="getIdMetodoAutenticacionResponse">
    <complexType>
     <sequence>
      <element name="getIdMetodoAutenticacionReturn" type="impl:MetodoAutenticacion"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="MetodoAutenticacion">
    <complexContent>
     <extension base="tns1:RetornoServicio">
      <sequence>
       <element name="description" nillable="true" type="xsd:string"/>
       <element name="id" nillable="true" type="xsd:string"/>
       <element name="type" type="xsd:int"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <element name="getMetodoAutenticacion">
    <complexType>
     <sequence>
      <element name="poIdSesion" type="impl:IdentificadorSesion"/>
      <element name="poEntidad" type="tns1:Entidad"/>
     </sequence>
    </complexType>
   </element>
   <element name="getMetodoAutenticacionResponse">
    <complexType>
     <sequence>
      <element name="getMetodoAutenticacionReturn" type="impl:MetodoAutenticacion"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dto.services.core.sgm.tecdoc.ieci" elementFormDefault="qualified">
   <import namespace="http://sesion.services.core.sgm.tecdoc.ieci"/>
   <import namespace="http://server.ws.autenticacion.sgm.tecdoc.ieci"/>
   <complexType name="Entidad">
    <sequence>
     <element name="identificador" nillable="true" type="xsd:string"/>
     <element name="nombre" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="RetornoServicio">
    <sequence>
     <element name="errorCode" nillable="true" type="xsd:string"/>
     <element name="returnCode" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sesion.services.core.sgm.tecdoc.ieci" elementFormDefault="qualified">
   <import namespace="http://dto.services.core.sgm.tecdoc.ieci"/>
   <import namespace="http://server.ws.autenticacion.sgm.tecdoc.ieci"/>
   <complexType name="LimpiarSesiones">
    <sequence>
     <element name="timeout" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="limpiarSesionesResponse">

      <wsdl:part name="parameters" element="impl:limpiarSesionesResponse"/>

   </wsdl:message>

   <wsdl:message name="crearSesionResponse">

      <wsdl:part name="parameters" element="impl:crearSesionResponse"/>

   </wsdl:message>

   <wsdl:message name="crearSesionRequest">

      <wsdl:part name="parameters" element="impl:crearSesion"/>

   </wsdl:message>

   <wsdl:message name="getIdMetodoAutenticacionResponse">

      <wsdl:part name="parameters" element="impl:getIdMetodoAutenticacionResponse"/>

   </wsdl:message>

   <wsdl:message name="loginCertificateAuthRequest">

      <wsdl:part name="parameters" element="impl:loginCertificateAuth"/>

   </wsdl:message>

   <wsdl:message name="getInfoUsuarioResponse">

      <wsdl:part name="parameters" element="impl:getInfoUsuarioResponse"/>

   </wsdl:message>

   <wsdl:message name="loginCertificateAuthResponse">

      <wsdl:part name="parameters" element="impl:loginCertificateAuthResponse"/>

   </wsdl:message>

   <wsdl:message name="getMetodoAutenticacionResponse">

      <wsdl:part name="parameters" element="impl:getMetodoAutenticacionResponse"/>

   </wsdl:message>

   <wsdl:message name="loginCertificateRequest">

      <wsdl:part name="parameters" element="impl:loginCertificate"/>

   </wsdl:message>

   <wsdl:message name="getInfoUsuarioRequest">

      <wsdl:part name="parameters" element="impl:getInfoUsuario"/>

   </wsdl:message>

   <wsdl:message name="loginExternalUserRequest">

      <wsdl:part name="parameters" element="impl:loginExternalUser"/>

   </wsdl:message>

   <wsdl:message name="limpiarSesionesTimeOutResponse">

      <wsdl:part name="parameters" element="impl:limpiarSesionesTimeOutResponse"/>

   </wsdl:message>

   <wsdl:message name="borrarSesionRequest">

      <wsdl:part name="parameters" element="impl:borrarSesion"/>

   </wsdl:message>

   <wsdl:message name="limpiarSesionesTimeOutRequest">

      <wsdl:part name="parameters" element="impl:limpiarSesionesTimeOut"/>

   </wsdl:message>

   <wsdl:message name="loginCertificateResponse">

      <wsdl:part name="parameters" element="impl:loginCertificateResponse"/>

   </wsdl:message>

   <wsdl:message name="getMetodoAutenticacionRequest">

      <wsdl:part name="parameters" element="impl:getMetodoAutenticacion"/>

   </wsdl:message>

   <wsdl:message name="obtenerSesionResponse">

      <wsdl:part name="parameters" element="impl:obtenerSesionResponse"/>

   </wsdl:message>

   <wsdl:message name="logoutResponse">

      <wsdl:part name="parameters" element="impl:logoutResponse"/>

   </wsdl:message>

   <wsdl:message name="getIdMetodoAutenticacionRequest">

      <wsdl:part name="parameters" element="impl:getIdMetodoAutenticacion"/>

   </wsdl:message>

   <wsdl:message name="borrarSesionResponse">

      <wsdl:part name="parameters" element="impl:borrarSesionResponse"/>

   </wsdl:message>

   <wsdl:message name="obtenerSesionRequest">

      <wsdl:part name="parameters" element="impl:obtenerSesion"/>

   </wsdl:message>

   <wsdl:message name="logoutRequest">

      <wsdl:part name="parameters" element="impl:logout"/>

   </wsdl:message>

   <wsdl:message name="loginExternalUserResponse">

      <wsdl:part name="parameters" element="impl:loginExternalUserResponse"/>

   </wsdl:message>

   <wsdl:message name="limpiarSesionesRequest">

      <wsdl:part name="parameters" element="impl:limpiarSesiones"/>

   </wsdl:message>

   <wsdl:portType name="SesionUsuarioWebService">

      <wsdl:operation name="loginExternalUser">

         <wsdl:input name="loginExternalUserRequest" message="impl:loginExternalUserRequest"/>

         <wsdl:output name="loginExternalUserResponse" message="impl:loginExternalUserResponse"/>

      </wsdl:operation>

      <wsdl:operation name="loginCertificate">

         <wsdl:input name="loginCertificateRequest" message="impl:loginCertificateRequest"/>

         <wsdl:output name="loginCertificateResponse" message="impl:loginCertificateResponse"/>

      </wsdl:operation>

      <wsdl:operation name="loginCertificateAuth">

         <wsdl:input name="loginCertificateAuthRequest" message="impl:loginCertificateAuthRequest"/>

         <wsdl:output name="loginCertificateAuthResponse" message="impl:loginCertificateAuthResponse"/>

      </wsdl:operation>

      <wsdl:operation name="logout">

         <wsdl:input name="logoutRequest" message="impl:logoutRequest"/>

         <wsdl:output name="logoutResponse" message="impl:logoutResponse"/>

      </wsdl:operation>

      <wsdl:operation name="crearSesion">

         <wsdl:input name="crearSesionRequest" message="impl:crearSesionRequest"/>

         <wsdl:output name="crearSesionResponse" message="impl:crearSesionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="borrarSesion">

         <wsdl:input name="borrarSesionRequest" message="impl:borrarSesionRequest"/>

         <wsdl:output name="borrarSesionResponse" message="impl:borrarSesionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="limpiarSesiones">

         <wsdl:input name="limpiarSesionesRequest" message="impl:limpiarSesionesRequest"/>

         <wsdl:output name="limpiarSesionesResponse" message="impl:limpiarSesionesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="limpiarSesionesTimeOut">

         <wsdl:input name="limpiarSesionesTimeOutRequest" message="impl:limpiarSesionesTimeOutRequest"/>

         <wsdl:output name="limpiarSesionesTimeOutResponse" message="impl:limpiarSesionesTimeOutResponse"/>

      </wsdl:operation>

      <wsdl:operation name="obtenerSesion">

         <wsdl:input name="obtenerSesionRequest" message="impl:obtenerSesionRequest"/>

         <wsdl:output name="obtenerSesionResponse" message="impl:obtenerSesionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getInfoUsuario">

         <wsdl:input name="getInfoUsuarioRequest" message="impl:getInfoUsuarioRequest"/>

         <wsdl:output name="getInfoUsuarioResponse" message="impl:getInfoUsuarioResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getIdMetodoAutenticacion">

         <wsdl:input name="getIdMetodoAutenticacionRequest" message="impl:getIdMetodoAutenticacionRequest"/>

         <wsdl:output name="getIdMetodoAutenticacionResponse" message="impl:getIdMetodoAutenticacionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getMetodoAutenticacion">

         <wsdl:input name="getMetodoAutenticacionRequest" message="impl:getMetodoAutenticacionRequest"/>

         <wsdl:output name="getMetodoAutenticacionResponse" message="impl:getMetodoAutenticacionResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SesionUsuarioWebServiceSoapBinding" type="impl:SesionUsuarioWebService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="loginExternalUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginExternalUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loginExternalUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="loginCertificate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginCertificateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loginCertificateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="loginCertificateAuth">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginCertificateAuthRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loginCertificateAuthResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="logout">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="logoutRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="logoutResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="crearSesion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="crearSesionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="crearSesionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="borrarSesion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="borrarSesionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="borrarSesionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="limpiarSesiones">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="limpiarSesionesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="limpiarSesionesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="limpiarSesionesTimeOut">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="limpiarSesionesTimeOutRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="limpiarSesionesTimeOutResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerSesion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerSesionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerSesionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getInfoUsuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getInfoUsuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getInfoUsuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getIdMetodoAutenticacion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getIdMetodoAutenticacionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getIdMetodoAutenticacionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMetodoAutenticacion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMetodoAutenticacionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getMetodoAutenticacionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SesionUsuarioWebServiceService">

      <wsdl:port name="SesionUsuarioWebService" binding="impl:SesionUsuarioWebServiceSoapBinding">

         <wsdlsoap:address location="http://localhost:8080/SIGEM_SessionUsuarioWS/services/SesionUsuarioWebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
