sigem/SIGEM_AntivirusWS/src/main/webapp/wsdl/AntivirusWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://server.ws.antivirus.sgm.tecdoc.ieci" xmlns:impl="http://server.ws.antivirus.sgm.tecdoc.ieci" xmlns:intf="http://server.ws.antivirus.sgm.tecdoc.ieci" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://dto.services.core.sgm.tecdoc.ieci" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://server.ws.antivirus.sgm.tecdoc.ieci" elementFormDefault="qualified">
   <import namespace="http://dto.services.core.sgm.tecdoc.ieci"/>
   <element name="comprobarFicheroContenido">
    <complexType>
     <sequence>
      <element name="contenidoFichero" type="impl:RetornoArrayByte"/>
      <element name="borrar" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="RetornoArrayByte">
    <complexContent>
     <extension base="tns1:RetornoServicio">
      <sequence>
       <element name="contenido" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <element name="comprobarFicheroContenidoResponse">
    <complexType>
     <sequence>
      <element name="comprobarFicheroContenidoReturn" type="impl:RetornoBooleano"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="RetornoBooleano">
    <complexContent>
     <extension base="tns1:RetornoServicio">
      <sequence>
       <element name="valor" type="xsd:boolean"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <element name="comprobarFicheroRuta">
    <complexType>
     <sequence>
      <element name="rutaFichero" type="xsd:string"/>
      <element name="borrar" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="comprobarFicheroRutaResponse">
    <complexType>
     <sequence>
      <element name="comprobarFicheroRutaReturn" type="impl:RetornoBooleano"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dto.services.core.sgm.tecdoc.ieci" elementFormDefault="qualified">
   <import namespace="http://server.ws.antivirus.sgm.tecdoc.ieci"/>
   <complexType name="RetornoServicio">
    <sequence>
     <element name="errorCode" nillable="true" type="xsd:string"/>
     <element name="returnCode" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="comprobarFicheroRutaRequest">

      <wsdl:part name="parameters" element="impl:comprobarFicheroRuta"/>

   </wsdl:message>

   <wsdl:message name="comprobarFicheroContenidoResponse">

      <wsdl:part name="parameters" element="impl:comprobarFicheroContenidoResponse"/>

   </wsdl:message>

   <wsdl:message name="comprobarFicheroRutaResponse">

      <wsdl:part name="parameters" element="impl:comprobarFicheroRutaResponse"/>

   </wsdl:message>

   <wsdl:message name="comprobarFicheroContenidoRequest">

      <wsdl:part name="parameters" element="impl:comprobarFicheroContenido"/>

   </wsdl:message>

   <wsdl:portType name="AntivirusWebService">

      <wsdl:operation name="comprobarFicheroContenido">

         <wsdl:input name="comprobarFicheroContenidoRequest" message="impl:comprobarFicheroContenidoRequest"/>

         <wsdl:output name="comprobarFicheroContenidoResponse" message="impl:comprobarFicheroContenidoResponse"/>

      </wsdl:operation>

      <wsdl:operation name="comprobarFicheroRuta">

         <wsdl:input name="comprobarFicheroRutaRequest" message="impl:comprobarFicheroRutaRequest"/>

         <wsdl:output name="comprobarFicheroRutaResponse" message="impl:comprobarFicheroRutaResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AntivirusWebServiceSoapBinding" type="impl:AntivirusWebService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="comprobarFicheroContenido">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="comprobarFicheroContenidoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="comprobarFicheroContenidoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="comprobarFicheroRuta">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="comprobarFicheroRutaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="comprobarFicheroRutaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AntivirusWebServiceService">

      <wsdl:port name="AntivirusWebService" binding="impl:AntivirusWebServiceSoapBinding">

         <wsdlsoap:address location="http://localhost:8080/SIGEM_AntivirusWS/services/AntivirusWebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
