framework-csv/fwktd-csv-ws/src/main/resources/wsdl/ServicioAplicaciones.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ServicioAplicaciones"
	targetNamespace="http://service.ws.csv.fwktd.tecdoc.ieci.es/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.ws.csv.fwktd.tecdoc.ieci.es/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xs:schema xmlns:tns="http://service.ws.csv.fwktd.tecdoc.ieci.es/"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
			elementFormDefault="unqualified" targetNamespace="http://service.ws.csv.fwktd.tecdoc.ieci.es/">
			<xs:complexType name="aplicacionCSVForm">
				<xs:sequence>
					<xs:element minOccurs="0" name="codigo" type="xs:string" />
					<xs:element minOccurs="0" name="infoConexion" type="xs:string" />
					<xs:element minOccurs="0" name="nombre" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="aplicacionCSV">
				<xs:complexContent>
					<xs:extension base="tns:aplicacionCSVForm">
						<xs:sequence>
							<xs:element minOccurs="0" name="id" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="updateAplicacion" type="tns:updateAplicacion" />
			<xs:complexType name="updateAplicacion">
				<xs:sequence>
					<xs:element minOccurs="0" name="aplicacion" type="tns:aplicacionCSV" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="updateAplicacionResponse" type="tns:updateAplicacionResponse" />
			<xs:complexType name="updateAplicacionResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:aplicacionCSV" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="getAplicacion" type="tns:getAplicacion" />
			<xs:complexType name="getAplicacion">
				<xs:sequence>
					<xs:element minOccurs="0" name="id" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="getAplicacionResponse" type="tns:getAplicacionResponse" />
			<xs:complexType name="getAplicacionResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:aplicacionCSV" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="saveAplicacion" type="tns:saveAplicacion" />
			<xs:complexType name="saveAplicacion">
				<xs:sequence>
					<xs:element minOccurs="0" name="aplicacionForm" type="tns:aplicacionCSVForm" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="saveAplicacionResponse" type="tns:saveAplicacionResponse" />
			<xs:complexType name="saveAplicacionResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:aplicacionCSV" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="getAplicaciones" type="tns:getAplicaciones" />
			<xs:complexType name="getAplicaciones">
				<xs:sequence />
			</xs:complexType>
			<xs:element name="getAplicacionesResponse" type="tns:getAplicacionesResponse" />
			<xs:complexType name="getAplicacionesResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="return"
						type="tns:aplicacionCSV" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="deleteAplicacion" type="tns:deleteAplicacion" />
			<xs:complexType name="deleteAplicacion">
				<xs:sequence>
					<xs:element minOccurs="0" name="id" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="deleteAplicacionResponse" type="tns:deleteAplicacionResponse" />
			<xs:complexType name="deleteAplicacionResponse">
				<xs:sequence />
			</xs:complexType>
			<xs:element name="getAplicacionByCodigo" type="tns:getAplicacionByCodigo" />
			<xs:complexType name="getAplicacionByCodigo">
				<xs:sequence>
					<xs:element minOccurs="0" name="codigo" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="getAplicacionByCodigoResponse" type="tns:getAplicacionByCodigoResponse" />
			<xs:complexType name="getAplicacionByCodigoResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:aplicacionCSV" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getAplicaciones">
		<wsdl:part name="parameters" element="tns:getAplicaciones">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAplicacion">
		<wsdl:part name="parameters" element="tns:getAplicacion">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAplicacionByCodigoResponse">
		<wsdl:part name="parameters" element="tns:getAplicacionByCodigoResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAplicacionResponse">
		<wsdl:part name="parameters" element="tns:getAplicacionResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="deleteAplicacionResponse">
		<wsdl:part name="parameters" element="tns:deleteAplicacionResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="saveAplicacion">
		<wsdl:part name="parameters" element="tns:saveAplicacion">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateAplicacionResponse">
		<wsdl:part name="parameters" element="tns:updateAplicacionResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAplicacionByCodigo">
		<wsdl:part name="parameters" element="tns:getAplicacionByCodigo">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAplicacionesResponse">
		<wsdl:part name="parameters" element="tns:getAplicacionesResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="deleteAplicacion">
		<wsdl:part name="parameters" element="tns:deleteAplicacion">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="saveAplicacionResponse">
		<wsdl:part name="parameters" element="tns:saveAplicacionResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateAplicacion">
		<wsdl:part name="parameters" element="tns:updateAplicacion">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ServicioAplicacionesPortType">
		<wsdl:operation name="updateAplicacion">
			<wsdl:input name="updateAplicacion" message="tns:updateAplicacion">
			</wsdl:input>
			<wsdl:output name="updateAplicacionResponse" message="tns:updateAplicacionResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAplicacion">
			<wsdl:input name="getAplicacion" message="tns:getAplicacion">
			</wsdl:input>
			<wsdl:output name="getAplicacionResponse" message="tns:getAplicacionResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="saveAplicacion">
			<wsdl:input name="saveAplicacion" message="tns:saveAplicacion">
			</wsdl:input>
			<wsdl:output name="saveAplicacionResponse" message="tns:saveAplicacionResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAplicaciones">
			<wsdl:input name="getAplicaciones" message="tns:getAplicaciones">
			</wsdl:input>
			<wsdl:output name="getAplicacionesResponse" message="tns:getAplicacionesResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deleteAplicacion">
			<wsdl:input name="deleteAplicacion" message="tns:deleteAplicacion">
			</wsdl:input>
			<wsdl:output name="deleteAplicacionResponse" message="tns:deleteAplicacionResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAplicacionByCodigo">
			<wsdl:input name="getAplicacionByCodigo" message="tns:getAplicacionByCodigo">
			</wsdl:input>
			<wsdl:output name="getAplicacionByCodigoResponse"
				message="tns:getAplicacionByCodigoResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ServicioAplicacionesSoapBinding" type="tns:ServicioAplicacionesPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getAplicacion">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getAplicacion">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getAplicacionResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateAplicacion">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="updateAplicacion">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="updateAplicacionResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="saveAplicacion">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="saveAplicacion">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="saveAplicacionResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAplicaciones">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getAplicaciones">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getAplicacionesResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deleteAplicacion">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="deleteAplicacion">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="deleteAplicacionResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAplicacionByCodigo">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getAplicacionByCodigo">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getAplicacionByCodigoResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ServicioAplicaciones">
		<wsdl:port name="ServicioAplicacionesPort" binding="tns:ServicioAplicacionesSoapBinding">
			<soap:address location="http://localhost:9090/ServicioAplicacionesPort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
