registro/ISicres-WS-legacy/src/main/resources/deprecatedWsdl/ServicioRegistroWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://server.ws.registropresencial.sgm.tecdoc.ieci" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://server.ws.registropresencial.sgm.tecdoc.ieci" xmlns:intf="http://server.ws.registropresencial.sgm.tecdoc.ieci" xmlns:tns1="http://dto.services.core.sgm.tecdoc.ieci" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://server.ws.registropresencial.sgm.tecdoc.ieci" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dto.services.core.sgm.tecdoc.ieci"/>
   <element name="createFolder">
    <complexType>
     <sequence>
      <element name="user" type="impl:UserInfo"/>
      <element maxOccurs="unbounded" name="inter" type="impl:PersonInfo"/>
      <element name="folder" type="impl:Folder"/>
      <element name="entidad" type="tns1:Entidad"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="UserInfo">
    <sequence>
     <element name="aditionalOfic" nillable="true" type="xsd:string"/>
     <element name="locale" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="userName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="PersonInfo">
    <sequence>
     <element name="direction" nillable="true" type="xsd:string"/>
     <element name="domId" nillable="true" type="xsd:string"/>
     <element name="personId" nillable="true" type="xsd:string"/>
     <element name="personName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="BookId">
    <sequence>
     <element name="bookId" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Page">
    <sequence>
     <element name="docID" nillable="true" type="xsd:string"/>
     <element name="fileID" nillable="true" type="xsd:string"/>
     <element name="folderId" nillable="true" type="xsd:string"/>
     <element name="loc" nillable="true" type="xsd:string"/>
     <element name="pageID" nillable="true" type="xsd:string"/>
     <element name="pageName" nillable="true" type="xsd:string"/>
     <element name="volidID" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfPage">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:Page"/>
    </sequence>
   </complexType>
   <complexType name="DocumentsWithPage">
    <sequence>
     <element name="bookId" nillable="true" type="xsd:string"/>
     <element name="docID" nillable="true" type="xsd:string"/>
     <element name="documentName" nillable="true" type="xsd:string"/>
     <element name="folderId" nillable="true" type="xsd:string"/>
     <element name="pages" nillable="true" type="impl:ArrayOfPage"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfDocumentsWithPage">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:DocumentsWithPage"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfPersonInfo">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:PersonInfo"/>
    </sequence>
   </complexType>
   <complexType name="FolderWithPersonInfo">
    <complexContent>
     <extension base="impl:Folder">
      <sequence>
       <element name="persons" nillable="true" type="impl:ArrayOfPersonInfo"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="Document">
    <complexContent>
     <extension base="tns1:RetornoServicio">
      <sequence>
       <element name="docID" nillable="true" type="xsd:string"/>
       <element name="documentContentB64" nillable="true" type="xsd:string"/>
       <element name="documentName" nillable="true" type="xsd:string"/>
       <element name="extension" nillable="true" type="xsd:string"/>
       <element name="fileName" nillable="true" type="xsd:string"/>
       <element name="folder" nillable="true" type="impl:Folder"/>
       <element name="pageID" nillable="true" type="xsd:string"/>
       <element name="pageName" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ArrayOfDocument">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:Document"/>
    </sequence>
   </complexType>
   <complexType name="Documents">
    <complexContent>
     <extension base="tns1:RetornoServicio">
      <sequence>
       <element name="documents" nillable="true" type="impl:ArrayOfDocument"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="FieldInfo">
    <sequence>
     <element name="fieldId" nillable="true" type="xsd:string"/>
     <element name="value" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfFieldInfo">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:FieldInfo"/>
    </sequence>
   </complexType>
   <complexType name="Fields">
    <complexContent>
     <extension base="tns1:RetornoServicio">
      <sequence>
       <element name="fields" nillable="true" type="impl:ArrayOfFieldInfo"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="Folder">
    <complexContent>
     <extension base="tns1:RetornoServicio">
      <sequence>
       <element name="bookId" nillable="true" type="impl:BookId"/>
       <element name="docWithPage" nillable="true" type="impl:ArrayOfDocumentsWithPage"/>
       <element name="documentos" nillable="true" type="impl:Documents"/>
       <element name="fields" nillable="true" type="impl:Fields"/>
       <element name="folderId" nillable="true" type="xsd:string"/>
       <element name="folderNumber" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <element name="createFolderResponse">
    <complexType>
     <sequence>
      <element name="createFolderReturn" type="impl:RegisterInfo"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="RegisterInfo">
    <complexContent>
     <extension base="tns1:RetornoServicio">
      <sequence>
       <element name="bookId" nillable="true" type="xsd:string"/>
       <element name="date" nillable="true" type="xsd:string"/>
       <element name="folderId" nillable="true" type="xsd:string"/>
       <element name="number" nillable="true" type="xsd:string"/>
       <element name="office" nillable="true" type="xsd:string"/>
       <element name="officeName" nillable="true" type="xsd:string"/>
       <element name="state" nillable="true" type="xsd:string"/>
       <element name="userName" nillable="true" type="xsd:string"/>
       <element name="workDate" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <element name="updateFolder">
    <complexType>
     <sequence>
      <element name="user" type="impl:UserInfo"/>
      <element maxOccurs="unbounded" name="inter" type="impl:PersonInfo"/>
      <element name="folder" type="impl:Folder"/>
      <element name="entidad" type="tns1:Entidad"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateFolderResponse">
    <complexType>
     <sequence>
      <element name="updateFolderReturn" type="impl:RegisterInfo"/>
     </sequence>
    </complexType>
   </element>
   <element name="importFolder">
    <complexType>
     <sequence>
      <element name="user" type="impl:UserInfo"/>
      <element maxOccurs="unbounded" name="inter" type="impl:PersonInfo"/>
      <element name="folder" type="impl:Folder"/>
      <element name="entidad" type="tns1:Entidad"/>
     </sequence>
    </complexType>
   </element>
   <element name="importFolderResponse">
    <complexType>
     <sequence>
      <element name="importFolderReturn" type="impl:RegisterInfo"/>
     </sequence>
    </complexType>
   </element>
   <element name="getInputFolderForNumber">
    <complexType>
     <sequence>
      <element name="user" type="impl:UserInfo"/>
      <element name="folder" type="impl:Folder"/>
      <element name="entidad" type="tns1:Entidad"/>
     </sequence>
    </complexType>
   </element>
   <element name="getInputFolderForNumberResponse">
    <complexType>
     <sequence>
      <element name="getInputFolderForNumberReturn" type="impl:Folder"/>
     </sequence>
    </complexType>
   </element>
   <element name="getOutputFolderForNumber">
    <complexType>
     <sequence>
      <element name="user" type="impl:UserInfo"/>
      <element name="folder" type="impl:Folder"/>
      <element name="entidad" type="tns1:Entidad"/>
     </sequence>
    </complexType>
   </element>
   <element name="getOutputFolderForNumberResponse">
    <complexType>
     <sequence>
      <element name="getOutputFolderForNumberReturn" type="impl:Folder"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDocumentFolder">
    <complexType>
     <sequence>
      <element name="user" type="impl:UserInfo"/>
      <element name="document" type="impl:Document"/>
      <element name="entidad" type="tns1:Entidad"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDocumentFolderResponse">
    <complexType>
     <sequence>
      <element name="getDocumentFolderReturn" type="impl:Document"/>
     </sequence>
    </complexType>
   </element>
   <element name="getInputDistribution">
    <complexType>
     <sequence>
      <element name="user" type="impl:UserInfo"/>
      <element name="criteria" type="impl:DistributionSearchCriteria"/>
      <element name="entidad" type="tns1:Entidad"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="DistributionSearchCriteria">
    <sequence>
     <element name="firstRow" nillable="true" type="xsd:string"/>
     <element name="maxResults" nillable="true" type="xsd:string"/>
     <element name="state" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="getInputDistributionResponse">
    <complexType>
     <sequence>
      <element name="getInputDistributionReturn" type="impl:DistributionsInfo"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="DistributionInfo">
    <complexContent>
     <extension base="tns1:RetornoServicio">
      <sequence>
       <element name="bookId" nillable="true" type="xsd:string"/>
       <element name="bookName" nillable="true" type="xsd:string"/>
       <element name="bookType" nillable="true" type="xsd:string"/>
       <element name="destinationId" nillable="true" type="xsd:string"/>
       <element name="destinationName" nillable="true" type="xsd:string"/>
       <element name="destinationType" nillable="true" type="xsd:string"/>
       <element name="distributionDate" nillable="true" type="xsd:string"/>
       <element name="dtrId" nillable="true" type="xsd:string"/>
       <element name="folderId" nillable="true" type="xsd:string"/>
       <element name="message" nillable="true" type="xsd:string"/>
       <element name="registerDate" nillable="true" type="xsd:string"/>
       <element name="registerDestinationName" nillable="true" type="xsd:string"/>
       <element name="registerMatter" nillable="true" type="xsd:string"/>
       <element name="registerMatterTypeName" nillable="true" type="xsd:string"/>
       <element name="registerNumber" nillable="true" type="xsd:string"/>
       <element name="senderId" nillable="true" type="xsd:string"/>
       <element name="senderName" nillable="true" type="xsd:string"/>
       <element name="senderType" nillable="true" type="xsd:string"/>
       <element name="state" nillable="true" type="xsd:string"/>
       <element name="stateDate" nillable="true" type="xsd:string"/>
       <element name="stateDescription" nillable="true" type="xsd:string"/>
       <element name="user" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ArrayOfDistributionInfo">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:DistributionInfo"/>
    </sequence>
   </complexType>
   <complexType name="DistributionsInfo">
    <complexContent>
     <extension base="tns1:RetornoServicio">
      <sequence>
       <element name="distributions" nillable="true" type="impl:ArrayOfDistributionInfo"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <element name="getOutputDistribution">
    <complexType>
     <sequence>
      <element name="user" type="impl:UserInfo"/>
      <element name="criteria" type="impl:DistributionSearchCriteria"/>
      <element name="entidad" type="tns1:Entidad"/>
     </sequence>
    </complexType>
   </element>
   <element name="getOutputDistributionResponse">
    <complexType>
     <sequence>
      <element name="getOutputDistributionReturn" type="impl:DistributionsInfo"/>
     </sequence>
    </complexType>
   </element>
   <element name="acceptDistribution">
    <complexType>
     <sequence>
      <element name="user" type="impl:UserInfo"/>
      <element name="folder" type="impl:Folder"/>
      <element name="entidad" type="tns1:Entidad"/>
     </sequence>
    </complexType>
   </element>
   <element name="acceptDistributionResponse">
    <complexType>
     <sequence>
      <element name="acceptDistributionReturn" type="tns1:RetornoServicio"/>
     </sequence>
    </complexType>
   </element>
   <element name="archiveDistribution">
    <complexType>
     <sequence>
      <element name="user" type="impl:UserInfo"/>
      <element name="folder" type="impl:Folder"/>
      <element name="entidad" type="tns1:Entidad"/>
     </sequence>
    </complexType>
   </element>
   <element name="archiveDistributionResponse">
    <complexType>
     <sequence>
      <element name="archiveDistributionReturn" type="tns1:RetornoServicio"/>
     </sequence>
    </complexType>
   </element>
   <element name="rejectDistribution">
    <complexType>
     <sequence>
      <element name="user" type="impl:UserInfo"/>
      <element name="folder" type="impl:Folder"/>
      <element name="options" type="impl:DistributionOptions"/>
      <element name="entidad" type="tns1:Entidad"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="DistributionOptions">
    <sequence>
     <element name="code" nillable="true" type="xsd:string"/>
     <element name="remarks" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="rejectDistributionResponse">
    <complexType>
     <sequence>
      <element name="rejectDistributionReturn" type="tns1:RetornoServicio"/>
     </sequence>
    </complexType>
   </element>
   <element name="changeInputDistribution">
    <complexType>
     <sequence>
      <element name="user" type="impl:UserInfo"/>
      <element name="folder" type="impl:Folder"/>
      <element name="options" type="impl:DistributionOptions"/>
      <element name="entidad" type="tns1:Entidad"/>
     </sequence>
    </complexType>
   </element>
   <element name="changeInputDistributionResponse">
    <complexType>
     <sequence>
      <element name="changeInputDistributionReturn" type="tns1:RetornoServicio"/>
     </sequence>
    </complexType>
   </element>
   <element name="changeOutputDistribution">
    <complexType>
     <sequence>
      <element name="user" type="impl:UserInfo"/>
      <element name="folder" type="impl:Folder"/>
      <element name="options" type="impl:DistributionOptions"/>
      <element name="entidad" type="tns1:Entidad"/>
     </sequence>
    </complexType>
   </element>
   <element name="changeOutputDistributionResponse">
    <complexType>
     <sequence>
      <element name="changeOutputDistributionReturn" type="tns1:RetornoServicio"/>
     </sequence>
    </complexType>
   </element>
   <element name="findFolder">
    <complexType>
     <sequence>
      <element name="user" type="impl:UserInfo"/>
      <element name="folderQuery" type="impl:FolderSearchCriteria"/>
      <element name="entidad" type="tns1:Entidad"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="FieldInfoSearchCriteria">
    <sequence>
     <element name="fieldId" nillable="true" type="xsd:string"/>
     <element name="operator" nillable="true" type="xsd:string"/>
     <element name="value" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfFieldInfoSearchCriteria">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:FieldInfoSearchCriteria"/>
    </sequence>
   </complexType>
   <complexType name="FieldsSearchCriteria">
    <complexContent>
     <extension base="tns1:RetornoServicio">
      <sequence>
       <element name="fields" nillable="true" type="impl:ArrayOfFieldInfoSearchCriteria"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="FolderSearchCriteria">
    <complexContent>
     <extension base="tns1:RetornoServicio">
      <sequence>
       <element name="bookId" nillable="true" type="impl:BookId"/>
       <element name="fields" nillable="true" type="impl:FieldsSearchCriteria"/>
       <element name="folderId" nillable="true" type="xsd:string"/>
       <element name="folderNumber" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <element name="findFolderResponse">
    <complexType>
     <sequence>
      <element name="findFolderReturn" type="impl:RegistersInfo"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOfRegisterInfo">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:RegisterInfo"/>
    </sequence>
   </complexType>
   <complexType name="RegistersInfo">
    <complexContent>
     <extension base="tns1:RetornoServicio">
      <sequence>
       <element name="registers" nillable="true" type="impl:ArrayOfRegisterInfo"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <element name="addDocument">
    <complexType>
     <sequence>
      <element name="user" type="impl:UserInfo"/>
      <element name="folder" type="impl:Folder"/>
      <element name="entidad" type="tns1:Entidad"/>
     </sequence>
    </complexType>
   </element>
   <element name="addDocumentResponse">
    <complexType>
     <sequence>
      <element name="addDocumentReturn" type="impl:RetornoServicio"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="RetornoServicio">
    <sequence>
     <element name="errorCode" nillable="true" type="xsd:string"/>
     <element name="returnCode" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="getInputRegister">
    <complexType>
     <sequence>
      <element name="user" type="impl:UserInfo"/>
      <element name="folder" type="impl:Folder"/>
      <element name="entidad" type="tns1:Entidad"/>
     </sequence>
    </complexType>
   </element>
   <element name="getInputRegisterResponse">
    <complexType>
     <sequence>
      <element name="getInputRegisterReturn" type="impl:FolderWithPersonInfo"/>
     </sequence>
    </complexType>
   </element>
   <element name="getOutputRegister">
    <complexType>
     <sequence>
      <element name="user" type="impl:UserInfo"/>
      <element name="folder" type="impl:Folder"/>
      <element name="entidad" type="tns1:Entidad"/>
     </sequence>
    </complexType>
   </element>
   <element name="getOutputRegisterResponse">
    <complexType>
     <sequence>
      <element name="getOutputRegisterReturn" type="impl:FolderWithPersonInfo"/>
     </sequence>
    </complexType>
   </element>
   <element name="getInterestedInputRegister">
    <complexType>
     <sequence>
      <element name="user" type="impl:UserInfo"/>
      <element name="folder" type="impl:Folder"/>
      <element name="entidad" type="tns1:Entidad"/>
     </sequence>
    </complexType>
   </element>
   <element name="getInterestedInputRegisterResponse">
    <complexType>
     <sequence>
      <element name="getInterestedInputRegisterReturn" type="impl:ListaPersonInfo"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ListaPersonInfo">
    <sequence>
     <element name="errorCode" nillable="true" type="xsd:string"/>
     <element name="personsInfo" nillable="true" type="impl:ArrayOfPersonInfo"/>
     <element name="returnCode" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="getInterestedOutputRegister">
    <complexType>
     <sequence>
      <element name="user" type="impl:UserInfo"/>
      <element name="folder" type="impl:Folder"/>
      <element name="entidad" type="tns1:Entidad"/>
     </sequence>
    </complexType>
   </element>
   <element name="getInterestedOutputRegisterResponse">
    <complexType>
     <sequence>
      <element name="getInterestedOutputRegisterReturn" type="impl:ListaPersonInfo"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://dto.services.core.sgm.tecdoc.ieci" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://server.ws.registropresencial.sgm.tecdoc.ieci"/>
   <complexType name="RetornoServicio">
    <sequence>
     <element name="errorCode" nillable="true" type="xsd:string"/>
     <element name="returnCode" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Entidad">
    <sequence>
     <element name="identificador" nillable="true" type="xsd:string"/>
     <element name="nombre" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getDocumentFolderResponse">

      <wsdl:part element="impl:getDocumentFolderResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getInputRegisterResponse">

      <wsdl:part element="impl:getInputRegisterResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getOutputRegisterRequest">

      <wsdl:part element="impl:getOutputRegister" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getInputDistributionResponse">

      <wsdl:part element="impl:getInputDistributionResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="findFolderRequest">

      <wsdl:part element="impl:findFolder" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="updateFolderRequest">

      <wsdl:part element="impl:updateFolder" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="rejectDistributionResponse">

      <wsdl:part element="impl:rejectDistributionResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getOutputFolderForNumberRequest">

      <wsdl:part element="impl:getOutputFolderForNumber" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getInterestedInputRegisterRequest">

      <wsdl:part element="impl:getInterestedInputRegister" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getDocumentFolderRequest">

      <wsdl:part element="impl:getDocumentFolder" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getInputFolderForNumberResponse">

      <wsdl:part element="impl:getInputFolderForNumberResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getOutputDistributionResponse">

      <wsdl:part element="impl:getOutputDistributionResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getOutputFolderForNumberResponse">

      <wsdl:part element="impl:getOutputFolderForNumberResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="createFolderResponse">

      <wsdl:part element="impl:createFolderResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="acceptDistributionResponse">

      <wsdl:part element="impl:acceptDistributionResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getInputDistributionRequest">

      <wsdl:part element="impl:getInputDistribution" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="rejectDistributionRequest">

      <wsdl:part element="impl:rejectDistribution" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="createFolderRequest">

      <wsdl:part element="impl:createFolder" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="importFolderResponse">

      <wsdl:part element="impl:importFolderResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="findFolderResponse">

      <wsdl:part element="impl:findFolderResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="changeInputDistributionResponse">

      <wsdl:part element="impl:changeInputDistributionResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getInterestedInputRegisterResponse">

      <wsdl:part element="impl:getInterestedInputRegisterResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getOutputDistributionRequest">

      <wsdl:part element="impl:getOutputDistribution" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="archiveDistributionResponse">

      <wsdl:part element="impl:archiveDistributionResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="addDocumentRequest">

      <wsdl:part element="impl:addDocument" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="changeOutputDistributionRequest">

      <wsdl:part element="impl:changeOutputDistribution" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="importFolderRequest">

      <wsdl:part element="impl:importFolder" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="acceptDistributionRequest">

      <wsdl:part element="impl:acceptDistribution" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getInterestedOutputRegisterRequest">

      <wsdl:part element="impl:getInterestedOutputRegister" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getInputRegisterRequest">

      <wsdl:part element="impl:getInputRegister" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="updateFolderResponse">

      <wsdl:part element="impl:updateFolderResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="archiveDistributionRequest">

      <wsdl:part element="impl:archiveDistribution" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getOutputRegisterResponse">

      <wsdl:part element="impl:getOutputRegisterResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="changeOutputDistributionResponse">

      <wsdl:part element="impl:changeOutputDistributionResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getInputFolderForNumberRequest">

      <wsdl:part element="impl:getInputFolderForNumber" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="changeInputDistributionRequest">

      <wsdl:part element="impl:changeInputDistribution" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getInterestedOutputRegisterResponse">

      <wsdl:part element="impl:getInterestedOutputRegisterResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="addDocumentResponse">

      <wsdl:part element="impl:addDocumentResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="ServicioRegistroWebService">

      
      
      <wsdl:operation name="importFolder">

         <wsdl:input message="impl:importFolderRequest" name="importFolderRequest"/>

         <wsdl:output message="impl:importFolderResponse" name="importFolderResponse"/>

      </wsdl:operation>
     
   </wsdl:portType>

   <wsdl:binding name="ServicioRegistroWebServiceSoapBinding" type="impl:ServicioRegistroWebService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="importFolder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="importFolderRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="importFolderResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      
   </wsdl:binding>

   <wsdl:service name="ServicioRegistroWebServiceService">

      <wsdl:port binding="impl:ServicioRegistroWebServiceSoapBinding" name="ServicioRegistroWebService">

         <wsdlsoap:address location="http://localhost:8080/ServicioRegistroWebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
