sigem/SIGEM_SignoWS_Modules/SIGEM_SignoWS/src/main/webapp/WEB-INF/IIVTNU-WS-Ayto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by INTI S.L. (INTI S.L.) -->
<xs:schema targetNamespace="http://ancert.notariado.org/XML/Plusvalias/Liquidacion" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ancert.notariado.org/XML/Plusvalias/Liquidacion" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="CALCULO_LIQUIDACION">
		<xs:annotation>
			<xs:documentation>Mensaje de intercambio sincrono que permite obtener el cálculo de una liquidación.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element name="REQUEST">
						<xs:annotation>
							<xs:documentation>Petición de cálculo enviado desde el CGN</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="CABECERA" type="CabeceraType">
									<xs:annotation>
										<xs:documentation>Cabecera del mensaje.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="NOTARIO_TITULAR" type="NotarioType">
									<xs:annotation>
										<xs:documentation>Datos del Notario titular del documento</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="NOTARIO_AUTORIZANTE" type="NotarioType">
									<xs:annotation>
										<xs:documentation>Datos del Notario autorizante del documento</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="PROTOCOLO" type="ProtocoloType">
									<xs:annotation>
										<xs:documentation>Datos identificativos del documento notarial.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ACTO_JURIDICO" type="ActoJuridicoType">
									<xs:annotation>
										<xs:documentation>Operación que origina el impuesto.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="TRANSMITENTES">
									<xs:annotation>
										<xs:documentation>Cada uno de los sujetos que transmiten el inmueble o terreno urbano.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="TRANSMITENTE" type="TransmitenteType" maxOccurs="unbounded"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="ADQUIRENTES">
									<xs:annotation>
										<xs:documentation>Cada uno de los sujetos que adquieren el inmueble o terreno urbano transmitido.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ADQUIRENTE" type="AdquirenteType" maxOccurs="unbounded"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="INMUEBLE">
									<xs:annotation>
										<xs:documentation>Objeto transmitido</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="REFERENCIA_CATASTRAL" type="REFERENCIA_CATASTRALType">
												<xs:annotation>
													<xs:documentation>Referéncia Catastral completa.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="DIRECCION">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="INE_PROVINCIA" type="CODIGO_PROVINCIAType">
															<xs:annotation>
																<xs:documentation>Codigo INE de Provincia</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="INE_MUNICIPIO" type="CODIGO_MUNICIPIOType">
															<xs:annotation>
																<xs:documentation>Codigo INE de Municipio. (incluye digito de control)</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="REPRESENTANTES" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Representantes legales.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="REPRESENTANTE" type="SujetoType" maxOccurs="unbounded"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="REPLY">
						<xs:annotation>
							<xs:documentation>Respuesta con el resultado del cálculo enviado por el organismo de gestión tributaria.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="CABECERA" type="CabeceraType">
									<xs:annotation>
										<xs:documentation>Cabecera del mensaje.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:sequence minOccurs="0">
									<xs:annotation>
										<xs:documentation>Calculo realizado.</xs:documentation>
									</xs:annotation>
									<xs:element name="NOTARIO_TITULAR" type="NotarioType">
										<xs:annotation>
											<xs:documentation>Datos del Notario titular del documento</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="NOTARIO_AUTORIZANTE" type="NotarioType">
										<xs:annotation>
											<xs:documentation>Datos del Notario autorizante del documento</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PROTOCOLO" type="ProtocoloType">
										<xs:annotation>
											<xs:documentation>Datos identificativos del documento notarial.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ACTO_JURIDICO" type="ActoJuridicoType">
										<xs:annotation>
											<xs:documentation>Operación que origina el impuesto.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TRANSMITENTES">
										<xs:annotation>
											<xs:documentation>Cada uno de los sujetos que transmiten el inmueble o terreno urbano.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="TRANSMITENTE" type="TransmitenteType" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ADQUIRENTES">
										<xs:annotation>
											<xs:documentation>Cada uno de los sujetos que adquieren el inmueble o terreno urbano transmitido.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ADQUIRENTE" type="AdquirenteType" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="INMUEBLE">
										<xs:annotation>
											<xs:documentation>Objeto transmitido</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="REFERENCIA_CATASTRAL" type="REFERENCIA_CATASTRALType">
													<xs:annotation>
														<xs:documentation>Referéncia Catastral completa.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="DIRECCION" type="DireccionInmuebleType"/>
												<xs:element name="SUPERFICIE_INMUEBLE" type="SUPERFICIE_INMUEBLEType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Se indicará la superfície del inmueble en metros cuadrados.</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="REPRESENTANTES" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Representantes legales.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="REPRESENTANTE" type="SujetoType" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="IMPORTE_TOTAL" type="IMPORTE_ECONOMICOType">
										<xs:annotation>
											<xs:documentation>Importe total de la liquidación</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DOCUMENTOS">
										<xs:annotation>
											<xs:documentation>PDFs con el cálculo de la liquidación de cada sujeto pasivo del impuesto.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="DOCUMENTO" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ID_SUJETO" type="ID_SECUENCIALType">
																<xs:annotation>
																	<xs:documentation>Identificador del sujeto pasivo.</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="IMPORTE">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="INFORMA_RECARGO" type="xs:boolean">
																			<xs:annotation>
																				<xs:documentation>Indica si el ayuntamiento devuelve los cálculos aplicando recargos en caso que sean aplicables</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="PORCENTAJE_RECARGO" type="PORCENTAJEType" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Porcentaje que se aplicará</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="IMPORTE_RECARGO" type="IMPORTE_ECONOMICOType" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Importe del recargo</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="IMPORTE_TOTAL" type="IMPORTE_ECONOMICOType">
																			<xs:annotation>
																				<xs:documentation>Importe total a pagar por sujeto pasivo incluyendo los recargos que informe el ayuntamiento</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="PDF">
																<xs:annotation>
																	<xs:documentation>Contenido del documento PDF en base64</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:base64Binary">
																		<xs:minLength value="1"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:element name="RESULTADO">
									<xs:annotation>
										<xs:documentation>Resultado de la petición . Los datos del cálculo no seran obligatorios si el retorno es distinto de cero.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="RETORNO" type="xs:boolean">
												<xs:annotation>
													<xs:documentation>Se indicará 0 si la operación ha sido completada correctamente. En caso contrario se indicará 1.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ERROR" minOccurs="0">
												<xs:annotation>
													<xs:documentation>En caso de error se indicará el código y la descripción.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="CODIGO">
															<xs:annotation>
																<xs:documentation>Código del error pactado entre el organismo de gestión tributaria y el CGN.</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="STRINGType">
																	<xs:length value="4"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="DESCRIPCION">
															<xs:annotation>
																<xs:documentation>Descripción del error.</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="STRINGType">
																	<xs:minLength value="1"/>
																	<xs:maxLength value="255"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PAGO_LIQUIDACION">
		<xs:annotation>
			<xs:documentation>Mensaje de intercambio sincrono que permite el pago de una liquidación.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element name="REQUEST">
						<xs:annotation>
							<xs:documentation>Petición de pago enviado desde el CGN</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="CABECERA" type="CabeceraType">
									<xs:annotation>
										<xs:documentation>Cabecera del mensaje.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="NOTARIO_TITULAR" type="NotarioType">
									<xs:annotation>
										<xs:documentation>Datos del Notario titular del documento</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="NOTARIO_AUTORIZANTE" type="NotarioType">
									<xs:annotation>
										<xs:documentation>Datos del Notario autorizante del documento</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="PROTOCOLO" type="ProtocoloType">
									<xs:annotation>
										<xs:documentation>Datos identificativos del documento notarial.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ACTO_JURIDICO" type="ActoJuridicoType">
									<xs:annotation>
										<xs:documentation>Operación que origina el impuesto.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="TRANSMITENTES">
									<xs:annotation>
										<xs:documentation>Cada uno de los sujetos que transmiten el inmueble o terreno urbano.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="TRANSMITENTE" type="TransmitenteType" maxOccurs="unbounded"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="ADQUIRENTES">
									<xs:annotation>
										<xs:documentation>Cada uno de los sujetos que adquieren el inmueble o terreno urbano transmitido.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ADQUIRENTE" type="AdquirenteType" maxOccurs="unbounded"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="INMUEBLE">
									<xs:annotation>
										<xs:documentation>Objeto transmitido</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="REFERENCIA_CATASTRAL" type="REFERENCIA_CATASTRALType">
												<xs:annotation>
													<xs:documentation>Referéncia Catastral completa.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="DIRECCION">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="INE_PROVINCIA" type="CODIGO_PROVINCIAType">
															<xs:annotation>
																<xs:documentation>Codigo INE de Provincia</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="INE_MUNICIPIO" type="CODIGO_MUNICIPIOType">
															<xs:annotation>
																<xs:documentation>Codigo INE de Municipio. (incluye digito de control)</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="REPRESENTANTES" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Representantes legales.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="REPRESENTANTE" type="SujetoType" maxOccurs="unbounded"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="PAGO">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ORDEN_PAGO" type="ORDEN_PAGOType"/>
											<xs:element name="NRC" minOccurs="0">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:length value="22"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="ESCRITURA">
									<xs:annotation>
										<xs:documentation>Nodo que contendrá la información de la copia enviada.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="DIGEST" type="xs:string">
												<xs:annotation>
													<xs:documentation>Valor Hash del array de bytes de la copia electrónica de la escritura pública.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="NOMBRE" type="xs:string">
												<xs:annotation>
													<xs:documentation>Nombre completo del documento enviado</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="TAMANO" type="xs:int">
												<xs:annotation>
													<xs:documentation>Indicará en bytes el tamaño del fichero.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="MIME_TYPE" type="xs:string">
												<xs:annotation>
													<xs:documentation>El valor siempre será PDF</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="REPLY">
						<xs:annotation>
							<xs:documentation>Respuesta con el resultado del pago enviado por el organismo de gestión tributaria.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="CABECERA" type="CabeceraType">
									<xs:annotation>
										<xs:documentation>Cabecera del mensaje.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:sequence minOccurs="0">
									<xs:annotation>
										<xs:documentation>Calculo realizado.</xs:documentation>
									</xs:annotation>
									<xs:element name="NOTARIO_TITULAR" type="NotarioType">
										<xs:annotation>
											<xs:documentation>Datos del Notario titular del documento</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="NOTARIO_AUTORIZANTE" type="NotarioType">
										<xs:annotation>
											<xs:documentation>Datos del Notario autorizante del documento</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PROTOCOLO" type="ProtocoloType">
										<xs:annotation>
											<xs:documentation>Datos identificativos del documento notarial.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ACTO_JURIDICO" type="ActoJuridicoType">
										<xs:annotation>
											<xs:documentation>Operación que origina el impuesto.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TRANSMITENTES">
										<xs:annotation>
											<xs:documentation>Cada uno de los sujetos que transmiten el inmueble o terreno urbano.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="TRANSMITENTE" type="TransmitenteType" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ADQUIRENTES">
										<xs:annotation>
											<xs:documentation>Cada uno de los sujetos que adquieren el inmueble o terreno urbano transmitido.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ADQUIRENTE" type="AdquirenteType" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="INMUEBLE">
										<xs:annotation>
											<xs:documentation>Objeto transmitido</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="REFERENCIA_CATASTRAL" type="REFERENCIA_CATASTRALType">
													<xs:annotation>
														<xs:documentation>Referéncia Catastral completa.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="DIRECCION" type="DireccionInmuebleType"/>
												<xs:element name="SUPERFICIE_INMUEBLE" type="SUPERFICIE_INMUEBLEType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Se indicará la superfície del inmueble en metros cuadrados.</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="REPRESENTANTES" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Representantes legales.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="REPRESENTANTE" type="SujetoType" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="IMPORTE_TOTAL" type="IMPORTE_ECONOMICOType">
										<xs:annotation>
											<xs:documentation>Importe total de la liquidación</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DOCUMENTOS">
										<xs:annotation>
											<xs:documentation>PDFs con el justificante de pago de la liquidación de cada sujeto pasivo del impuesto.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="DOCUMENTO" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ID_SUJETO" type="ID_SECUENCIALType">
																<xs:annotation>
																	<xs:documentation>Identificador del sujeto pasivo.</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="IMPORTE">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="INFORMA_RECARGO" type="xs:boolean">
																			<xs:annotation>
																				<xs:documentation>Indica si el ayuntamiento devuelve los importes aplicando recargos en caso que sean aplicables</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="PORCENTAJE_RECARGO" type="PORCENTAJEType" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Porcentaje aplicado</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="IMPORTE_RECARGO" type="IMPORTE_ECONOMICOType" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Importe del recargo</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="IMPORTE_TOTAL" type="IMPORTE_ECONOMICOType">
																			<xs:annotation>
																				<xs:documentation>Importe total satisfecho por sujeto pasivo incluyendo los recargos que informe el ayuntamiento</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="PDF">
																<xs:annotation>
																	<xs:documentation>Contenido del documento PDF en base64</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:base64Binary">
																		<xs:minLength value="1"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="CODIGO_JUSTIFICANTE_PAGO" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Codigo justificante del proceso de pago para este importe</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="\d{12}"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:element name="RESULTADO">
									<xs:annotation>
										<xs:documentation>Resultado de la petición . Los datos del cálculo no seran obligatorios si el retorno es distinto de cero.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="RETORNO" type="xs:boolean">
												<xs:annotation>
													<xs:documentation>Se indicará 0 si la operación ha sido completada correctamente. En caso contrario se indicará 1.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ERROR" minOccurs="0">
												<xs:annotation>
													<xs:documentation>En caso de error se indicará el código y la descripción.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="CODIGO">
															<xs:annotation>
																<xs:documentation>Código del error pactado entre el organismo de gestión tributaria y el CGN.</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="STRINGType">
																	<xs:length value="4"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="DESCRIPCION">
															<xs:annotation>
																<xs:documentation>Descripción del error.</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="STRINGType">
																	<xs:minLength value="1"/>
																	<xs:maxLength value="255"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EXENCIONES_BONIFICACIONES">
		<xs:annotation>
			<xs:documentation>Mensaje de intercambio sincrono que permite obtener las bonificaciones y exenciones disponibles.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element name="REQUEST">
						<xs:annotation>
							<xs:documentation>Interrogación de bonificaciones y exenciones enviado desde el CGN</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="CABECERA" type="CabeceraType">
									<xs:annotation>
										<xs:documentation>Cabecera del mensaje.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="INE_MUNICIPIO" type="CODIGO_MUNICIPIOType"/>
								<xs:element name="INE_PROVINCIA" type="CODIGO_PROVINCIAType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="REPLY">
						<xs:annotation>
							<xs:documentation>Respuesta con las bonificaciones y exenciones enviado por el organismo de gestión tributaria.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="CABECERA" type="CabeceraType">
									<xs:annotation>
										<xs:documentation>Cabecera del mensaje.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:sequence minOccurs="0">
									<xs:element name="BONIFICACIONES" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="BONIFICACION" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="PORCENTAJE" type="PORCENTAJEType"/>
															<xs:element name="CONCEPTO" type="xs:string"/>
															<xs:element name="DESCRIPCION" type="xs:string"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="EXENCIONES" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="EXENCION" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="PORCENTAJE" type="PORCENTAJEType"/>
															<xs:element name="CONCEPTO" type="xs:string"/>
															<xs:element name="DESCRIPCION" type="xs:string"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:element name="RESULTADO">
									<xs:annotation>
										<xs:documentation>Resultado de la petición . Los datos del cálculo no seran obligatorios si el retorno es distinto de cero.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="RETORNO" type="xs:boolean">
												<xs:annotation>
													<xs:documentation>Se indicará 0 si la operación ha sido completada correctamente. En caso contrario se indicará 1.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ERROR" minOccurs="0">
												<xs:annotation>
													<xs:documentation>En caso de error se indicará el código y la descripción.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="CODIGO">
															<xs:annotation>
																<xs:documentation>Código del error pactado entre el organismo de gestión tributaria y el CGN.</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="STRINGType">
																	<xs:length value="4"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="DESCRIPCION">
															<xs:annotation>
																<xs:documentation>Descripción del error.</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="STRINGType">
																	<xs:minLength value="1"/>
																	<xs:maxLength value="255"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="CabeceraType">
		<xs:sequence>
			<xs:element name="APLICACION" type="xs:string" fixed="PLV">
				<xs:annotation>
					<xs:documentation>Campo fijo con valor PLV</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ID_COMUNICACION" type="xs:long">
				<xs:annotation>
					<xs:documentation>identifica una comunicacion. REQUEST y REPLY deben usar el mismo valor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FECHA" type="TFecha">
				<xs:annotation>
					<xs:documentation>Fecha de la comunicacion</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HORA" type="THora">
				<xs:annotation>
					<xs:documentation>Hora de la comunicación</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OPERACION">
				<xs:annotation>
					<xs:documentation>Código de la Operación que se desea Realizar. "01" CALCULO, "02" PAGO, "03" EXENCIONES-BONIFICACIONES</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="01"/>
						<xs:enumeration value="02"/>
						<xs:enumeration value="03"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EMISOR" type="xs:string">
				<xs:annotation>
					<xs:documentation>Código representativo de la entidad emisora (CGN para el REQUEST y código INE para el REPLY)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RECEPTOR">
				<xs:annotation>
					<xs:documentation>Código de la entidad Receptora (Código INE para el REQUEST, y CGN para el REPLY)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse"/>
						<xs:minLength value="3"/>
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SujetoType">
		<xs:sequence>
			<xs:element name="IDENTIFICADOR" type="ID_SECUENCIALType">
				<xs:annotation>
					<xs:documentation>Secuencial que identifica al sujeto de forma unica en el documento.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DATOS_PERSONALES">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TIPO_DOCUMENTO" type="TIPO_DOCType">
							<xs:annotation>
								<xs:documentation>Tipo de documento de identidad ("1" NIF/CIF, "2" NIE, "3" Pasaporte, "4" Menores de edad que carezcan de dicho número, "5" Entidad recién constituida que carece de NIF, "6" Falta de aportación del NIF o NIF aportado pero no válido, "7" Cónyuge cotitular que no interviene, "8" Cédula de identificación de extranjero, "9" Número de identificación de persona jurídica extranjera)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="NUMERO_DOCUMENTO" type="NUMERO_DOCUMENTO_IDENTIDADType">
							<xs:annotation>
								<xs:documentation>Número de documento de identidad.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="NOMBRE" type="NOMBRE_PERSONAType" minOccurs="0"/>
						<xs:element name="APELLIDO1_RAZONSOCIAL" type="APELLIDOS_PERSONAType"/>
						<xs:element name="APELLIDO2" type="APELLIDOS_PERSONAType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:choice>
				<xs:element name="DOMICILIO" type="DireccionType">
					<xs:annotation>
						<xs:documentation>Domicilio en caso de residentes.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DOMICILIO_EXTRANJERO" type="DireccionExtranjeraType">
					<xs:annotation>
						<xs:documentation>Domicilio en el caso que no tengan dirección de residencia en España.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DireccionType">
		<xs:annotation>
			<xs:documentation>Dirección en España</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="INE_PROVINCIA" type="CODIGO_PROVINCIAType">
				<xs:annotation>
					<xs:documentation>Codigo INE de Provincia</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INE_MUNICIPIO" type="CODIGO_MUNICIPIOType">
				<xs:annotation>
					<xs:documentation>Codigo INE de Municipio. (incluye digito de control)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TIPO_VIA" type="TIPO_VIAType">
				<xs:annotation>
					<xs:documentation>Tipo de vía, según la codificación de Catastro</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VIA" type="NOMBRE_VIAType">
				<xs:annotation>
					<xs:documentation>Nombre de la via</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NUMERO_VIA" type="NUMERO_VIAType" minOccurs="0"/>
			<xs:element name="ESCALERA" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="STRINGType">
						<xs:maxLength value="2"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PLANTA" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="STRINGType">
						<xs:minLength value="1"/>
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PUERTA" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="STRINGType">
						<xs:minLength value="1"/>
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DUPLICADO" type="DUPLICADOType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Duplicado ("D", "T", "C")</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BLOQUE" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Bloque</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="STRINGType">
						<xs:maxLength value="4"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="APR_KM" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Aproximación postal en kilometros</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ENTIDAD_MENOR" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Entidad local menor o pedanía</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="STRINGType">
						<xs:maxLength value="15"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RESTO" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Resto de dirección no estructurada</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="STRINGType">
						<xs:maxLength value="25"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CODIGO_POSTAL" type="CODIGO_POSTALType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DireccionExtranjeraType">
		<xs:sequence>
			<xs:element name="PAIS" type="CODIGO_PAISType">
				<xs:annotation>
					<xs:documentation>Código de país, según la codificación oficial de Países y Territorios aprobada por OM 9-12-99</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EST_PRV" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Estado o provincia</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="STRINGType">
						<xs:maxLength value="40"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DESC_MUNICIPIO">
				<xs:annotation>
					<xs:documentation>Nombre del municipio</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="POBLACIONType">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DIRECCION_NO_ESTRUCTURADA">
				<xs:annotation>
					<xs:documentation>Dirección completa de residencia en formato texto libre.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="STRINGType">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DISTRITO_POSTAL" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Distrito postal</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="STRINGType">
						<xs:maxLength value="10"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransmitenteType">
		<xs:sequence>
			<xs:element name="DATOS_BASICOS" type="SujetoType"/>
			<xs:element name="PORCENTAJE_TRANSMITIDO" type="PORCENTAJEType">
				<xs:annotation>
					<xs:documentation>Porcentaje transmitido sobre el total de la finca.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CLASE_DERECHO" type="CLASE_DERECHOType">
				<xs:annotation>
					<xs:documentation>Clase de derecho transmitido o constituido mediante la operación ("1" Pleno dominio, "2" Nuda Propiedad, "3" Usufructo vitalicio, "4" Uso o habitación temporal, "5" Derecho de superficie, "6" Concesión administrativa, "7" Usufructo temporal, "8" Uso o habitación vitalicio)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FECHA_DEFUNCION" type="TFecha" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Fecha de defunción del causante de heréncia. Será la fecha de transmisión en transmisiones Mortis causa.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EDAD_USUFRUCTUARIO" type="ANYOSType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Edad del usufructuario. Obligatorio en usufructos vitalicios.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ANYOS_USUFRUCTO" type="ANYOSType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Años de usufructo. Obligatorio en usufructos temporales.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EDAD_USO" type="ANYOSType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Años de uso. Obligatorio en Uso o habitación vitalicio.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ANYOS_USO" type="ANYOSType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Años de uso. Obligatorio en Uso o habitación temporal.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TRANSMISIONES_ANTERIORES">
				<xs:annotation>
					<xs:documentation>Cada una de las transmisiones anteriores. (fechas y porcentajes de adquisición del bien transmitido)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TRANSMISION" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="FECHA" type="TFecha">
										<xs:annotation>
											<xs:documentation>Fecha de adquisición</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PORCENTAJE" type="PORCENTAJEType">
										<xs:annotation>
											<xs:documentation>Porcentaje adquirido sobre el total transmitido.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BONIFICACIONES" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Si hay bonificación, se indicará el concepto y el porcentaje bonificado.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PORCENTAJE" type="PORCENTAJEType"/>
						<xs:element name="CONCEPTO">
							<xs:simpleType>
								<xs:restriction base="STRINGType">
									<xs:minLength value="1"/>
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EXENCIONES" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Si hay exenciones, se indicará el concepto y el porcentaje exento.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PORCENTAJE" type="PORCENTAJEType"/>
						<xs:element name="CONCEPTO">
							<xs:simpleType>
								<xs:restriction base="STRINGType">
									<xs:minLength value="1"/>
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="REPRESENTANTES" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ID_REPRESENTANTE" type="ID_SECUENCIALType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Identificador del representante del sujeto pasivo.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdquirenteType">
		<xs:sequence>
			<xs:element name="DATOS_BASICOS" type="SujetoType"/>
			<xs:element name="PORCENTAJE_ADQUIRIDO" type="PORCENTAJEType">
				<xs:annotation>
					<xs:documentation>Porcentaje adquirido sobre el total del inmueble.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PRORROGA_SOLICITADA" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Se recogerá si el sujeto ha
solicitado con anterioridad un aplazamiento de la
liquidación. Sólo aplicable en transmisiones por defunción.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FECHA" type="TFecha">
							<xs:annotation>
								<xs:documentation>Fecha de la solicitud de la prorroga.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CLASE_DERECHO" type="CLASE_DERECHOType">
				<xs:annotation>
					<xs:documentation>Clase de derecho transmitido o constituido mediante la operación ("1" Pleno dominio, "2" Nuda Propiedad, "3" Usufructo vitalicio, "4" Uso o habitación temporal, "5" Derecho de superficie, "6" Concesión administrativa, "7" Usufructo temporal, "8" Uso o habitación vitalicio)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EDAD_USUFRUCTUARIO" type="ANYOSType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Edad del usufructuario. Obligatorio en usufructos vitalicios.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ANYOS_USUFRUCTO" type="ANYOSType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Años de usufructo. Obligatorio en usufructos temporales.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EDAD_USO" type="ANYOSType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Años de uso. Obligatorio en Uso o habitación vitalicio.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ANYOS_USO" type="ANYOSType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Años de uso. Obligatorio en Uso o habitación temporal.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="REPRESENTANTES" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ID_REPRESENTANTE" type="ID_SECUENCIALType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Identificador del representante del sujeto pasivo.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DireccionInmuebleType">
		<xs:sequence>
			<xs:element name="INE_PROVINCIA" type="CODIGO_PROVINCIAType">
				<xs:annotation>
					<xs:documentation>Codigo INE de Provincia</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INE_MUNICIPIO" type="CODIGO_MUNICIPIOType">
				<xs:annotation>
					<xs:documentation>Codigo INE de Municipio. (incluye digito de control)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TIPO_VIA" type="TIPO_VIAType" minOccurs="0"/>
			<xs:element name="VIA" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="NOMBRE_VIAType">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NUMERO_VIA" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="NUMERO_VIAType">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ESCALERA" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="STRINGType">
						<xs:minLength value="1"/>
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PLANTA" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="STRINGType">
						<xs:minLength value="1"/>
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PUERTA" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="STRINGType">
						<xs:minLength value="1"/>
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DUPLICADO" type="DUPLICADOType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Duplicado ("D", "T", "C")</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BLOQUE" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Bloque</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="STRINGType">
						<xs:maxLength value="4"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="APR_KM" type="KILOMETROType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Aproximación postal en kilometros</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ENTIDAD_MENOR" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Entidad local menor o pedanía</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="STRINGType">
						<xs:maxLength value="15"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RESTO" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Resto de dirección no estructurada</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="STRINGType">
						<xs:maxLength value="25"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CODIGO_POSTAL" type="CODIGO_POSTALType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NotarioType">
		<xs:sequence>
			<xs:element name="CODIGO" type="CODIGO_NOTARIOType">
				<xs:annotation>
					<xs:documentation>Código de últimas voluntades. Identifica el notario de forma única.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NOMBRE" type="NOMBRE_NOTARIOType"/>
			<xs:element name="APELLIDO1" type="APELLIDOS_NOTARIOType"/>
			<xs:element name="APELLIDO2" type="APELLIDOS_NOTARIOType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProtocoloType">
		<xs:sequence>
			<xs:element name="NUMERO" type="NUMERO_DOCUMENTOType">
				<xs:annotation>
					<xs:documentation>Número de protocolo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NUMERO_BIS" type="NUMERO_DOCUMENTO_BISType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Número de protocolo bis</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FECHA_AUTORIZACION" type="TFecha">
				<xs:annotation>
					<xs:documentation>Fecha de autorización del documento público. Será la fecha de transmisión en transmisiones Intervivos.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActoJuridicoType">
		<xs:sequence>
			<xs:element name="CODIGO">
				<xs:annotation>
					<xs:documentation>Código de Acto jurídico</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DESCRIPCION">
				<xs:annotation>
					<xs:documentation>Descripción de Acto jurídico</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TFecha">
		<xs:restriction base="xs:token">
			<xs:pattern value="\d{2}/\d{2}/\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="THora">
		<xs:restriction base="xs:token">
			<xs:pattern value="\d{2}:\d{2}:\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CLASE_DERECHOType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Tipos de Indices -->
	<xs:simpleType name="NUMERO_DOCUMENTO_IDENTIDADType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="22"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TIPO_DOCType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ID_SECUENCIALType">
		<xs:restriction base="xs:unsignedInt"/>
	</xs:simpleType>
	<xs:simpleType name="STRINGType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[^\r\n\t]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CODIGO_NOTARIOType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CODIGO_NOTARIAType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IMPORTE_ECONOMICOType">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:maxLength value="20"/>
			<xs:pattern value="(\d{1,3}(\.\d{3})*|\d+)(,\d{1,2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PORCENTAJEType">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:maxLength value="7"/>
			<xs:pattern value="(\d{1,3})(,\d{1,3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SUPERFICIE_INMUEBLEType">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="(\d{1,8})(,\d{1,2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KILOMETROType">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:maxLength value="7"/>
			<xs:pattern value="(\d{1,4})(,\d{1,2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TIPO_VIAType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AG"/>
			<xs:enumeration value="AL"/>
			<xs:enumeration value="AR"/>
			<xs:enumeration value="AU"/>
			<xs:enumeration value="AV"/>
			<xs:enumeration value="AY"/>
			<xs:enumeration value="BJ"/>
			<xs:enumeration value="BO"/>
			<xs:enumeration value="BR"/>
			<xs:enumeration value="CA"/>
			<xs:enumeration value="CG"/>
			<xs:enumeration value="CH"/>
			<xs:enumeration value="CI"/>
			<xs:enumeration value="CJ"/>
			<xs:enumeration value="CL"/>
			<xs:enumeration value="CM"/>
			<xs:enumeration value="CN"/>
			<xs:enumeration value="CO"/>
			<xs:enumeration value="CP"/>
			<xs:enumeration value="CR"/>
			<xs:enumeration value="CS"/>
			<xs:enumeration value="CT"/>
			<xs:enumeration value="CU"/>
			<xs:enumeration value="CY"/>
			<xs:enumeration value="DE"/>
			<xs:enumeration value="DP"/>
			<xs:enumeration value="DS"/>
			<xs:enumeration value="ED"/>
			<xs:enumeration value="EM"/>
			<xs:enumeration value="EN"/>
			<xs:enumeration value="ER"/>
			<xs:enumeration value="ES"/>
			<xs:enumeration value="EX"/>
			<xs:enumeration value="FC"/>
			<xs:enumeration value="FN"/>
			<xs:enumeration value="GL"/>
			<xs:enumeration value="GR"/>
			<xs:enumeration value="GV"/>
			<xs:enumeration value="HT"/>
			<xs:enumeration value="JR"/>
			<xs:enumeration value="LD"/>
			<xs:enumeration value="LG"/>
			<xs:enumeration value="MC"/>
			<xs:enumeration value="ML"/>
			<xs:enumeration value="MN"/>
			<xs:enumeration value="MS"/>
			<xs:enumeration value="MT"/>
			<xs:enumeration value="MZ"/>
			<xs:enumeration value="PQ"/>
			<xs:enumeration value="PB"/>
			<xs:enumeration value="PD"/>
			<xs:enumeration value="PJ"/>
			<xs:enumeration value="PL"/>
			<xs:enumeration value="PM"/>
			<xs:enumeration value="PR"/>
			<xs:enumeration value="PS"/>
			<xs:enumeration value="PT"/>
			<xs:enumeration value="PZ"/>
			<xs:enumeration value="QT"/>
			<xs:enumeration value="RB"/>
			<xs:enumeration value="RC"/>
			<xs:enumeration value="RD"/>
			<xs:enumeration value="RM"/>
			<xs:enumeration value="RP"/>
			<xs:enumeration value="RR"/>
			<xs:enumeration value="RU"/>
			<xs:enumeration value="SA"/>
			<xs:enumeration value="SD"/>
			<xs:enumeration value="SL"/>
			<xs:enumeration value="SN"/>
			<xs:enumeration value="SU"/>
			<xs:enumeration value="TN"/>
			<xs:enumeration value="TO"/>
			<xs:enumeration value="TR"/>
			<xs:enumeration value="UR"/>
			<xs:enumeration value="VR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NOMBRE_VIAType">
		<xs:restriction base="STRINGType">
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NUMERO_VIAType">
		<xs:restriction base="STRINGType">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DUPLICADOType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="D"/>
			<xs:enumeration value="T"/>
			<xs:enumeration value="C"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CODIGO_POSTALType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="POBLACIONType">
		<xs:restriction base="STRINGType">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CODIGO_MUNICIPIOType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CODIGO_PROVINCIAType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CODIGO_PAISType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NUMERO_DOCUMENTOType">
		<xs:restriction base="xs:unsignedInt">
			<xs:totalDigits value="6"/>
			<xs:minInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NUMERO_DOCUMENTO_BISType">
		<xs:restriction base="xs:unsignedInt">
			<xs:totalDigits value="3"/>
			<xs:minInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="REFERENCIA_CATASTRALType">
		<xs:restriction base="STRINGType">
			<xs:length value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Otros tipos -->
	<xs:simpleType name="NOMBRE_PERSONAType">
		<xs:restriction base="STRINGType">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="APELLIDOS_PERSONAType">
		<xs:restriction base="STRINGType">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NOMBRE_NOTARIOType">
		<xs:restriction base="STRINGType">
			<xs:maxLength value="65"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="APELLIDOS_NOTARIOType">
		<xs:restriction base="STRINGType">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ANYOSType">
		<xs:restriction base="xs:unsignedInt">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="150"/>
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ORDEN_PAGOType">
		<xs:sequence>
			<xs:element name="PARAMETROS_PAGO">
				<xs:annotation>
					<xs:documentation>Parámetros de pago de la liquidación</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DATOS_BANCARIOS" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Datos de la cuenta corriente para realizar el cobro de la deuda</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ENTIDAD">
										<xs:annotation>
											<xs:documentation>Código de la entidad bancaria</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="CCCEntidadType"/>
										</xs:simpleType>
									</xs:element>
									<xs:element name="OFICINA" type="CCCOficinaType">
										<xs:annotation>
											<xs:documentation>Código de la oficina</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DC" type="CCCDcType">
										<xs:annotation>
											<xs:documentation>Dígito de control</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CUENTA" type="CCCCuentaType">
										<xs:annotation>
											<xs:documentation>Número de cuenta</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="NIF_TITULAR" type="NUMERO_DOCUMENTO_IDENTIDADType">
										<xs:annotation>
											<xs:documentation>Nif del titular o autorizado de la cuenta corriente</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="NOMBRE_TITULAR">
										<xs:annotation>
											<xs:documentation>Nombre y apellidos del titular o autorizado de la cuenta corriente</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="IMPORTES" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Importes satisfechos</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ID_SUJETO" type="ID_SECUENCIALType">
										<xs:annotation>
											<xs:documentation>Identificador del sujeto pasivo.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="IMPORTE" type="IMPORTE_ECONOMICOType">
										<xs:annotation>
											<xs:documentation>Importe total satisfecho por el sujeto</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="ID" type="xs:ID" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:any namespace="##any" processContents="lax" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Firma del nodo PARAMETROS_PAGO realizada por el notario siguiendo el estándar XADES.</xs:documentation>
				</xs:annotation>
			</xs:any>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="IDIOMAType">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:enumeration value="ES"/>
			<xs:enumeration value="CA"/>
			<xs:enumeration value="GL"/>
			<xs:enumeration value="EU"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CCCEntidadType">
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:pattern value="\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CCCOficinaType">
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:pattern value="\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CCCDcType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CCCCuentaType">
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="\d{10}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
