sigem/SIGEM_RegistroTelematico_Modules/SIGEM_RegistroTelematicoTercerosConnectorWS/src/main/webapp/wsdl/sigem_registroTelematicoTercerosConnectorWs.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.terceros.registro.sgm.tecdoc.ieci" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.terceros.registro.sgm.tecdoc.ieci" xmlns:intf="http://ws.terceros.registro.sgm.tecdoc.ieci" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.terceros.registro.sgm.tecdoc.ieci" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="buscarTercero">
    <complexType>
     <sequence>
      <element name="identificador" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarTerceroResponse">
    <complexType>
     <sequence>
      <element name="buscarTerceroReturn" type="impl:TerceroVO"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="DireccionTerceroVO">
    <sequence>
     <element name="codigoPostal" nillable="true" type="xsd:string"/>
     <element name="direccionCompleta" nillable="true" type="xsd:string"/>
     <element name="idDireccion" nillable="true" type="xsd:string"/>
     <element name="localidad" nillable="true" type="xsd:string"/>
     <element name="municipio" nillable="true" type="xsd:string"/>
     <element name="pais" nillable="true" type="xsd:string"/>
     <element name="piso" nillable="true" type="xsd:string"/>
     <element name="porDefecto" type="xsd:boolean"/>
     <element name="portal" nillable="true" type="xsd:string"/>
     <element name="provincia" nillable="true" type="xsd:string"/>
     <element name="puerta" nillable="true" type="xsd:string"/>
     <element name="tipoVia" nillable="true" type="xsd:string"/>
     <element name="via" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfDireccionTerceroVO">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:DireccionTerceroVO"/>
    </sequence>
   </complexType>
   <complexType name="TerceroVO">
    <sequence>
     <element name="direcciones" nillable="true" type="impl:ArrayOfDireccionTerceroVO"/>
     <element name="identificador" nillable="true" type="xsd:string"/>
     <element name="nombre" nillable="true" type="xsd:string"/>
     <element name="primerApellido" nillable="true" type="xsd:string"/>
     <element name="segundoApellido" nillable="true" type="xsd:string"/>
     <element name="terceroId" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="buscarTerceroPorEntidad">
    <complexType>
     <sequence>
      <element name="entidad" type="xsd:string"/>
      <element name="identificador" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarTerceroPorEntidadResponse">
    <complexType>
     <sequence>
      <element name="buscarTerceroPorEntidadReturn" type="impl:TerceroVO"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="buscarTerceroPorEntidadResponse">

      <wsdl:part element="impl:buscarTerceroPorEntidadResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="buscarTerceroResponse">

      <wsdl:part element="impl:buscarTerceroResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="buscarTerceroPorEntidadRequest">

      <wsdl:part element="impl:buscarTerceroPorEntidad" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="buscarTerceroRequest">

      <wsdl:part element="impl:buscarTercero" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="ServicioRegistroTelematicoTercerosConnectorWebService">

      <wsdl:operation name="buscarTercero">

         <wsdl:input message="impl:buscarTerceroRequest" name="buscarTerceroRequest"/>

         <wsdl:output message="impl:buscarTerceroResponse" name="buscarTerceroResponse"/>

      </wsdl:operation>

      <wsdl:operation name="buscarTerceroPorEntidad">

         <wsdl:input message="impl:buscarTerceroPorEntidadRequest" name="buscarTerceroPorEntidadRequest"/>

         <wsdl:output message="impl:buscarTerceroPorEntidadResponse" name="buscarTerceroPorEntidadResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServicioRegistroTelematicoTercerosConnectorWebServiceSoapBinding" type="impl:ServicioRegistroTelematicoTercerosConnectorWebService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="buscarTercero">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buscarTerceroRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buscarTerceroResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buscarTerceroPorEntidad">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buscarTerceroPorEntidadRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buscarTerceroPorEntidadResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServicioRegistroTelematicoTercerosConnectorWebServiceService">

      <wsdl:port binding="impl:ServicioRegistroTelematicoTercerosConnectorWebServiceSoapBinding" name="ServicioRegistroTelematicoTercerosConnectorWebService">

         <wsdlsoap:address location="http://localhost:8080/SIGEM_RegistroTelematicoTercerosConnectorWS/services/ServicioRegistroTelematicoTercerosConnectorWebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
