registro/ISicres-WS-legacy/src/main/resources/wsdl/ISWebServiceReports.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.invesicres.org" xmlns:s1="http://schemas.xmlsoap.org/ws/2002/04/secext" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.invesicres.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">invesicres - Servicios Web de informaci贸n y operaci贸n sobre informes</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.invesicres.org">
      <s:element name="WSLoadCertificates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BookIdentification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSLoadCertificatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSLoadCertificatesResult" type="tns:ArrayOfWSReport" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfWSReport">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WSReport" nillable="true" type="tns:WSReport" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WSReport">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
        <s:attribute name="Id" type="s:int" use="required" />
        <s:attribute name="Type" type="s:int" use="required" />
      </s:complexType>
      <s:element name="WSCreateInputRegisterCertificate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BookIdentification" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="RegisterIdentification" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ReportIdentification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSCreateInputRegisterCertificateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSCreateInputRegisterCertificateResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSCreateOutputRegisterCertificate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BookIdentification" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="RegisterIdentification" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ReportIdentification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSCreateOutputRegisterCertificateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSCreateOutputRegisterCertificateResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/ws/2002/04/secext">
      <s:element name="Security" type="s1:Security" />
      <s:complexType name="Security">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UsernameToken" type="s1:UsernameTokenClass" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:complexType name="UsernameTokenClass">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OfficeCode" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="1" name="CheckPermissions" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WSLoadCertificatesSoapIn">
    <wsdl:part name="parameters" element="tns:WSLoadCertificates" />
  </wsdl:message>
  <wsdl:message name="WSLoadCertificatesSoapOut">
    <wsdl:part name="parameters" element="tns:WSLoadCertificatesResponse" />
  </wsdl:message>
  <wsdl:message name="WSLoadCertificatesSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSCreateInputRegisterCertificateSoapIn">
    <wsdl:part name="parameters" element="tns:WSCreateInputRegisterCertificate" />
  </wsdl:message>
  <wsdl:message name="WSCreateInputRegisterCertificateSoapOut">
    <wsdl:part name="parameters" element="tns:WSCreateInputRegisterCertificateResponse" />
  </wsdl:message>
  <wsdl:message name="WSCreateInputRegisterCertificateSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSCreateOutputRegisterCertificateSoapIn">
    <wsdl:part name="parameters" element="tns:WSCreateOutputRegisterCertificate" />
  </wsdl:message>
  <wsdl:message name="WSCreateOutputRegisterCertificateSoapOut">
    <wsdl:part name="parameters" element="tns:WSCreateOutputRegisterCertificateResponse" />
  </wsdl:message>
  <wsdl:message name="WSCreateOutputRegisterCertificateSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:portType name="ISWebServiceReportsSoap">
    <wsdl:operation name="WSLoadCertificates">
      <wsdl:input message="tns:WSLoadCertificatesSoapIn" />
      <wsdl:output message="tns:WSLoadCertificatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSCreateInputRegisterCertificate">
      <wsdl:input message="tns:WSCreateInputRegisterCertificateSoapIn" />
      <wsdl:output message="tns:WSCreateInputRegisterCertificateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSCreateOutputRegisterCertificate">
      <wsdl:input message="tns:WSCreateOutputRegisterCertificateSoapIn" />
      <wsdl:output message="tns:WSCreateOutputRegisterCertificateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ISWebServiceReportsSoap" type="tns:ISWebServiceReportsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSLoadCertificates">
      <soap:operation soapAction="http://www.invesicres.org/WSLoadCertificates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSLoadCertificatesSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSCreateInputRegisterCertificate">
      <soap:operation soapAction="http://www.invesicres.org/WSCreateInputRegisterCertificate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSCreateInputRegisterCertificateSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSCreateOutputRegisterCertificate">
      <soap:operation soapAction="http://www.invesicres.org/WSCreateOutputRegisterCertificate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSCreateOutputRegisterCertificateSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ISWebServiceReportsSoap12" type="tns:ISWebServiceReportsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSLoadCertificates">
      <soap12:operation soapAction="http://www.invesicres.org/WSLoadCertificates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSLoadCertificatesSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSCreateInputRegisterCertificate">
      <soap12:operation soapAction="http://www.invesicres.org/WSCreateInputRegisterCertificate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSCreateInputRegisterCertificateSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSCreateOutputRegisterCertificate">
      <soap12:operation soapAction="http://www.invesicres.org/WSCreateOutputRegisterCertificate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSCreateOutputRegisterCertificateSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ISWebServiceReports">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">invesicres - Servicios Web de informaci贸n y operaci贸n sobre informes</wsdl:documentation>
    <wsdl:port name="ISWebServiceReportsSoap" binding="tns:ISWebServiceReportsSoap">
      <soap:address location="http://localhost/WSinvesicres/ISWebServiceReports.asmx" />
    </wsdl:port>
    <wsdl:port name="ISWebServiceReportsSoap12" binding="tns:ISWebServiceReportsSoap12">
      <soap12:address location="http://localhost/WSinvesicres/ISWebServiceReports.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>