registro/ISicres-WS-legacy/src/main/resources/wsdl/ISWebServiceMatters.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.invesicres.org" xmlns:s1="http://schemas.xmlsoap.org/ws/2002/04/secext" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.invesicres.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">invesicres - Servicios Web de informaci贸n y operaci贸n sobre tipos de asunto</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.invesicres.org">
      <s:element name="WSLoadMatterTypes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InitValue" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSLoadMatterTypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSLoadMatterTypesResult" type="tns:WSMatterTypesResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WSMatterTypesResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="List" type="tns:ArrayOfWSMatterType" />
        </s:sequence>
        <s:attribute name="Total" type="s:long" use="required" />
      </s:complexType>
      <s:complexType name="ArrayOfWSMatterType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WSMatterType" nillable="true" type="tns:WSMatterType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WSMatterType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
        <s:attribute name="Id" type="s:long" use="required" />
        <s:attribute name="Enabled" type="s:boolean" use="required" />
        <s:attribute name="InputMatterType" type="s:boolean" use="required" />
        <s:attribute name="OutputMatterType" type="s:boolean" use="required" />
      </s:complexType>
      <s:element name="WSValidateMatterTypeCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MatterTypeCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSValidateMatterTypeCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSValidateMatterTypeCodeResult" type="tns:WSMatterType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSMatterTypesFromCondition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Condition" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="InitValue" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSMatterTypesFromConditionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSMatterTypesFromConditionResult" type="tns:WSMatterTypesResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/ws/2002/04/secext">
      <s:element name="Security" type="s1:Security" />
      <s:complexType name="Security">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UsernameToken" type="s1:UsernameTokenClass" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:complexType name="UsernameTokenClass">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OfficeCode" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="1" name="CheckPermissions" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WSLoadMatterTypesSoapIn">
    <wsdl:part name="parameters" element="tns:WSLoadMatterTypes" />
  </wsdl:message>
  <wsdl:message name="WSLoadMatterTypesSoapOut">
    <wsdl:part name="parameters" element="tns:WSLoadMatterTypesResponse" />
  </wsdl:message>
  <wsdl:message name="WSLoadMatterTypesSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSValidateMatterTypeCodeSoapIn">
    <wsdl:part name="parameters" element="tns:WSValidateMatterTypeCode" />
  </wsdl:message>
  <wsdl:message name="WSValidateMatterTypeCodeSoapOut">
    <wsdl:part name="parameters" element="tns:WSValidateMatterTypeCodeResponse" />
  </wsdl:message>
  <wsdl:message name="WSValidateMatterTypeCodeSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSMatterTypesFromConditionSoapIn">
    <wsdl:part name="parameters" element="tns:WSMatterTypesFromCondition" />
  </wsdl:message>
  <wsdl:message name="WSMatterTypesFromConditionSoapOut">
    <wsdl:part name="parameters" element="tns:WSMatterTypesFromConditionResponse" />
  </wsdl:message>
  <wsdl:message name="WSMatterTypesFromConditionSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:portType name="ISWebServiceMattersSoap">
    <wsdl:operation name="WSLoadMatterTypes">
      <wsdl:input message="tns:WSLoadMatterTypesSoapIn" />
      <wsdl:output message="tns:WSLoadMatterTypesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSValidateMatterTypeCode">
      <wsdl:input message="tns:WSValidateMatterTypeCodeSoapIn" />
      <wsdl:output message="tns:WSValidateMatterTypeCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSMatterTypesFromCondition">
      <wsdl:input message="tns:WSMatterTypesFromConditionSoapIn" />
      <wsdl:output message="tns:WSMatterTypesFromConditionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ISWebServiceMattersSoap" type="tns:ISWebServiceMattersSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSLoadMatterTypes">
      <soap:operation soapAction="http://www.invesicres.org/WSLoadMatterTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSLoadMatterTypesSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSValidateMatterTypeCode">
      <soap:operation soapAction="http://www.invesicres.org/WSValidateMatterTypeCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSValidateMatterTypeCodeSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSMatterTypesFromCondition">
      <soap:operation soapAction="http://www.invesicres.org/WSMatterTypesFromCondition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSMatterTypesFromConditionSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ISWebServiceMattersSoap12" type="tns:ISWebServiceMattersSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSLoadMatterTypes">
      <soap12:operation soapAction="http://www.invesicres.org/WSLoadMatterTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSLoadMatterTypesSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSValidateMatterTypeCode">
      <soap12:operation soapAction="http://www.invesicres.org/WSValidateMatterTypeCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSValidateMatterTypeCodeSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSMatterTypesFromCondition">
      <soap12:operation soapAction="http://www.invesicres.org/WSMatterTypesFromCondition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSMatterTypesFromConditionSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ISWebServiceMatters">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">invesicres - Servicios Web de informaci贸n y operaci贸n sobre tipos de asunto</wsdl:documentation>
    <wsdl:port name="ISWebServiceMattersSoap" binding="tns:ISWebServiceMattersSoap">
      <soap:address location="http://localhost/WSinvesicres/ISWebServiceMatters.asmx" />
    </wsdl:port>
    <wsdl:port name="ISWebServiceMattersSoap12" binding="tns:ISWebServiceMattersSoap12">
      <soap12:address location="http://localhost/WSinvesicres/ISWebServiceMatters.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>