registro/ISicres-WS-legacy/src/main/resources/wsdl/ISWebServiceBooks.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.invesicres.org" xmlns:s1="http://schemas.xmlsoap.org/ws/2002/04/secext" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.invesicres.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">invesicres - Servicios Web de informaci贸n y operaci贸n sobre libros de registro</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.invesicres.org">
      <s:element name="WSGetInputBooks">
        <s:complexType />
      </s:element>
      <s:element name="WSGetInputBooksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSGetInputBooksResult" type="tns:ArrayOfWSBook" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfWSBook">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WSBook" nillable="true" type="tns:WSBook" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WSBook">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
        <s:attribute name="Id" type="s:int" use="required" />
        <s:attribute name="Type" type="s:int" use="required" />
        <s:attribute name="ReadOnly" type="s:boolean" use="required" />
        <s:attribute name="CanCreate" type="s:boolean" use="required" />
        <s:attribute name="CanModify" type="s:boolean" use="required" />
      </s:complexType>
      <s:element name="WSGetOutputBooks">
        <s:complexType />
      </s:element>
      <s:element name="WSGetOutputBooksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSGetOutputBooksResult" type="tns:ArrayOfWSBook" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSGetBookSchema">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BookIdentification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSGetBookSchemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSGetBookSchemaResult" type="tns:ArrayOfWSField" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfWSField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WSField" nillable="true" type="tns:WSField" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WSField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Label" type="s:string" />
        </s:sequence>
        <s:attribute name="Id" type="s:int" use="required" />
        <s:attribute name="Type" type="s:string" />
        <s:attribute name="Length" type="s:int" use="required" />
        <s:attribute name="HasValidation" type="s:boolean" use="required" />
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/ws/2002/04/secext">
      <s:element name="Security" type="s1:Security" />
      <s:complexType name="Security">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UsernameToken" type="s1:UsernameTokenClass" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:complexType name="UsernameTokenClass">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OfficeCode" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="1" name="CheckPermissions" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WSGetInputBooksSoapIn">
    <wsdl:part name="parameters" element="tns:WSGetInputBooks" />
  </wsdl:message>
  <wsdl:message name="WSGetInputBooksSoapOut">
    <wsdl:part name="parameters" element="tns:WSGetInputBooksResponse" />
  </wsdl:message>
  <wsdl:message name="WSGetInputBooksSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSGetOutputBooksSoapIn">
    <wsdl:part name="parameters" element="tns:WSGetOutputBooks" />
  </wsdl:message>
  <wsdl:message name="WSGetOutputBooksSoapOut">
    <wsdl:part name="parameters" element="tns:WSGetOutputBooksResponse" />
  </wsdl:message>
  <wsdl:message name="WSGetOutputBooksSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSGetBookSchemaSoapIn">
    <wsdl:part name="parameters" element="tns:WSGetBookSchema" />
  </wsdl:message>
  <wsdl:message name="WSGetBookSchemaSoapOut">
    <wsdl:part name="parameters" element="tns:WSGetBookSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="WSGetBookSchemaSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:portType name="ISWebServiceBooksSoap">
    <wsdl:operation name="WSGetInputBooks">
      <wsdl:input message="tns:WSGetInputBooksSoapIn" />
      <wsdl:output message="tns:WSGetInputBooksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetOutputBooks">
      <wsdl:input message="tns:WSGetOutputBooksSoapIn" />
      <wsdl:output message="tns:WSGetOutputBooksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetBookSchema">
      <wsdl:input message="tns:WSGetBookSchemaSoapIn" />
      <wsdl:output message="tns:WSGetBookSchemaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ISWebServiceBooksSoap" type="tns:ISWebServiceBooksSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSGetInputBooks">
      <soap:operation soapAction="http://www.invesicres.org/WSGetInputBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSGetInputBooksSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetOutputBooks">
      <soap:operation soapAction="http://www.invesicres.org/WSGetOutputBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSGetOutputBooksSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetBookSchema">
      <soap:operation soapAction="http://www.invesicres.org/WSGetBookSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSGetBookSchemaSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ISWebServiceBooksSoap12" type="tns:ISWebServiceBooksSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSGetInputBooks">
      <soap12:operation soapAction="http://www.invesicres.org/WSGetInputBooks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSGetInputBooksSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetOutputBooks">
      <soap12:operation soapAction="http://www.invesicres.org/WSGetOutputBooks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSGetOutputBooksSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetBookSchema">
      <soap12:operation soapAction="http://www.invesicres.org/WSGetBookSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSGetBookSchemaSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ISWebServiceBooks">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">invesicres - Servicios Web de informaci贸n y operaci贸n sobre libros de registro</wsdl:documentation>
    <wsdl:port name="ISWebServiceBooksSoap" binding="tns:ISWebServiceBooksSoap">
      <soap:address location="http://localhost/WSinvesicres/ISWebServiceBooks.asmx" />
    </wsdl:port>
    <wsdl:port name="ISWebServiceBooksSoap12" binding="tns:ISWebServiceBooksSoap12">
      <soap12:address location="http://localhost/WSinvesicres/ISWebServiceBooks.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>