registro/ISicres-WS-legacy/src/main/resources/wsdl/ISWebServiceThirdParties.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.invesicres.org" xmlns:s1="http://schemas.xmlsoap.org/ws/2002/04/secext" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.invesicres.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">invesicres - Servicios Web de información y operacines  sobre terceros </wsdl:documentation>
  
  
  <!-- ************************************ TYPES ********************************************************* -->	  
  <wsdl:types>
  	<!-- Seguridad en los servicios web (en schema de seguridad) -->
  	<s:schema elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/ws/2002/04/secext">
      <s:element name="Security" type="s1:Security" />
      <s:complexType name="Security">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UsernameToken" type="s1:UsernameTokenClass" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:complexType name="UsernameTokenClass">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OfficeCode" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="1" name="CheckPermissions" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    
  	<!-- esquema de invesicres -->
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.invesicres.org">
          
       <!-- ////////////////////////////////////// CIUDADES /////////////////////////////////////////////////////////////// -->   
      <!-- ciudad -->
      <s:complexType name="WSCity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
        <s:attribute name="Id" type="s:long" use="required" />
      </s:complexType>
      
      <!-- array de ciudades -->
      <s:complexType name="ArrayOfWSCity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfWSCity" nillable="true" type="tns:WSCity" />
        </s:sequence>
      </s:complexType>
      
      <!-- respuesta de ciudad -->
      <s:complexType name="WSCityResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cityResult" type="tns:WSCity" />
        </s:sequence>
      </s:complexType>
      
      <!-- respuesta de ciudad -->
      <s:complexType name="WSCitiesResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cityResult" type="tns:ArrayOfWSCity" />
        </s:sequence>
      </s:complexType>
      
      
      
      <!-- parametro cagar ciudades -->
      <s:element name="WSLoadCities">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InitValue" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      
      <!-- respuesta de cargar ciudades -->
      <s:element name="WSLoadCitiesResponse">
      <s:complexType>
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="List" type="tns:WSCitiesResponse" />
        </s:sequence>
        <s:attribute name="Total" type="s:long" use="required" />
      </s:complexType>
      </s:element>
      
      <!-- parametros  cargar ciudad por Id -->      
      <s:element name="WSLoadCityById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      
      
      <!-- respuesta a cargar ciudad por Id -->
      <s:element name="WSLoadCityByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSCityResponseResult" type="tns:WSCityResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      
      
                 
      
      <!-- parametros  cargar ciudad por codigo -->      
      <s:element name="WSLoadCityByCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      
      <!-- respuesta a cargar ciudad por codigo -->
      <s:element name="WSLoadCityByCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSCityResponseResult" type="tns:WSCityResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      
      <!-- parametros  cargar ciudad por Name -->      
      <s:element name="WSLoadCityByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      
      <!-- respuesta a cargar ciudad por Name -->
      <s:element name="WSLoadCityByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSCityResponseResult" type="tns:WSCityResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
       
      
      <!-- parametros  cargar ciudad por Idprovincia name provincia -->      
      <s:element name="WSLoadCityByIdProvNameProv">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdProv" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="NameProv" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="InitValue" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      
       <!-- respuesta a cargar ciudad por idProvincia y Name provincia -->
      <s:element name="WSLoadCityByIdProvNameProvResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSCityResponseResult" type="tns:WSCitiesResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      
      
      <!-- ////////////////////////////////////// PROVINCIAS /////////////////////////////////////////////////////////////// -->
      	<!-- provincia -->
      <s:complexType name="WSProvince">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
        <s:attribute name="Id" type="s:long" use="required" />
      </s:complexType>
      
      <!-- array de provincias -->
      <s:complexType name="ArrayOfWSProvince">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfWSProvince" nillable="true" type="tns:WSProvince" />
        </s:sequence>
      </s:complexType>
      
      <!-- respuesta de provincia -->
      <s:complexType name="WSProvinceResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="provinceResult" type="tns:WSProvince" />
        </s:sequence>
      </s:complexType>
      
      <!-- respuesta de provincias -->
      <s:complexType name="WSProvincesResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="provincesResult" type="tns:ArrayOfWSProvince" />
        </s:sequence>
      </s:complexType>
      
      
      
      <!-- parametro cagar provincias -->
      <s:element name="WSLoadProvinces">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InitValue" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      
      <!-- respuesta de cargar provincias -->
      <s:element name="WSLoadProvincesResponse">
      <s:complexType>
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="List" type="tns:WSProvincesResponse" />
        </s:sequence>
        <s:attribute name="Total" type="s:long" use="required" />
      </s:complexType>
      </s:element>
      
      <!-- parametros  cargar provincia por Id -->      
      <s:element name="WSLoadProvinceById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      
      
      <!-- respuesta a cargar provincia por Id -->
      <s:element name="WSLoadProvinceByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSProvinceResponseResult" type="tns:WSProvinceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      
      
                 
      
      <!-- parametros  cargar provincia por codigo -->      
      <s:element name="WSLoadProvinceByCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      
      <!-- respuesta a cargar provincia por codigo -->
      <s:element name="WSLoadProvinceByCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSProvinceResponseResult" type="tns:WSProvinceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      
      <!-- parametros  cargar provincia por Name -->      
      <s:element name="WSLoadProvinceByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      
      <!-- respuesta a cargar provincia por Name -->
      <s:element name="WSLoadProvinceByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSProvinceResponseResult" type="tns:WSProvinceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      
      
      
      <!-- ////////////////////////////////////// DIRECCIONES POSTALES /////////////////////////////////////////////////////////////// -->   

	<!-- datos para añadir direcciones-->
	<s:complexType name="WSPostalAddressData">
      <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Province" type="s:string" />	  	  
	  	  <s:element minOccurs="1" maxOccurs="1" name="Address" type="s:string" />
	  	  <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
	  	  <s:element minOccurs="1" maxOccurs="1" name="Preferred" type="s:string" />
	  	  <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
      </s:sequence>
        
    </s:complexType>
      
      <!-- array de direccion postal -->
      <s:complexType name="ArrayOfWSPostalAddressData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfWSCity" nillable="true" type="tns:WSPostalAddressData" />
        </s:sequence>
      </s:complexType>
        
      <!-- datos para recuperacion y modificacion de datos-->
      <s:complexType name="WSPostalAddress">
        <s:sequence>
          	<s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          	<s:element minOccurs="0" maxOccurs="1" name="Province" type="s:string" />
	  	  	<s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
	  		<s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
	  		<s:element minOccurs="0" maxOccurs="1" name="Preferred" type="s:string" />
	  		<s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
        </s:sequence>
        <s:attribute name="Id" type="s:long" use="required" />
      </s:complexType>
      
      <!-- array de direccion postal -->
      <s:complexType name="ArrayOfWSPostalAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfWSCity" nillable="true" type="tns:WSPostalAddress" />
        </s:sequence>
      </s:complexType>
      
            
      <!-- respuesta de direcciones postales -->
      <s:complexType name="WSPostalAddressesResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PostalAddressesResult" type="tns:ArrayOfWSPostalAddress" />
        </s:sequence>
      </s:complexType>
      
      
      <!-- parametro añadir direcciones postales de tercero validado -->
      <s:element name="WSAddPostalAddresses">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdThirdParty" type="s:int" />
	    <s:element minOccurs="1" maxOccurs="1" name="AddressesToAdd" type="tns:ArrayOfWSPostalAddressData" />
	</s:sequence>
        </s:complexType>
      </s:element>
      
      <!-- respuesta de añadir direcciones postales de tercero validado -->
      <s:element name="WSAddPostalAddressesResponse">
      <s:complexType>
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="List" type="tns:WSPostalAddressesResponse" />
        </s:sequence>
	</s:complexType>
      </s:element>
      
      <!-- parametro modificar direcciones postales de tercero validado -->
       <s:element name="WSUpdatePostalAddresses">
        <s:complexType>
          <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="AddressesToMod" type="tns:ArrayOfWSPostalAddress" />
	</s:sequence>
        </s:complexType>
      </s:element>
      
      <!-- respuesta de añadir direcciones postales de tercero validado -->
      <s:element name="WSUpdatePostalAddressesResponse">
      <s:complexType>
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="List" type="tns:WSPostalAddressesResponse" />
        </s:sequence>
	</s:complexType>
      </s:element>
      
      
      <!-- parametro cagar direcciones postales de tercero validado -->
      <s:element name="WSLoadPostalAddressesByThirdParty">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdThirdParty" type="s:int" />
	</s:sequence>
        </s:complexType>
      </s:element>
      
      <!-- respuesta de cargar direcciones postales de tercero validado -->
      <s:element name="WSLoadPostalAddressesByThirdPartyResponse">
      <s:complexType>
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="List" type="tns:WSPostalAddressesResponse" />
        </s:sequence>
        <s:attribute name="Total" type="s:long" use="required" />
      </s:complexType>
      </s:element>
      
      
       <!-- ////////////////////////////////////// Terceros Fisicos Validados /////////////////////////////////////////////////////////////// -->   
      <!-- terceros -->
      
      <s:complexType name="WSThirdPartyPhisicalData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DocumentType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DocumentNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Surname1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Surname2" type="s:string" />
        </s:sequence>
        
      </s:complexType>
      
      <!-- array de terceros validados fisicos -->
      <s:complexType name="ArrayOfWSThirdPartyPhisicalData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfWSThirdPartyPhisicalData" nillable="true" type="tns:WSThirdPartyPhisicalData" />
        </s:sequence>
      </s:complexType>
      
      
      <s:complexType name="WSThirdPartyPhisical">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DocumentType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DocumentNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Surname1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Surname2" type="s:string" />
        </s:sequence>
        <s:attribute name="Id" type="s:long" use="required" />
      </s:complexType>
      
      <!-- array de terceros validados fisicos -->
      <s:complexType name="ArrayOfWSThirdPartyPhisical">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfWSThirdPartyPhisical" nillable="true" type="tns:WSThirdPartyPhisical" />
        </s:sequence>
      </s:complexType>
      
      
      
      <!--  parametro de terceros validados fisicos buscoado con numero de documento y typo- -->
      <s:element name="WSThirdPartyPhisicalByDocumentNumber">
      	<s:complexType>
      		<s:sequence>
            	<s:element minOccurs="1" maxOccurs="1" name="TipoDocumento" type="s:long" />
            	<s:element minOccurs="1" maxOccurs="1" name="DocumentNumber" type="s:string" />
          	</s:sequence>
         </s:complexType>
      </s:element>
      
      
      <!-- respuesta terceros validados fisicos buscoado con numero de documento y typo-->
      <s:element name="WSThirdPartyPhisicalByDocumentNumberResponse">
      <s:complexType >
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="WSThirdPartyPhisicalByDocumentNumberResponse" type="tns:ArrayOfWSThirdPartyPhisical" />
        </s:sequence>
      </s:complexType>
      </s:element>
      
            
       <!-- parametro añadir tercero validado -->
      <s:element name="WSAddThirdPartyPhisical">
        <s:complexType>
          	<s:sequence>
	    		<s:element minOccurs="1" maxOccurs="1" name="ThirdPartyPhisicalToAdd" type="tns:WSThirdPartyPhisicalData" />
			</s:sequence>
        </s:complexType>
      </s:element>
      
      <s:element name="WSAddThirdPartyPhisicalResponse">
        <s:complexType>
          <s:sequence>
	    <s:element minOccurs="1" maxOccurs="1" name="ThirdPartyPhisicalToAdd" type="tns:WSThirdPartyPhisical" />
	</s:sequence>
        </s:complexType>
      </s:element>
      
      <!-- parametro actualizar tercero validado -->
      <s:element name="WSUpdateThirdPartyPhisical">
        <s:complexType>
          <s:sequence>
	    <s:element minOccurs="1" maxOccurs="1" name="ThirdPartyPhisicalToAdd" type="tns:WSThirdPartyPhisical" />
	</s:sequence>
        </s:complexType>
      </s:element>
      
      <!-- respuesta actualizar tercero validado -->
      <s:element name="WSUpdateThirdPartyPhisicalResponse">
        <s:complexType>
          <s:sequence>
	    	<s:element minOccurs="1" maxOccurs="1" name="ThirdPartyPhisicalToUpdate" type="tns:WSThirdPartyPhisical" />
		</s:sequence>
        </s:complexType>
      </s:element>
      
      
      
      <!-- ////////////////////////////////////// Interesado Fisicos Validados /////////////////////////////////////////////////////////////// -->   
      <!-- intereados -->
      
      <s:complexType name="WSStakeholderData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BookId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="FolderId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="IdThirdParty" type="s:long" />
	  	  <s:element minOccurs="0" maxOccurs="1" name="IdAddress" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Preferred" type="s:boolean" />
          
        </s:sequence>
        
      </s:complexType>
      
      <!-- array de interesados -->
      <s:complexType name="ArrayOfWSStakeholderData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfWSStakeholderData" nillable="true" type="tns:WSStakeholderData" />
        </s:sequence>
      </s:complexType>
      
      <!-- interesado -->
      <s:complexType name="WSStakeholder">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BookId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="FolderId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="IdThirdParty" type="s:long" />
	 	  <s:element minOccurs="0" maxOccurs="1" name="IdAddress" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Preferred" type="s:boolean" />
	  	  <s:element minOccurs="1" maxOccurs="1" name="Name" type="s:string" />
	  	  <s:element minOccurs="1" maxOccurs="1" name="Ord" type="s:int" />
	  	  <s:element minOccurs="1" maxOccurs="1" name="typeStakeholder" type="s:int" />
        </s:sequence>
        <s:attribute name="Id" type="s:long" use="required" />
      </s:complexType>
      
      <!-- array de interesados -->
      <s:complexType name="ArrayOfWSStakeholder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfWSStakeholder" nillable="true" type="tns:WSStakeholder" />
        </s:sequence>
      </s:complexType>
      
      
       <!-- parametro añadir interesado-->
      <s:element name="WSAddStakeholder">
        <s:complexType>
          	<s:sequence>
	    		<s:element minOccurs="1" maxOccurs="1" name="ThirdPartyPhisicalToAdd" type="tns:WSStakeholderData" />
			</s:sequence>
        </s:complexType>
      </s:element>

	   <!-- respuesta añadir interesado -->
	<s:element name="WSAddStakeholderResponse">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="1" maxOccurs="1" name="AddStakeholderAdded" type="tns:WSStakeholder" />
			</s:sequence>
		</s:complexType>
	</s:element>
	
	<!-- parametro eliminar interesado -->
	<s:element name="WSRemoveStakeholder">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="1" maxOccurs="1" name="IdStakeholder" type="s:long" />
			</s:sequence>
		</s:complexType>
	</s:element>
	
	<!-- respuesta eliminar interesado -->
	<s:element name="WSRemoveStakeholderResponse">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="1" maxOccurs="1" name="IdStakeholderRemoved" type="s:long" />
			</s:sequence>
		</s:complexType>
	</s:element>
	
	
	<!-- parametro actualizar direcion notificacion-->
	<s:element name="WSUpdateNotifyAddressStakeholder">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="1" maxOccurs="1" name="IdStakeholder" type="s:long" />
				<s:element minOccurs="1" maxOccurs="1" name="IdAddress" type="s:long" />
			</s:sequence>

		</s:complexType>
	</s:element>
	
	<!-- respuesta actualizar direcion notificacion-->
	<s:element name="WSUpdateNotifyAddressStakeholderResponse">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="1" maxOccurs="1" name="IdStakeholderUpdated" type="s:long" />
			</s:sequence>
		</s:complexType>
	</s:element>
	
	<!-- parametro obtener interesados de un registro-->
	<s:element name="WSLoadStakeholders">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="1" maxOccurs="1" name="BookId" type="s:long" />
          		<s:element minOccurs="1" maxOccurs="1" name="FolderId" type="s:long" />
			</s:sequence>

		</s:complexType>
	</s:element>
	
	<!-- respuesta obtener interesados de un registro-->
	<s:element name="WSLoadStakeholdersResponse">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="1" maxOccurs="1" name="ArrayStakeholderAdded" type="tns:ArrayOfWSStakeholder" />
			</s:sequence>
		</s:complexType>
	</s:element>
      
      
    </s:schema>
  </wsdl:types>
  
  <!-- ************************************ MESSAGES ********************************************************* -->
  
	
	
	<!-- ////////////////////////////////////// CIUDADES /////////////////////////////////////////////////////////////// -->
	<!-- ///////////////// -->
  	<!--  mensajes para la operacion de carga de ciudades-->
  	
	<!-- mensaje de seguridad -->	
  <wsdl:message name="WSLoadCitiesSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
	<!-- mensaje de parametros de entrada  busqueda de ciudad por codigo-->	
  <wsdl:message name="WSLoadCitiesSoapIn">
    <wsdl:part name="parameters" element="tns:WSLoadCities" />
  </wsdl:message>
  <!-- mensaje de respuesta busqueda de ciudad por codigo -->
  <wsdl:message name="WSLoadCitiesSoapOut">
    <wsdl:part name="parametersOut" element="tns:WSLoadCitiesResponse" />
  </wsdl:message>

  <!-- ///////////////// -->
  <!--  mensajes para la operacion de carga de ciudad por codigo -->
  
  <!-- mensaje de seguridad -->	
  <wsdl:message name="WSLoadCityByCodeSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  
	<!-- mensaje de parametros de entrada  busqueda de ciudad por codigo-->	
  <wsdl:message name="WSLoadCityByCodeSoapIn">
    <wsdl:part name="parameters" element="tns:WSLoadCityByCode" />
  </wsdl:message>
  <!-- mensaje de respuesta busqueda de ciudad por codigo -->
  <wsdl:message name="WSLoadCityByCodeSoapOut">
    <wsdl:part name="parametersOut" element="tns:WSLoadCityByCodeResponse" />
  </wsdl:message>
  
  <!-- ///////////////// -->
  <!--  mensajes para la operacion busqueda de ciudad por id-->
  
  <!-- mensaje seguridad busqueda de ciudad por id-->
  <wsdl:message name="WSLoadCityByIdSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  
  <!-- mensaje de parametros de entrada  busqueda de ciudad por id-->	
  <wsdl:message name="WSLoadCityByIdSoapIn">
    <wsdl:part name="parameters" element="tns:WSLoadCityById" />
  </wsdl:message>
  
  <!-- mensaje de respuesta busqueda de ciudad por id -->
  <wsdl:message name="WSLoadCityByIdSoapOut">
    <wsdl:part name="parametersOut" element="tns:WSLoadCityByIdResponse" />
  </wsdl:message>
  
  <!-- ///////////////// -->
  <!--  mensajes para la operacion busqueda de ciudad por name-->
  
  <!-- mensaje seguridad busqueda de ciudad por name -->
  <wsdl:message name="WSLoadCityByNameSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  
  <!-- mensaje de parametros de entrada  busqueda de ciudad por name -->	
  <wsdl:message name="WSLoadCityByNameSoapIn">
    <wsdl:part name="parameters" element="tns:WSLoadCityByName" />
  </wsdl:message>
  
  <!-- mensaje de respuesta busqueda de ciudad por name -->
  <wsdl:message name="WSLoadCityByNameSoapOut">
    <wsdl:part name="parametersOut" element="tns:WSLoadCityByNameResponse" />
  </wsdl:message>
  
  
  <!-- ///////////////// -->
  <!--  mensajes para la operacion busqueda de ciudad por id provincia y name de provincia-->
  <!-- mensaje seguridad busqueda de ciudad por id provincia y name de provincia -->
  <wsdl:message name="WSLoadCityByIdProvNameProvSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  
  <!-- mensaje de parametros de entrada  busqueda de ciudad por por id provincia y name de provincia -->	
  <wsdl:message name="WSLoadCityByIdProvNameProvSoapIn">
    <wsdl:part name="parameters" element="tns:WSLoadCityByIdProvNameProv" />
  </wsdl:message>
  
  <!-- mensaje de respuesta busqueda de ciudad  por id provincia y name de provincia -->
  <wsdl:message name="WSLoadCityByIdProvNameProvSoapOut">
    <wsdl:part name="parametersOut" element="tns:WSLoadCityByIdProvNameProvResponse" />
  </wsdl:message>
  
  <!-- ////////////////////////////////////// PROVINCIAS /////////////////////////////////////////////////////////////// -->
	<!-- ///////////////// -->
  	<!--  mensajes para la operacion de carga de PROVINCIAS-->
  	
	<!-- mensaje de seguridad -->	
  <wsdl:message name="WSLoadProvincesSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
<!-- mensaje de parametros de entrada  busqueda de provincia por codigo-->	
  <wsdl:message name="WSLoadProvincesSoapIn">
    <wsdl:part name="parameters" element="tns:WSLoadProvinces" />
  </wsdl:message>
  <!-- mensaje de respuesta busqueda de provincia por codigo -->
  <wsdl:message name="WSLoadProvincesSoapOut">
    <wsdl:part name="parametersOut" element="tns:WSLoadProvincesResponse" />
  </wsdl:message>

  <!-- ///////////////// -->
  <!--  mensajes para la operacion de carga de provincia por codigo -->
  
  <!-- mensaje de seguridad -->	
  <wsdl:message name="WSLoadProvinceByCodeSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  
	<!-- mensaje de parametros de entrada  busqueda de provincia por codigo-->	
  <wsdl:message name="WSLoadProvinceByCodeSoapIn">
    <wsdl:part name="parameters" element="tns:WSLoadProvinceByCode" />
  </wsdl:message>
  <!-- mensaje de respuesta busqueda de provincia por codigo -->
  <wsdl:message name="WSLoadProvinceByCodeSoapOut">
    <wsdl:part name="parametersOut" element="tns:WSLoadProvinceByCodeResponse" />
  </wsdl:message>
  
  <!-- ///////////////// -->
  <!--  mensajes para la operacion busqueda de provincia por id-->
  
  <!-- mensaje seguridad busqueda de provincia por id-->
  <wsdl:message name="WSLoadProvinceByIdSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  
  <!-- mensaje de parametros de entrada  busqueda de provincia por id-->	
  <wsdl:message name="WSLoadProvinceByIdSoapIn">
    <wsdl:part name="parameters" element="tns:WSLoadProvinceById" />
  </wsdl:message>
  
  <!-- mensaje de respuesta busqueda de provincia por id -->
  <wsdl:message name="WSLoadProvinceByIdSoapOut">
    <wsdl:part name="parametersOut" element="tns:WSLoadProvinceByIdResponse" />
  </wsdl:message>
  
  <!-- ///////////////// -->
  <!--  mensajes para la operacion busqueda de provincia por name-->
  
  <!-- mensaje seguridad busqueda de provincia por name -->
  <wsdl:message name="WSLoadProvinceByNameSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  
  <!-- mensaje de parametros de entrada  busqueda de provincia por name -->	
  <wsdl:message name="WSLoadProvinceByNameSoapIn">
    <wsdl:part name="parameters" element="tns:WSLoadProvinceByName" />
  </wsdl:message>
  
  <!-- mensaje de respuesta busqueda de provincia por name -->
  <wsdl:message name="WSLoadProvinceByNameSoapOut">
    <wsdl:part name="parametersOut" element="tns:WSLoadProvinceByNameResponse" />
  </wsdl:message>
  
  
  <!-- ////////////////////////////////////// DIRECIONES FISICAS /////////////////////////////////////////////////////////////// -->
	<!-- ///////////////// -->
  	<!--  mensajes para la operacion de carga de DIRECIONES FISICAS-->
  	<!-- mensaje de seguridad -->	
  <wsdl:message name="WSLoadPostalAddressesByThirdPartySecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <!-- mensaje de parametros de entrada  busqueda por idTercero-->	
  <wsdl:message name="WSLoadPostalAddressesByThirdPartySoapIn">
    <wsdl:part name="parameters" element="tns:WSLoadPostalAddressesByThirdParty" />
  </wsdl:message>
  <!-- mensaje de respuesta busqueda de provincia por idTercero -->
  <wsdl:message name="WSLoadPostalAddressesByThirdPartySoapOut">
    <wsdl:part name="parametersOut" element="tns:WSLoadPostalAddressesByThirdPartyResponse" />
  </wsdl:message>
  
    <!--  mensajes para la operacion de añadir de DIRECIONES FISICAS-->
  	<!-- mensaje de seguridad -->	
  <wsdl:message name="WSAddPostalAddressesSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <!-- mensaje de parametros de entrada  busqueda por idTercero-->	
  <wsdl:message name="WSAddPostalAddressesSoapIn">
    <wsdl:part name="parameters" element="tns:WSAddPostalAddresses" />
  </wsdl:message>
  <!-- mensaje de respuesta busqueda de provincia por idTercero -->
  <wsdl:message name="WSAddPostalAddressesSoapOut">
    <wsdl:part name="parametersOut" element="tns:WSAddPostalAddressesResponse" />
  </wsdl:message>
  
  
  <!--  mensajes para la operacion de modificacion de DIRECIONES FISICAS-->
  	<!-- mensaje de seguridad -->	
  <wsdl:message name="WSUpdatePostalAddressesSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <!-- mensaje de parametros de entrada  busqueda por idTercero-->	
  <wsdl:message name="WSUpdatePostalAddressesSoapIn">
    <wsdl:part name="parameters" element="tns:WSUpdatePostalAddresses" />
  </wsdl:message>
  <!-- mensaje de respuesta busqueda de provincia por idTercero -->
  <wsdl:message name="WSUpdatePostalAddressesSoapOut">
    <wsdl:part name="parametersOut" element="tns:WSUpdatePostalAddressesResponse" />
  </wsdl:message>
   
   <!-- ////////////////////////////////////// Terceros Fisicos Validados /////////////////////////////////////////////////////////////// -->
   <!--  mensajes para la operacion de añadir de Terceros FISICAS-->
  	<!-- mensaje de seguridad -->	
  <wsdl:message name="WSAddThirdPartyPhisicalSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <!-- mensaje de parametros de entrada  busqueda por idTercero-->	
  <wsdl:message name="WSAddThirdPartyPhisicalSoapIn">
    <wsdl:part name="parameters" element="tns:WSAddThirdPartyPhisical" />
  </wsdl:message>
  <!-- mensaje de respuesta busqueda de provincia por idTercero -->
  <wsdl:message name="WSAddThirdPartyPhisicalSoapOut">
    <wsdl:part name="parametersOut" element="tns:WSAddThirdPartyPhisicalResponse" />
  </wsdl:message>
  
  
  <!--  mensajes para la operacion de modificacion de terceros FISICAS-->
  	<!-- mensaje de seguridad -->	
  <wsdl:message name="WSUpdateThirdPartyPhisicalSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <!-- mensaje de parametros actualizacion de un tercero fisico-->	
  <wsdl:message name="WSUpdateThirdPartyPhisicalSoapIn">
    <wsdl:part name="parameters" element="tns:WSUpdateThirdPartyPhisical" />
  </wsdl:message>
  <!-- mensaje de respuesta actualizacion de tercero -->
  <wsdl:message name="WSUpdateThirdPartyPhisicalSoapOut">
    <wsdl:part name="parametersOut" element="tns:WSUpdateThirdPartyPhisicalResponse" />
  </wsdl:message>
  
  
  <!--  mensajes para la operacion de busqueda de terceros FISICAS por numero documento y tipo-->
  	<!-- mensaje de seguridad -->	
  <wsdl:message name="WSThirdPartyPhisicalByDocumentNumberSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <!-- mensaje de parametros actualizacion de un tercero fisico-->	
  <wsdl:message name="WSThirdPartyPhisicalByDocumentNumberSoapIn">
    <wsdl:part name="parameters" element="tns:WSThirdPartyPhisicalByDocumentNumber" />
  </wsdl:message>
  <!-- mensaje de respuesta actualizacion de tercero -->
  <wsdl:message name="WSThirdPartyPhisicalByDocumentNumberSoapOut">
    <wsdl:part name="parametersOut" element="tns:WSThirdPartyPhisicalByDocumentNumberResponse" />
  </wsdl:message>
  
  
   <!-- ////////////////////////////////////// Interesados registro /////////////////////////////////////////////////////////////// -->
   <!--  mensajes para la operacion de añadir de interesados a un registro-->
  	<!-- mensaje de seguridad -->	
  <wsdl:message name="WSAddStakeholderSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <!-- mensaje de parametros de entrada añadir interesado-->	
  <wsdl:message name="WSAddStakeholderSoapIn">
    <wsdl:part name="parameters" element="tns:WSAddStakeholder" />
  </wsdl:message>
  <!-- mensaje de respuesta busqueda de provincia por idTercero -->
  <wsdl:message name="WSAddStakeholderSoapOut">
    <wsdl:part name="parametersOut" element="tns:WSAddStakeholderResponse" />
  </wsdl:message>
  
  
  <!--  mensajes para la operacion eliminacion de interesado de un registro-->
  	<!-- mensaje de seguridad -->	
  <wsdl:message name="WSRemoveStakeholderSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <!-- mensaje de parametros actualizacion de un tercero fisico-->	
  <wsdl:message name="WSRemoveStakeholderSoapIn">
    <wsdl:part name="parameters" element="tns:WSRemoveStakeholder" />
  </wsdl:message>
  <!-- mensaje de respuesta actualizacion de tercero -->
  <wsdl:message name="WSRemoveStakeholderSoapOut">
    <wsdl:part name="parametersOut" element="tns:WSRemoveStakeholderResponse" />
  </wsdl:message>
  
  
  <!--  mensajes para actualizacion de dirección a usar en interesado de un registro-->
  	<!-- mensaje de seguridad -->	
  <wsdl:message name="WSUpdateNotifyAddressStakeholderSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <!-- mensaje de parametros actualizacion de dirección a usar en interesado de un registro -->	
  <wsdl:message name="WSUpdateNotifyAddressStakeholderSoapIn">
    <wsdl:part name="parameters" element="tns:WSUpdateNotifyAddressStakeholder" />
  </wsdl:message>
  <!-- mensaje de respuesta actualizacion de dirección a usar en interesado de un registro -->
  <wsdl:message name="WSUpdateNotifyAddressStakeholderSoapOut">
    <wsdl:part name="parametersOut" element="tns:WSUpdateNotifyAddressStakeholderResponse" />
  </wsdl:message>
  
  
  <!--  mensajes de carga de interesados de un registro-->
  	<!-- mensaje de seguridad -->	
  <wsdl:message name="WSLoadStakeholdersSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <!-- mensaje de parametros actualizacion de dirección a usar en interesado de un registro -->	
  <wsdl:message name="WSLoadStakeholdersSoapIn">
    <wsdl:part name="parameters" element="tns:WSLoadStakeholders" />
  </wsdl:message>
  <!-- mensaje de respuesta actualizacion de dirección a usar en interesado de un registro -->
  <wsdl:message name="WSLoadStakeholdersSoapOut">
    <wsdl:part name="parametersOut" element="tns:WSLoadStakeholdersResponse" />
  </wsdl:message>
  
  
  
  
  
  

<!-- ************************************ PORTS ********************************************************* -->
  <!-- definicion de interfaz de servicios -->	
  <wsdl:portType name="ISWebServiceThirdPartiesSoap">
  
  
  <!-- ////////////////////////////////////// CIUDADES /////////////////////////////////////////////////////////////// -->
  	<!-- carga de ciudades-->
    <wsdl:operation name="WSLoadCities">
      <wsdl:input message="tns:WSLoadCitiesSoapIn" />
      <wsdl:output message="tns:WSLoadCitiesSoapOut" />
    </wsdl:operation>
  
   <!-- carga de ciudad por id -->
    <wsdl:operation name="WSLoadCityById">
      <wsdl:input message="tns:WSLoadCityByIdSoapIn" />
      <wsdl:output message="tns:WSLoadCityByIdSoapOut" />
    </wsdl:operation>
    
  
  	<!-- carga de ciudad por codigo -->
    <wsdl:operation name="WSLoadCityByCode">
      <wsdl:input message="tns:WSLoadCityByCodeSoapIn" />
      <wsdl:output message="tns:WSLoadCityByCodeSoapOut" />
    </wsdl:operation>
    
   
    
    <!-- carga de ciudad por name -->
    <wsdl:operation name="WSLoadCityByName">
      <wsdl:input message="tns:WSLoadCityByNameSoapIn" />
      <wsdl:output message="tns:WSLoadCityByNameSoapOut" />
    </wsdl:operation>
    
    <!-- carga de ciudad por id provincia y name de provincia-->
    <wsdl:operation name="WSLoadCityByIdProvNameProv">
      <wsdl:input message="tns:WSLoadCityByIdProvNameProvSoapIn" />
      <wsdl:output message="tns:WSLoadCityByIdProvNameProvSoapOut" />
    </wsdl:operation>
    
    <!-- ////////////////////////////////////// PROVINCIAS /////////////////////////////////////////////////////////////// -->
  	<!-- carga de provincias-->
    <wsdl:operation name="WSLoadProvinces">
      <wsdl:input message="tns:WSLoadProvincesSoapIn" />
      <wsdl:output message="tns:WSLoadProvincesSoapOut" />
    </wsdl:operation>
  
   <!-- carga de provincia por id -->
    <wsdl:operation name="WSLoadProvinceById">
      <wsdl:input message="tns:WSLoadProvinceByIdSoapIn" />
      <wsdl:output message="tns:WSLoadProvinceByIdSoapOut" />
    </wsdl:operation>
    
  
  	<!-- carga de provincia por codigo -->
    <wsdl:operation name="WSLoadProvinceByCode">
      <wsdl:input message="tns:WSLoadProvinceByCodeSoapIn" />
      <wsdl:output message="tns:WSLoadProvinceByCodeSoapOut" />
    </wsdl:operation>
    
   
    
    <!-- carga de provincia por name -->
    <wsdl:operation name="WSLoadProvinceByName">
      <wsdl:input message="tns:WSLoadProvinceByNameSoapIn" />
      <wsdl:output message="tns:WSLoadProvinceByNameSoapOut" />
    </wsdl:operation>
    
    <!-- ////////////////////////////////////// DIRECCIONES FISICAS /////////////////////////////////////////////////////////////// -->
  	<!-- carga de DIRECIONES FISICAS de tercero-->
    <wsdl:operation name="WSLoadPostalAddressesByThirdParty">
      <wsdl:input message="tns:WSLoadPostalAddressesByThirdPartySoapIn" />
      <wsdl:output message="tns:WSLoadPostalAddressesByThirdPartySoapOut" />
    </wsdl:operation>
  
   <!-- añadir direcciones a tercero-->
    <wsdl:operation name="WSAddPostalAddresses">
      <wsdl:input message="tns:WSAddPostalAddressesSoapIn" />
      <wsdl:output message="tns:WSAddPostalAddressesSoapOut" />
    </wsdl:operation>
    
  
  	<!-- carga de provincia por codigo -->
    <wsdl:operation name="WSUpdatePostalAddresses">
      <wsdl:input message="tns:WSUpdatePostalAddressesSoapIn" />
      <wsdl:output message="tns:WSUpdatePostalAddressesSoapOut" />
    </wsdl:operation>
    
  
  
   <!-- ////////////////////////////////////// Terceros FISICAS /////////////////////////////////////////////////////////////// -->
  	<!-- carga de Terceros FISICOS por numero documento-->
    <wsdl:operation name="WSThirdPartyPhisicalByDocumentNumber">
      <wsdl:input message="tns:WSThirdPartyPhisicalByDocumentNumberSoapIn" />
      <wsdl:output message="tns:WSThirdPartyPhisicalByDocumentNumberSoapOut" />
    </wsdl:operation>
  
   <!-- añadir terceros fisicos-->
    <wsdl:operation name="WSAddThirdPartyPhisical">
      <wsdl:input message="tns:WSAddThirdPartyPhisicalSoapIn" />
      <wsdl:output message="tns:WSAddThirdPartyPhisicalSoapOut" />
    </wsdl:operation>
    
  
  	<!-- actualizacion de teceros fisicos -->
    <wsdl:operation name="WSUpdateThirdPartyPhisical">
      <wsdl:input message="tns:WSUpdateThirdPartyPhisicalSoapIn" />
      <wsdl:output message="tns:WSUpdateThirdPartyPhisicalSoapOut" />
    </wsdl:operation>
    
    <!-- ////////////////////////////////////// INTERESADOS /////////////////////////////////////////////////////////////// -->
    <!-- añadir Interesados a registro -->
	<wsdl:operation name="WSAddStakeholder">
    <wsdl:input message="tns:WSAddStakeholderSoapIn" />
      <wsdl:output message="tns:WSAddStakeholderSoapOut" />
    </wsdl:operation>
  
   <!-- eliminar interesado a registro -->
    <wsdl:operation name="WSRemoveStakeholder">
      <wsdl:input message="tns:WSRemoveStakeholderSoapIn" />
      <wsdl:output message="tns:WSRemoveStakeholderSoapOut" />
    </wsdl:operation>
    
  
  	<!-- actualizacion direcion notificacion de interesado -->
    <wsdl:operation name="WSUpdateNotifyAddressStakeholder">
      <wsdl:input message="tns:WSUpdateNotifyAddressStakeholderSoapIn" />
      <wsdl:output message="tns:WSUpdateNotifyAddressStakeholderSoapOut" />
    </wsdl:operation>
    
    <!-- carga de interesados de un registro -->
    <wsdl:operation name="WSLoadStakeholders">
      <wsdl:input message="tns:WSLoadStakeholdersSoapIn" />
      <wsdl:output message="tns:WSLoadStakeholdersSoapOut" />
    </wsdl:operation>
    
    
  </wsdl:portType>
  
  
  <!-- ************************************ BINDINGS ********************************************************* -->
  <!-- binding de los servicios -->
  <wsdl:binding name="ISWebServiceThirdPartiesSoap" type="tns:ISWebServiceThirdPartiesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    
    <!-- ////////////////////////////////////// ciudades /////////////////////////////////////////////////////////////// -->
    <!-- carga de ciudades -->
    <wsdl:operation name="WSLoadCities">
      <soap:operation soapAction="http://www.invesicres.org/WSLoadCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSLoadCitiesSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    
    <!-- carga de ciudad por id -->
    <wsdl:operation name="WSLoadCityById">
      <soap:operation soapAction="http://www.invesicres.org/WSLoadCityById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSLoadCityByIdSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <!-- carga de ciudad por codigo -->
    <wsdl:operation name="WSLoadCityByCode">
      <soap:operation soapAction="http://www.invesicres.org/WSLoadCityByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSLoadCityByCodeSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    
    <!-- carga de ciudad por name -->
    <wsdl:operation name="WSLoadCityByName">
      <soap:operation soapAction="http://www.invesicres.org/WSLoadCityByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSLoadCityByNameSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <!-- carga de ciudad por id provincia y name de provincia -->
    <wsdl:operation name="WSLoadCityByIdProvNameProv">
      <soap:operation soapAction="http://www.invesicres.org/WSLoadCityByIdProvNameProv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSLoadCityByIdProvNameProvSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <!-- ////////////////////////////////////// PROVINCIAS /////////////////////////////////////////////////////////////// -->
<!-- carga de provincias -->
    <wsdl:operation name="WSLoadProvinces">
      <soap:operation soapAction="http://www.invesicres.org/WSLoadProvinces" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSLoadProvincesSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    
    <!-- carga de provincias por id -->
    <wsdl:operation name="WSLoadProvinceById">
      <soap:operation soapAction="http://www.invesicres.org/WSLoadProvinceById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSLoadProvinceByIdSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <!-- carga de provincias por codigo -->
    <wsdl:operation name="WSLoadProvinceByCode">
      <soap:operation soapAction="http://www.invesicres.org/WSLoadProvinceByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSLoadProvinceByCodeSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    
    <!-- carga de provincias por name -->
    <wsdl:operation name="WSLoadProvinceByName">
      <soap:operation soapAction="http://www.invesicres.org/WSLoadProvinceByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSLoadProvinceByNameSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    
    
     <!-- ////////////////////////////////////// DIRECCIONES FISICAS /////////////////////////////////////////////////////////////// -->
	<!-- carga de DIRECCIONES FISICAS-->
    <wsdl:operation name="WSLoadPostalAddressesByThirdParty">
      <soap:operation soapAction="http://www.invesicres.org/WSLoadPostalAddressesByThirdParty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSLoadPostalAddressesByThirdPartySecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <!-- añadir direcciones fisicas -->
    <wsdl:operation name="WSAddPostalAddresses">
      <soap:operation soapAction="http://www.invesicres.org/WSAddPostalAddresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSAddPostalAddressesSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <!-- modificar direcciones fisicas -->
    <wsdl:operation name="WSUpdatePostalAddresses">
      <soap:operation soapAction="http://www.invesicres.org/WSUpdatePostalAddresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSUpdatePostalAddressesSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    
    <!-- ////////////////////////////////////// TERCEROS FISICOS /////////////////////////////////////////////////////////////// -->
	<!-- carga de TECEROS FISICAS-->
    <wsdl:operation name="WSThirdPartyPhisicalByDocumentNumber">
      <soap:operation soapAction="http://www.invesicres.org/WSThirdPartyPhisicalByDocumentNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSThirdPartyPhisicalByDocumentNumberSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <!-- añadir TERCEROS  fisicas -->
    <wsdl:operation name="WSAddThirdPartyPhisical">
      <soap:operation soapAction="http://www.invesicres.org/WSAddThirdPartyPhisical" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSAddThirdPartyPhisicalSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <!-- modificar TERCEROS fisicas -->
    <wsdl:operation name="WSUpdateThirdPartyPhisical">
      <soap:operation soapAction="http://www.invesicres.org/WSUpdateThirdPartyPhisical" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSUpdateThirdPartyPhisicalSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    
    <!-- ////////////////////////////////////// INTERESADOS/////////////////////////////////////////////////////////////// -->
	<!-- añadir Interesados a registro -->
    <wsdl:operation name="WSAddStakeholder">
      <soap:operation soapAction="http://www.invesicres.org/WSAddStakeholder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSAddStakeholderSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <!-- eliminar interesado a registro -->
    <wsdl:operation name="WSRemoveStakeholder">
      <soap:operation soapAction="http://www.invesicres.org/WSRemoveStakeholder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSRemoveStakeholderSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <!-- actualizacion direcion notificacion de interesado -->
    <wsdl:operation name="WSUpdateNotifyAddressStakeholder">
      <soap:operation soapAction="http://www.invesicres.org/WSUpdateNotifyAddressStakeholder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSUpdateNotifyAddressStakeholderSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    
    
    
     <!-- carga de interesados de un registro -->
    <wsdl:operation name="WSLoadStakeholders">
      <soap:operation soapAction="http://www.invesicres.org/WSLoadStakeholders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSLoadStakeholdersSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    
    
    
    
   </wsdl:binding>
   
    
  <wsdl:binding name="ISWebServiceThirdPartiesSoap12" type="tns:ISWebServiceThirdPartiesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    
    
    <!-- carga de ciudades -->
    <wsdl:operation name="WSLoadCities">
      <soap12:operation soapAction="http://www.invesicres.org/WSLoadCities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSLoadCitiesSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    
    <!-- carga de ciudad por id -->
    <wsdl:operation name="WSLoadCityById">
      <soap12:operation soapAction="http://www.invesicres.org/WSLoadCityById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSLoadCityByIdSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <!-- carga de ciudad por codigo -->
    <wsdl:operation name="WSLoadCityByCode">
      <soap12:operation soapAction="http://www.invesicres.org/WSLoadCityByCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSLoadCityByCodeSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <!-- carga de ciudad por name -->
    <wsdl:operation name="WSLoadCityByName">
      <soap12:operation soapAction="http://www.invesicres.org/WSLoadCityByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSLoadCityByNameSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
     <!-- carga de ciudad por id provincia y name provincia -->
    <wsdl:operation name="WSLoadCityByIdProvNameProv">
      <soap12:operation soapAction="http://www.invesicres.org/WSLoadCityByIdProvNameProv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSLoadCityByIdProvNameProvSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <!-- ////////////////////////////////////// PROVINCIAS /////////////////////////////////////////////////////////////// -->
<!-- carga de provincias -->
    <wsdl:operation name="WSLoadProvinces">
      <soap12:operation soapAction="http://www.invesicres.org/WSLoadProvinces" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSLoadProvincesSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    
    <!-- carga de provincia por id -->
    <wsdl:operation name="WSLoadProvinceById">
      <soap12:operation soapAction="http://www.invesicres.org/WSLoadProvinceById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSLoadProvinceByIdSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <!-- carga de provincia por codigo -->
    <wsdl:operation name="WSLoadProvinceByCode">
      <soap12:operation soapAction="http://www.invesicres.org/WSLoadProvinceByCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSLoadProvinceByCodeSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <!-- carga de provincia por name -->
    <wsdl:operation name="WSLoadProvinceByName">
      <soap12:operation soapAction="http://www.invesicres.org/WSLoadProvinceByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSLoadProvinceByNameSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
     <!-- ////////////////////////////////////// DIRECCIONES FISICAS /////////////////////////////////////////////////////////////// -->
	<!-- carga de DIRECCIONES FISICAS-->
    <wsdl:operation name="WSLoadPostalAddressesByThirdParty">
      <soap12:operation soapAction="http://www.invesicres.org/WSLoadPostalAddressesByThirdParty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSLoadPostalAddressesByThirdPartySecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <!-- añadir direcciones fisicas -->
    <wsdl:operation name="WSAddPostalAddresses">
      <soap12:operation soapAction="http://www.invesicres.org/WSAddPostalAddresses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSAddPostalAddressesSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <!-- modificar direcciones fisicas -->
    <wsdl:operation name="WSUpdatePostalAddresses">
      <soap12:operation soapAction="http://www.invesicres.org/WSUpdatePostalAddresses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSUpdatePostalAddressesSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    
    
    <!-- ////////////////////////////////////// TERCEROS FISICOS /////////////////////////////////////////////////////////////// -->
	<!-- carga de TECEROS FISICAS-->
    <wsdl:operation name="WSThirdPartyPhisicalByDocumentNumber">
      <soap12:operation soapAction="http://www.invesicres.org/WSThirdPartyPhisicalByDocumentNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSThirdPartyPhisicalByDocumentNumberSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <!-- añadir TERCEROS  fisicas -->
    <wsdl:operation name="WSAddThirdPartyPhisical">
      <soap12:operation soapAction="http://www.invesicres.org/WSAddThirdPartyPhisical" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSAddThirdPartyPhisicalSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <!-- modificar TERCEROS fisicas -->
    <wsdl:operation name="WSUpdateThirdPartyPhisical">
      <soap12:operation soapAction="http://www.invesicres.org/WSUpdateThirdPartyPhisical" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSUpdateThirdPartyPhisicalSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <!-- ////////////////////////////////////// INTERESADOS/////////////////////////////////////////////////////////////// -->
	<!-- añadir Interesados a registro -->
    <wsdl:operation name="WSAddStakeholder">
      <soap12:operation soapAction="http://www.invesicres.org/WSAddStakeholder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSAddStakeholderSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <!-- eliminar interesado a registro -->
    <wsdl:operation name="WSRemoveStakeholder">
      <soap12:operation soapAction="http://www.invesicres.org/WSRemoveStakeholder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSRemoveStakeholderSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <!-- actualizacion direcion notificacion de interesado -->
    <wsdl:operation name="WSUpdateNotifyAddressStakeholder">
      <soap12:operation soapAction="http://www.invesicres.org/WSUpdateNotifyAddressStakeholder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSUpdateNotifyAddressStakeholderSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <!-- carga de interesados de un registro -->
    <wsdl:operation name="WSLoadStakeholders">
      <soap12:operation soapAction="http://www.invesicres.org/WSLoadStakeholders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSLoadStakeholdersSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    
    
    
     
  </wsdl:binding>
  
  <!-- ************************************ SERVICES ********************************************************* -->
  <!-- definicion de endpoints -->
  <wsdl:service name="ISWebServiceThirdParties">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">invesicres - Servicios Web de operaciones sobre tercereros</wsdl:documentation>
    <wsdl:port name="ISWebServiceThirdPartiesSoap" binding="tns:ISWebServiceThirdPartiesSoap">
      <soap:address location="http://localhost/WSinvesicres/ISWebServiceThirdParties.asmx" />
    </wsdl:port>
     
    <wsdl:port name="ISWebServiceThirdPartiesSoap12" binding="tns:ISWebServiceThirdPartiesSoap12">
      <soap12:address location="http://localhost/WSinvesicres/ISWebServiceThirdPartiesSoap.asmx" />
    </wsdl:port>
    
  </wsdl:service>
  
</wsdl:definitions>