registro/ISicres-WS-legacy/src/main/resources/wsdl/ISWebServiceRegisters.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.invesicres.org" xmlns:s1="http://schemas.xmlsoap.org/ws/2002/04/secext" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.invesicres.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">invesicres - Servicios Web de información y operación sobre registros</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.invesicres.org">
      <s:element name="WSNewInputRegister">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BookIdentification" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Datas" type="tns:WSParamInputRegisterEx" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WSParamInputRegisterEx">
        <s:complexContent mixed="false">
          <s:extension base="tns:WSParamInputRegister">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Documents" type="tns:ArrayOfWSParamDocument" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="WSParamInputRegister">
        <s:complexContent mixed="false">
          <s:extension base="tns:WSParamOutputRegister">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="OriginalNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="OriginalDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="OriginalType" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="OriginalEntity" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="WSParamOutputRegister">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Destination" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransportType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransportNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MatterType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Matter" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Persons" type="tns:ArrayOfWSParamPerson" />
          <s:element minOccurs="0" maxOccurs="1" name="AddFields" type="tns:ArrayOfWSAddField" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWSParamPerson">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WSParamPerson" nillable="true" type="tns:WSParamPerson" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WSParamPerson">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PersonName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWSAddField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WSAddField" nillable="true" type="tns:WSAddField" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WSAddField">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FieldId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWSParamDocument">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WSParamDocument" nillable="true" type="tns:WSParamDocument" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WSParamDocument">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DocumentName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentContent" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentLocation" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WSRegister">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SystemDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Office" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OfficeName" type="s:string" />
        </s:sequence>
        <s:attribute name="BookId" type="s:int" use="required" />
        <s:attribute name="FolderId" type="s:int" use="required" />
        <s:attribute name="State" type="s:int" use="required" />
      </s:complexType>
      <s:element name="WSNewInputRegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSNewInputRegisterResult" type="tns:WSRegister" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSNewOutputRegister">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BookIdentification" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Datas" type="tns:WSParamOutputRegisterEx" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WSParamOutputRegisterEx">
        <s:complexContent mixed="false">
          <s:extension base="tns:WSParamOutputRegister">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Documents" type="tns:ArrayOfWSParamDocument" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="WSNewOutputRegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSNewOutputRegisterResult" type="tns:WSRegister" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSLoadInputRegisters">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BookIdentification" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Condition" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="InitValue" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WSInputRegistersResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="List" type="tns:ArrayOfWSInputRegister" />
        </s:sequence>
        <s:attribute name="Total" type="s:long" use="required" />
      </s:complexType>
      <s:complexType name="ArrayOfWSInputRegister">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WSInputRegister" nillable="true" type="tns:WSInputRegister" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WSInputRegister">
        <s:complexContent mixed="false">
          <s:extension base="tns:WSOutputRegister">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="OriginalNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="OriginalDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="OriginalType" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="OriginalEntity" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="OriginalEntityName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="WSOutputRegister">
        <s:complexContent mixed="false">
          <s:extension base="tns:WSRegister">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SenderName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Destination" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DestinationName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TransportType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TransportNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MatterType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MatterTypeName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Matter" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Persons" type="tns:ArrayOfWSPerson" />
              <s:element minOccurs="0" maxOccurs="1" name="Documents" type="tns:ArrayOfWSDocument" />
              <s:element minOccurs="0" maxOccurs="1" name="AddFields" type="tns:ArrayOfWSAddField" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfWSPerson">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WSPerson" nillable="true" type="tns:WSPerson" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WSPerson">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
        <s:attribute name="Id" type="s:int" use="required" />
      </s:complexType>
      <s:complexType name="ArrayOfWSDocument">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WSDocument" nillable="true" type="tns:WSDocument" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WSDocument">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pages" type="tns:ArrayOfWSPage" />
        </s:sequence>
        <s:attribute name="Id" type="s:int" use="required" />
      </s:complexType>
      <s:complexType name="ArrayOfWSPage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WSPage" nillable="true" type="tns:WSPage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WSPage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Locator" type="s:string" />
        </s:sequence>
        <s:attribute name="Id" type="s:int" use="required" />
      </s:complexType>
      <s:element name="WSLoadInputRegistersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSLoadInputRegistersResult" type="tns:WSInputRegistersResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSLoadOutputRegisters">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BookIdentification" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Condition" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="InitValue" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WSOutputRegistersResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="List" type="tns:ArrayOfWSOutputRegister" />
        </s:sequence>
        <s:attribute name="Total" type="s:long" use="required" />
      </s:complexType>
      <s:complexType name="ArrayOfWSOutputRegister">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WSOutputRegister" nillable="true" type="tns:WSOutputRegister" />
        </s:sequence>
      </s:complexType>
      <s:element name="WSLoadOutputRegistersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSLoadOutputRegistersResult" type="tns:WSOutputRegistersResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSLoadInputRegisterFromId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BookIdentification" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="RegisterIdentification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSLoadInputRegisterFromIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSLoadInputRegisterFromIdResult" type="tns:WSInputRegister" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSLoadOutputRegisterFromId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BookIdentification" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="RegisterIdentification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSLoadOutputRegisterFromIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSLoadOutputRegisterFromIdResult" type="tns:WSOutputRegister" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSAttachPage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BookIdentification" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="RegisterIdentification" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Documents" type="tns:ArrayOfWSParamDocument" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSAttachPageResponse">
        <s:complexType />
      </s:element>
      <s:element name="WSAttachPageEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BookIdentification" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="RegisterIdentification" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Documents" type="tns:ArrayOfWSParamDocument" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WSDocumentsResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="List" type="tns:ArrayOfWSDocument" />
        </s:sequence>
        <s:attribute name="Total" type="s:long" use="required" />
      </s:complexType>
      <s:element name="WSAttachPageExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSAttachPageExResult" type="tns:WSDocumentsResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSGetPage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BookIdentification" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="RegisterIdentification" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="DocumentIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSGetPageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSGetPageResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSGetPageEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BookIdentification" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="RegisterIdentification" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="DocumentId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="PageId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSGetPageExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSGetPageExResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSImportInputRegister">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BookIdentification" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="regNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="regDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sysDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Office" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Datas" type="tns:WSParamInputRegisterEx" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSImportInputRegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSImportInputRegisterResult" type="tns:WSRegister" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSImportOutputRegister">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BookIdentification" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="regNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="regDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sysDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Office" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Datas" type="tns:WSParamOutputRegisterEx" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSImportOutputRegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSImportOutputRegisterResult" type="tns:WSRegister" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSUpdateInputRegister">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BookIdentification" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="RegisterIdentification" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Fields" type="tns:ArrayOfWSParamField" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfWSParamField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WSParamField" nillable="true" type="tns:WSParamField" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WSParamField">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FldId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="Index" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="WSUpdateInputRegisterResponse">
        <s:complexType />
      </s:element>
      <s:element name="WSUpdateOutputRegister">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BookIdentification" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="RegisterIdentification" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Fields" type="tns:ArrayOfWSParamField" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSUpdateOutputRegisterResponse">
        <s:complexType />
      </s:element>
      <s:element name="WSCancelInputRegister">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BookIdentification" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="RegisterIdentification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSCancelInputRegisterResponse">
        <s:complexType />
      </s:element>
      <s:element name="WSCancelOutputRegister">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BookIdentification" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="RegisterIdentification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSCancelOutputRegisterResponse">
        <s:complexType />
      </s:element>
      <s:element name="WSLoadInputRegistersEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Condition" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="InitValue" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSLoadInputRegistersExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSLoadInputRegistersExResult" type="tns:WSInputRegistersResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSLoadOutputRegistersEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Condition" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="InitValue" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSLoadOutputRegistersExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSLoadOutputRegistersExResult" type="tns:WSOutputRegistersResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/ws/2002/04/secext">
      <s:complexType name="UsernameTokenClass">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OfficeCode" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="1" name="CheckPermissions" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Security" type="s1:Security" />
      <s:complexType name="Security">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UsernameToken" type="s1:UsernameTokenClass" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WSNewInputRegisterSoapIn">
    <wsdl:part name="parameters" element="tns:WSNewInputRegister" />
  </wsdl:message>
  <wsdl:message name="WSNewInputRegisterSoapOut">
    <wsdl:part name="parameters" element="tns:WSNewInputRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="WSNewInputRegisterSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSNewOutputRegisterSoapIn">
    <wsdl:part name="parameters" element="tns:WSNewOutputRegister" />
  </wsdl:message>
  <wsdl:message name="WSNewOutputRegisterSoapOut">
    <wsdl:part name="parameters" element="tns:WSNewOutputRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="WSNewOutputRegisterSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSLoadInputRegistersSoapIn">
    <wsdl:part name="parameters" element="tns:WSLoadInputRegisters" />
  </wsdl:message>
  <wsdl:message name="WSLoadInputRegistersSoapOut">
    <wsdl:part name="parameters" element="tns:WSLoadInputRegistersResponse" />
  </wsdl:message>
  <wsdl:message name="WSLoadInputRegistersSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSLoadOutputRegistersSoapIn">
    <wsdl:part name="parameters" element="tns:WSLoadOutputRegisters" />
  </wsdl:message>
  <wsdl:message name="WSLoadOutputRegistersSoapOut">
    <wsdl:part name="parameters" element="tns:WSLoadOutputRegistersResponse" />
  </wsdl:message>
  <wsdl:message name="WSLoadOutputRegistersSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSLoadInputRegisterFromIdSoapIn">
    <wsdl:part name="parameters" element="tns:WSLoadInputRegisterFromId" />
  </wsdl:message>
  <wsdl:message name="WSLoadInputRegisterFromIdSoapOut">
    <wsdl:part name="parameters" element="tns:WSLoadInputRegisterFromIdResponse" />
  </wsdl:message>
  <wsdl:message name="WSLoadInputRegisterFromIdSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSLoadOutputRegisterFromIdSoapIn">
    <wsdl:part name="parameters" element="tns:WSLoadOutputRegisterFromId" />
  </wsdl:message>
  <wsdl:message name="WSLoadOutputRegisterFromIdSoapOut">
    <wsdl:part name="parameters" element="tns:WSLoadOutputRegisterFromIdResponse" />
  </wsdl:message>
  <wsdl:message name="WSLoadOutputRegisterFromIdSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSAttachPageSoapIn">
    <wsdl:part name="parameters" element="tns:WSAttachPage" />
  </wsdl:message>
  <wsdl:message name="WSAttachPageSoapOut">
    <wsdl:part name="parameters" element="tns:WSAttachPageResponse" />
  </wsdl:message>
  <wsdl:message name="WSAttachPageSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSAttachPageExSoapIn">
    <wsdl:part name="parameters" element="tns:WSAttachPageEx" />
  </wsdl:message>
  <wsdl:message name="WSAttachPageExSoapOut">
    <wsdl:part name="parameters" element="tns:WSAttachPageExResponse" />
  </wsdl:message>
  <wsdl:message name="WSAttachPageExSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSGetPageSoapIn">
    <wsdl:part name="parameters" element="tns:WSGetPage" />
  </wsdl:message>
  <wsdl:message name="WSGetPageSoapOut">
    <wsdl:part name="parameters" element="tns:WSGetPageResponse" />
  </wsdl:message>
  <wsdl:message name="WSGetPageSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSGetPageExSoapIn">
    <wsdl:part name="parameters" element="tns:WSGetPageEx" />
  </wsdl:message>
  <wsdl:message name="WSGetPageExSoapOut">
    <wsdl:part name="parameters" element="tns:WSGetPageExResponse" />
  </wsdl:message>
  <wsdl:message name="WSGetPageExSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSImportInputRegisterSoapIn">
    <wsdl:part name="parameters" element="tns:WSImportInputRegister" />
  </wsdl:message>
  <wsdl:message name="WSImportInputRegisterSoapOut">
    <wsdl:part name="parameters" element="tns:WSImportInputRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="WSImportInputRegisterSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSImportOutputRegisterSoapIn">
    <wsdl:part name="parameters" element="tns:WSImportOutputRegister" />
  </wsdl:message>
  <wsdl:message name="WSImportOutputRegisterSoapOut">
    <wsdl:part name="parameters" element="tns:WSImportOutputRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="WSImportOutputRegisterSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSUpdateInputRegisterSoapIn">
    <wsdl:part name="parameters" element="tns:WSUpdateInputRegister" />
  </wsdl:message>
  <wsdl:message name="WSUpdateInputRegisterSoapOut">
    <wsdl:part name="parameters" element="tns:WSUpdateInputRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="WSUpdateInputRegisterSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSUpdateOutputRegisterSoapIn">
    <wsdl:part name="parameters" element="tns:WSUpdateOutputRegister" />
  </wsdl:message>
  <wsdl:message name="WSUpdateOutputRegisterSoapOut">
    <wsdl:part name="parameters" element="tns:WSUpdateOutputRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="WSUpdateOutputRegisterSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSCancelInputRegisterSoapIn">
    <wsdl:part name="parameters" element="tns:WSCancelInputRegister" />
  </wsdl:message>
  <wsdl:message name="WSCancelInputRegisterSoapOut">
    <wsdl:part name="parameters" element="tns:WSCancelInputRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="WSCancelInputRegisterSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSCancelOutputRegisterSoapIn">
    <wsdl:part name="parameters" element="tns:WSCancelOutputRegister" />
  </wsdl:message>
  <wsdl:message name="WSCancelOutputRegisterSoapOut">
    <wsdl:part name="parameters" element="tns:WSCancelOutputRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="WSCancelOutputRegisterSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSLoadInputRegistersExSoapIn">
    <wsdl:part name="parameters" element="tns:WSLoadInputRegistersEx" />
  </wsdl:message>
  <wsdl:message name="WSLoadInputRegistersExSoapOut">
    <wsdl:part name="parameters" element="tns:WSLoadInputRegistersExResponse" />
  </wsdl:message>
  <wsdl:message name="WSLoadInputRegistersExSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSLoadOutputRegistersExSoapIn">
    <wsdl:part name="parameters" element="tns:WSLoadOutputRegistersEx" />
  </wsdl:message>
  <wsdl:message name="WSLoadOutputRegistersExSoapOut">
    <wsdl:part name="parameters" element="tns:WSLoadOutputRegistersExResponse" />
  </wsdl:message>
  <wsdl:message name="WSLoadOutputRegistersExSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:portType name="ISWebServiceRegistersSoap">
    <wsdl:operation name="WSNewInputRegister">
      <wsdl:input message="tns:WSNewInputRegisterSoapIn" />
      <wsdl:output message="tns:WSNewInputRegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSNewOutputRegister">
      <wsdl:input message="tns:WSNewOutputRegisterSoapIn" />
      <wsdl:output message="tns:WSNewOutputRegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSLoadInputRegisters">
      <wsdl:input message="tns:WSLoadInputRegistersSoapIn" />
      <wsdl:output message="tns:WSLoadInputRegistersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSLoadOutputRegisters">
      <wsdl:input message="tns:WSLoadOutputRegistersSoapIn" />
      <wsdl:output message="tns:WSLoadOutputRegistersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSLoadInputRegisterFromId">
      <wsdl:input message="tns:WSLoadInputRegisterFromIdSoapIn" />
      <wsdl:output message="tns:WSLoadInputRegisterFromIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSLoadOutputRegisterFromId">
      <wsdl:input message="tns:WSLoadOutputRegisterFromIdSoapIn" />
      <wsdl:output message="tns:WSLoadOutputRegisterFromIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSAttachPage">
      <wsdl:input message="tns:WSAttachPageSoapIn" />
      <wsdl:output message="tns:WSAttachPageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSAttachPageEx">
      <wsdl:input message="tns:WSAttachPageExSoapIn" />
      <wsdl:output message="tns:WSAttachPageExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetPage">
      <wsdl:input message="tns:WSGetPageSoapIn" />
      <wsdl:output message="tns:WSGetPageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetPageEx">
      <wsdl:input message="tns:WSGetPageExSoapIn" />
      <wsdl:output message="tns:WSGetPageExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSImportInputRegister">
      <wsdl:input message="tns:WSImportInputRegisterSoapIn" />
      <wsdl:output message="tns:WSImportInputRegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSImportOutputRegister">
      <wsdl:input message="tns:WSImportOutputRegisterSoapIn" />
      <wsdl:output message="tns:WSImportOutputRegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSUpdateInputRegister">
      <wsdl:input message="tns:WSUpdateInputRegisterSoapIn" />
      <wsdl:output message="tns:WSUpdateInputRegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSUpdateOutputRegister">
      <wsdl:input message="tns:WSUpdateOutputRegisterSoapIn" />
      <wsdl:output message="tns:WSUpdateOutputRegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSCancelInputRegister">
      <wsdl:input message="tns:WSCancelInputRegisterSoapIn" />
      <wsdl:output message="tns:WSCancelInputRegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSCancelOutputRegister">
      <wsdl:input message="tns:WSCancelOutputRegisterSoapIn" />
      <wsdl:output message="tns:WSCancelOutputRegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSLoadInputRegistersExOp">
      <wsdl:input name="WSLoadInputRegistersExIn" message="tns:WSLoadInputRegistersExSoapIn" />
      <wsdl:output name="WSLoadInputRegistersExOut" message="tns:WSLoadInputRegistersExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSLoadOutputRegistersExOp">
      <wsdl:input name="WSLoadOutputRegistersExIn" message="tns:WSLoadOutputRegistersExSoapIn" />
      <wsdl:output name="WSLoadOutputRegistersExOut" message="tns:WSLoadOutputRegistersExSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ISWebServiceRegistersSoap" type="tns:ISWebServiceRegistersSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSNewInputRegister">
      <soap:operation soapAction="http://www.invesicres.org/WSNewInputRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSNewInputRegisterSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSNewOutputRegister">
      <soap:operation soapAction="http://www.invesicres.org/WSNewOutputRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSNewOutputRegisterSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSLoadInputRegisters">
      <soap:operation soapAction="http://www.invesicres.org/WSLoadInputRegisters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSLoadInputRegistersSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSLoadOutputRegisters">
      <soap:operation soapAction="http://www.invesicres.org/WSLoadOutputRegisters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSLoadOutputRegistersSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSLoadInputRegisterFromId">
      <soap:operation soapAction="http://www.invesicres.org/WSLoadInputRegisterFromId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSLoadInputRegisterFromIdSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSLoadOutputRegisterFromId">
      <soap:operation soapAction="http://www.invesicres.org/WSLoadOutputRegisterFromId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSLoadOutputRegisterFromIdSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSAttachPage">
      <soap:operation soapAction="http://www.invesicres.org/WSAttachPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSAttachPageSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSAttachPageEx">
      <soap:operation soapAction="http://www.invesicres.org/WSAttachPageEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSAttachPageExSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetPage">
      <soap:operation soapAction="http://www.invesicres.org/WSGetPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSGetPageSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetPageEx">
      <soap:operation soapAction="http://www.invesicres.org/WSGetPageEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSGetPageExSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSImportInputRegister">
      <soap:operation soapAction="http://www.invesicres.org/WSImportInputRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSImportInputRegisterSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSImportOutputRegister">
      <soap:operation soapAction="http://www.invesicres.org/WSImportOutputRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSImportOutputRegisterSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSUpdateInputRegister">
      <soap:operation soapAction="http://www.invesicres.org/WSUpdateInputRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSUpdateInputRegisterSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSUpdateOutputRegister">
      <soap:operation soapAction="http://www.invesicres.org/WSUpdateOutputRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSUpdateOutputRegisterSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSCancelInputRegister">
      <soap:operation soapAction="http://www.invesicres.org/WSCancelInputRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSCancelInputRegisterSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSCancelOutputRegister">
      <soap:operation soapAction="http://www.invesicres.org/WSCancelOutputRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSCancelOutputRegisterSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSLoadInputRegistersExOp">
      <soap:operation soapAction="http://www.invesicres.org/WSLoadInputRegistersEx" style="document" />
      <wsdl:input name="WSLoadInputRegistersExIn">
        <soap:body use="literal" />
        <soap:header message="tns:WSLoadInputRegistersExSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output name="WSLoadInputRegistersExOut">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSLoadOutputRegistersExOp">
      <soap:operation soapAction="http://www.invesicres.org/WSLoadOutputRegistersEx" style="document" />
      <wsdl:input name="WSLoadOutputRegistersExIn">
        <soap:body use="literal" />
        <soap:header message="tns:WSLoadOutputRegistersExSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output name="WSLoadOutputRegistersExOut">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ISWebServiceRegistersSoap12" type="tns:ISWebServiceRegistersSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSNewInputRegister">
      <soap12:operation soapAction="http://www.invesicres.org/WSNewInputRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSNewInputRegisterSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSNewOutputRegister">
      <soap12:operation soapAction="http://www.invesicres.org/WSNewOutputRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSNewOutputRegisterSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSLoadInputRegisters">
      <soap12:operation soapAction="http://www.invesicres.org/WSLoadInputRegisters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSLoadInputRegistersSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSLoadOutputRegisters">
      <soap12:operation soapAction="http://www.invesicres.org/WSLoadOutputRegisters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSLoadOutputRegistersSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSLoadInputRegisterFromId">
      <soap12:operation soapAction="http://www.invesicres.org/WSLoadInputRegisterFromId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSLoadInputRegisterFromIdSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSLoadOutputRegisterFromId">
      <soap12:operation soapAction="http://www.invesicres.org/WSLoadOutputRegisterFromId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSLoadOutputRegisterFromIdSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSAttachPage">
      <soap12:operation soapAction="http://www.invesicres.org/WSAttachPage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSAttachPageSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSAttachPageEx">
      <soap12:operation soapAction="http://www.invesicres.org/WSAttachPageEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSAttachPageExSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetPage">
      <soap12:operation soapAction="http://www.invesicres.org/WSGetPage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSGetPageSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetPageEx">
      <soap12:operation soapAction="http://www.invesicres.org/WSGetPageEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSGetPageExSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSImportInputRegister">
      <soap12:operation soapAction="http://www.invesicres.org/WSImportInputRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSImportInputRegisterSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSImportOutputRegister">
      <soap12:operation soapAction="http://www.invesicres.org/WSImportOutputRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSImportOutputRegisterSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSUpdateInputRegister">
      <soap12:operation soapAction="http://www.invesicres.org/WSUpdateInputRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSUpdateInputRegisterSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSUpdateOutputRegister">
      <soap12:operation soapAction="http://www.invesicres.org/WSUpdateOutputRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSUpdateOutputRegisterSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSCancelInputRegister">
      <soap12:operation soapAction="http://www.invesicres.org/WSCancelInputRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSCancelInputRegisterSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSCancelOutputRegister">
      <soap12:operation soapAction="http://www.invesicres.org/WSCancelOutputRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSCancelOutputRegisterSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSLoadInputRegistersExOp">
      <soap12:operation soapAction="http://www.invesicres.org/WSLoadInputRegistersEx" style="document" />
      <wsdl:input name="WSLoadInputRegistersExIn">
        <soap12:body use="literal" />
        <soap12:header message="tns:WSLoadInputRegistersExSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output name="WSLoadInputRegistersExOut">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSLoadOutputRegistersExOp">
      <soap12:operation soapAction="http://www.invesicres.org/WSLoadOutputRegistersEx" style="document" />
      <wsdl:input name="WSLoadOutputRegistersExIn">
        <soap12:body use="literal" />
        <soap12:header message="tns:WSLoadOutputRegistersExSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output name="WSLoadOutputRegistersExOut">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ISWebServiceRegisters">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">invesicres - Servicios Web de información y operación sobre registros</wsdl:documentation>
    <wsdl:port name="ISWebServiceRegistersSoap" binding="tns:ISWebServiceRegistersSoap">
      <soap:address location="http://localhost/WSinvesicres/ISWebServiceRegisters.asmx" />
    </wsdl:port>
    <wsdl:port name="ISWebServiceRegistersSoap12" binding="tns:ISWebServiceRegistersSoap12">
      <soap12:address location="http://localhost/WSinvesicres/ISWebServiceRegisters.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>