registro/ISicres-WS-legacy/src/main/resources/wsdl/ISWebServiceUnits.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.invesicres.org" xmlns:s1="http://schemas.xmlsoap.org/ws/2002/04/secext" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.invesicres.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">invesicres - Servicios Web de informaci贸n y operaci贸n sobre unidades administrativas</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.invesicres.org">
      <s:element name="WSValidateUnitCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnitCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSValidateUnitCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSValidateUnitCodeResult" type="tns:WSUnit" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WSUnit">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Father" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="tns:WSUnitType" />
        </s:sequence>
        <s:attribute name="Id" type="s:long" use="required" />
        <s:attribute name="Enabled" type="s:boolean" use="required" />
      </s:complexType>
      <s:complexType name="WSUnitType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
        <s:attribute name="Id" type="s:long" use="required" />
      </s:complexType>
      <s:element name="WSLoadUnitTypes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InitValue" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSLoadUnitTypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSLoadUnitTypesResult" type="tns:WSUnitTypesResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WSUnitTypesResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="List" type="tns:ArrayOfWSUnitType" />
        </s:sequence>
        <s:attribute name="Total" type="s:long" use="required" />
      </s:complexType>
      <s:complexType name="ArrayOfWSUnitType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WSUnitType" nillable="true" type="tns:WSUnitType" />
        </s:sequence>
      </s:complexType>
      <s:element name="WSLoadUnitsFromType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TypeCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="InitValue" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSLoadUnitsFromTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSLoadUnitsFromTypeResult" type="tns:WSUnitsResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WSUnitsResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="List" type="tns:ArrayOfWSUnit" />
        </s:sequence>
        <s:attribute name="Total" type="s:long" use="required" />
      </s:complexType>
      <s:complexType name="ArrayOfWSUnit">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WSUnit" nillable="true" type="tns:WSUnit" />
        </s:sequence>
      </s:complexType>
      <s:element name="WSLoadUnitsFromUnit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnitCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="InitValue" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSLoadUnitsFromUnitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSLoadUnitsFromUnitResult" type="tns:WSUnitsResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSLoadUnitsFromCondition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Condition" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="InitValue" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSLoadUnitsFromConditionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSLoadUnitsFromConditionResult" type="tns:WSUnitsResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/ws/2002/04/secext">
      <s:element name="Security" type="s1:Security" />
      <s:complexType name="Security">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UsernameToken" type="s1:UsernameTokenClass" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:complexType name="UsernameTokenClass">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OfficeCode" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="1" name="CheckPermissions" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WSValidateUnitCodeSoapIn">
    <wsdl:part name="parameters" element="tns:WSValidateUnitCode" />
  </wsdl:message>
  <wsdl:message name="WSValidateUnitCodeSoapOut">
    <wsdl:part name="parameters" element="tns:WSValidateUnitCodeResponse" />
  </wsdl:message>
  <wsdl:message name="WSValidateUnitCodeSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSLoadUnitTypesSoapIn">
    <wsdl:part name="parameters" element="tns:WSLoadUnitTypes" />
  </wsdl:message>
  <wsdl:message name="WSLoadUnitTypesSoapOut">
    <wsdl:part name="parameters" element="tns:WSLoadUnitTypesResponse" />
  </wsdl:message>
  <wsdl:message name="WSLoadUnitTypesSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSLoadUnitsFromTypeSoapIn">
    <wsdl:part name="parameters" element="tns:WSLoadUnitsFromType" />
  </wsdl:message>
  <wsdl:message name="WSLoadUnitsFromTypeSoapOut">
    <wsdl:part name="parameters" element="tns:WSLoadUnitsFromTypeResponse" />
  </wsdl:message>
  <wsdl:message name="WSLoadUnitsFromTypeSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSLoadUnitsFromUnitSoapIn">
    <wsdl:part name="parameters" element="tns:WSLoadUnitsFromUnit" />
  </wsdl:message>
  <wsdl:message name="WSLoadUnitsFromUnitSoapOut">
    <wsdl:part name="parameters" element="tns:WSLoadUnitsFromUnitResponse" />
  </wsdl:message>
  <wsdl:message name="WSLoadUnitsFromUnitSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSLoadUnitsFromConditionSoapIn">
    <wsdl:part name="parameters" element="tns:WSLoadUnitsFromCondition" />
  </wsdl:message>
  <wsdl:message name="WSLoadUnitsFromConditionSoapOut">
    <wsdl:part name="parameters" element="tns:WSLoadUnitsFromConditionResponse" />
  </wsdl:message>
  <wsdl:message name="WSLoadUnitsFromConditionSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:portType name="ISWebServiceUnitsSoap">
    <wsdl:operation name="WSValidateUnitCode">
      <wsdl:input message="tns:WSValidateUnitCodeSoapIn" />
      <wsdl:output message="tns:WSValidateUnitCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSLoadUnitTypes">
      <wsdl:input message="tns:WSLoadUnitTypesSoapIn" />
      <wsdl:output message="tns:WSLoadUnitTypesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSLoadUnitsFromType">
      <wsdl:input message="tns:WSLoadUnitsFromTypeSoapIn" />
      <wsdl:output message="tns:WSLoadUnitsFromTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSLoadUnitsFromUnit">
      <wsdl:input message="tns:WSLoadUnitsFromUnitSoapIn" />
      <wsdl:output message="tns:WSLoadUnitsFromUnitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSLoadUnitsFromCondition">
      <wsdl:input message="tns:WSLoadUnitsFromConditionSoapIn" />
      <wsdl:output message="tns:WSLoadUnitsFromConditionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ISWebServiceUnitsSoap" type="tns:ISWebServiceUnitsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSValidateUnitCode">
      <soap:operation soapAction="http://www.invesicres.org/WSValidateUnitCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSValidateUnitCodeSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSLoadUnitTypes">
      <soap:operation soapAction="http://www.invesicres.org/WSLoadUnitTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSLoadUnitTypesSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSLoadUnitsFromType">
      <soap:operation soapAction="http://www.invesicres.org/WSLoadUnitsFromType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSLoadUnitsFromTypeSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSLoadUnitsFromUnit">
      <soap:operation soapAction="http://www.invesicres.org/WSLoadUnitsFromUnit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSLoadUnitsFromUnitSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSLoadUnitsFromCondition">
      <soap:operation soapAction="http://www.invesicres.org/WSLoadUnitsFromCondition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSLoadUnitsFromConditionSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ISWebServiceUnitsSoap12" type="tns:ISWebServiceUnitsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSValidateUnitCode">
      <soap12:operation soapAction="http://www.invesicres.org/WSValidateUnitCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSValidateUnitCodeSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSLoadUnitTypes">
      <soap12:operation soapAction="http://www.invesicres.org/WSLoadUnitTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSLoadUnitTypesSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSLoadUnitsFromType">
      <soap12:operation soapAction="http://www.invesicres.org/WSLoadUnitsFromType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSLoadUnitsFromTypeSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSLoadUnitsFromUnit">
      <soap12:operation soapAction="http://www.invesicres.org/WSLoadUnitsFromUnit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSLoadUnitsFromUnitSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSLoadUnitsFromCondition">
      <soap12:operation soapAction="http://www.invesicres.org/WSLoadUnitsFromCondition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSLoadUnitsFromConditionSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ISWebServiceUnits">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">invesicres - Servicios Web de informaci贸n y operaci贸n sobre unidades administrativas</wsdl:documentation>
    <wsdl:port name="ISWebServiceUnitsSoap" binding="tns:ISWebServiceUnitsSoap">
      <soap:address location="http://localhost/WSinvesicres/ISWebServiceUnits.asmx" />
    </wsdl:port>
    <wsdl:port name="ISWebServiceUnitsSoap12" binding="tns:ISWebServiceUnitsSoap12">
      <soap12:address location="http://localhost/WSinvesicres/ISWebServiceUnits.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>