registro/ISicres-WS-legacy/src/main/resources/wsdl/ISWebServiceDistributions.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.invesicres.org" xmlns:s1="http://schemas.xmlsoap.org/ws/2002/04/secext" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.invesicres.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">invesicres - Servicios Web de información y operación sobre bandejas de distribución</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.invesicres.org">
      <s:element name="WSLoadInputDistributions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="State" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="InitValue" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSLoadInputDistributionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSLoadInputDistributionsResult" type="tns:WSDistributionsResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WSDistributionsResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="List" type="tns:ArrayOfWSDistribution" />
        </s:sequence>
        <s:attribute name="Total" type="s:long" use="required" />
      </s:complexType>
      <s:complexType name="ArrayOfWSDistribution">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WSDistribution" nillable="true" type="tns:WSDistribution" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WSDistribution">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ArchiveId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FolderId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BookType" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BookName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DistributionDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SenderType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SenderId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DestinationType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DestinationId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="State" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StateDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StateDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegisterNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RegisterDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="RegisterDestinationName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegisterMatterTypeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegisterMatter" type="s:string" />
        </s:sequence>
        <s:attribute name="Id" type="s:int" use="required" />
      </s:complexType>
      <s:element name="WSLoadOutputDistributions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="State" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="InitValue" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSLoadOutputDistributionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSLoadOutputDistributionsResult" type="tns:WSDistributionsResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSLoadInputDistributionsByUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="State" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="InitValue" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSLoadInputDistributionsByUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSLoadInputDistributionsByUserIdResult" type="tns:WSDistributionsResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSLoadOutputDistributionsByUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="State" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="InitValue" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSLoadOutputDistributionsByUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSLoadOutputDistributionsByUserIdResult" type="tns:WSDistributionsResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      
      <s:element name="WSLoadInputDistributionsByCondition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Condition" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="InitValue" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      
      <s:element name="WSLoadInputDistributionsByConditionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSLoadInputDistributionsByConditionResult" type="tns:WSDistributionsResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      
      <s:element name="WSLoadOutputDistributionsByCondition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Condition" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="InitValue" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      
      <s:element name="WSLoadOutputDistributionsByConditionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSLoadOutputDistributionsByConditionResult" type="tns:WSDistributionsResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      
      <s:element name="WSLoadDistributionsByConditionEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Where" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="InitValue" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSLoadDistributionsByConditionExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSLoadDistributionsByConditionExResult" type="tns:WSDistributionsResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      
      <s:element name="WSAcceptDistributionEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numReg" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BookId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSAcceptDistributionExResponse">
        <s:complexType />
      </s:element>
      <s:element name="WSAcceptDistribution">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numReg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSAcceptDistributionResponse">
        <s:complexType />
      </s:element>
      <s:element name="WSArchiveDistribution">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numReg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSArchiveDistributionResponse">
        <s:complexType />
      </s:element>
      <s:element name="WSRejectDistribution">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numReg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="matter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSRejectDistributionResponse">
        <s:complexType />
      </s:element>
      <s:element name="WSRedistributeInputDistribution">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numReg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codeDest" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSRedistributeInputDistributionResponse">
        <s:complexType />
      </s:element>
      <s:element name="WSRedistributeOutputDistribution">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numReg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codeDest" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSRedistributeOutputDistributionResponse">
        <s:complexType />
      </s:element>
      
      <!--  metodo distribucion -->
      <s:element name="WSRegisterDistribute">
        <s:complexType>
          <s:sequence>
	     	  <!-- registro a distribuir -->
	   			<s:element minOccurs="0" maxOccurs="1" name="numReg" type="s:string" />
	      		<s:element minOccurs="1" maxOccurs="1" name="BookId" type="s:int" />
            
			<!-- origen de la distribucion-->
				<s:element minOccurs="1" maxOccurs="1" name="SenderType" type="s:int" />
				<s:element minOccurs="1" maxOccurs="1" name="SenderId" type="s:int" />
				<s:element minOccurs="0" maxOccurs="1" name="SenderName" type="s:string" />
			      
			<!-- destino de la distribucion-->
				<s:element minOccurs="1" maxOccurs="1" name="DestinationType" type="s:int" />
				<s:element minOccurs="1" maxOccurs="1" name="DestinationId" type="s:int" />
				<s:element minOccurs="0" maxOccurs="1" name="DestinationName" type="s:string" />
			
			<!-- motivo distribucion -->
				<s:element minOccurs="0" maxOccurs="1" name="matter" type="s:string" />
	  	    	    
         </s:sequence>
        </s:complexType>
      </s:element>
     

	<s:element name="WSRegisterDistributeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WSRegisterDistributeResult" type="tns:WSDistribution" />
          </s:sequence>
        </s:complexType>
	</s:element>
	
	<s:element name="WSRedistributeInputDistributionManual">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numReg" type="s:string" />
		<!-- destino de la distribucion-->
		<s:element minOccurs="1" maxOccurs="1" name="DestinationType" type="s:int" />
		<s:element minOccurs="1" maxOccurs="1" name="DestinationId" type="s:int" />
		<s:element minOccurs="0" maxOccurs="1" name="DestinationName" type="s:string" />
			<!-- motivo redistribucion -->
		<s:element minOccurs="0" maxOccurs="1" name="matter" type="s:string" />
            
          </s:sequence>
        </s:complexType>
      </s:element>
      
      
      <s:element name="WSRedistributeInputDistributionManualResponse">
        <s:complexType />
      </s:element>
      
      <s:element name="WSRedistributeOutputDistributionManual">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numReg" type="s:string" />
            <!-- destino de la distribucion-->
		<s:element minOccurs="1" maxOccurs="1" name="DestinationType" type="s:int" />
		<s:element minOccurs="1" maxOccurs="1" name="DestinationId" type="s:int" />
		<s:element minOccurs="0" maxOccurs="1" name="DestinationName" type="s:string" />
		<!-- motivo distribucion -->
		<s:element minOccurs="0" maxOccurs="1" name="matter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      
      <s:element name="WSRedistributeOutputDistributionManualResponse">
        <s:complexType />
	</s:element>
	
	
      
      
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/ws/2002/04/secext">
      <s:element name="Security" type="s1:Security" />
      <s:complexType name="Security">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UsernameToken" type="s1:UsernameTokenClass" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:complexType name="UsernameTokenClass">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OfficeCode" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="1" name="CheckPermissions" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WSLoadInputDistributionsSoapIn">
    <wsdl:part name="parameters" element="tns:WSLoadInputDistributions" />
  </wsdl:message>
  <wsdl:message name="WSLoadInputDistributionsSoapOut">
    <wsdl:part name="parameters" element="tns:WSLoadInputDistributionsResponse" />
  </wsdl:message>
  <wsdl:message name="WSLoadInputDistributionsSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSLoadOutputDistributionsSoapIn">
    <wsdl:part name="parameters" element="tns:WSLoadOutputDistributions" />
  </wsdl:message>
  <wsdl:message name="WSLoadOutputDistributionsSoapOut">
    <wsdl:part name="parameters" element="tns:WSLoadOutputDistributionsResponse" />
  </wsdl:message>
  <wsdl:message name="WSLoadOutputDistributionsSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSLoadInputDistributionsByUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:WSLoadInputDistributionsByUserId" />
  </wsdl:message>
  <wsdl:message name="WSLoadInputDistributionsByUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:WSLoadInputDistributionsByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="WSLoadInputDistributionsByUserIdSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSLoadOutputDistributionsByUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:WSLoadOutputDistributionsByUserId" />
  </wsdl:message>
  <wsdl:message name="WSLoadOutputDistributionsByUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:WSLoadOutputDistributionsByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="WSLoadOutputDistributionsByUserIdSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  
  <wsdl:message name="WSLoadInputDistributionsByConditionSoapIn">
    <wsdl:part name="parameters" element="tns:WSLoadInputDistributionsByCondition" />
  </wsdl:message>
   
  <wsdl:message name="WSLoadInputDistributionsByConditionSoapOut">
    <wsdl:part name="parameters" element="tns:WSLoadInputDistributionsByConditionResponse" />
  </wsdl:message>
  <wsdl:message name="WSLoadInputDistributionsByConditionSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  
  
   <wsdl:message name="WSLoadOutputDistributionsByConditionSoapIn">
    <wsdl:part name="parameters" element="tns:WSLoadOutputDistributionsByCondition" />
  </wsdl:message>
   
  <wsdl:message name="WSLoadOutputDistributionsByConditionSoapOut">
    <wsdl:part name="parameters" element="tns:WSLoadOutputDistributionsByConditionResponse" />
  </wsdl:message>
  <wsdl:message name="WSLoadOutputDistributionsByConditionSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  
  <wsdl:message name="WSLoadDistributionsByConditionExSoapIn">
    <wsdl:part name="parameters" element="tns:WSLoadDistributionsByConditionEx" />
  </wsdl:message>
  <wsdl:message name="WSLoadDistributionsByConditionExSoapOut">
    <wsdl:part name="parameters" element="tns:WSLoadDistributionsByConditionExResponse" />
  </wsdl:message>
  <wsdl:message name="WSLoadDistributionsByConditionExSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  
  <wsdl:message name="WSAcceptDistributionExSoapIn">
    <wsdl:part name="parameters" element="tns:WSAcceptDistributionEx" />
  </wsdl:message>
  <wsdl:message name="WSAcceptDistributionExSoapOut">
    <wsdl:part name="parameters" element="tns:WSAcceptDistributionExResponse" />
  </wsdl:message>
  <wsdl:message name="WSAcceptDistributionExSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSAcceptDistributionSoapIn">
    <wsdl:part name="parameters" element="tns:WSAcceptDistribution" />
  </wsdl:message>
  <wsdl:message name="WSAcceptDistributionSoapOut">
    <wsdl:part name="parameters" element="tns:WSAcceptDistributionResponse" />
  </wsdl:message>
  <wsdl:message name="WSAcceptDistributionSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSArchiveDistributionSoapIn">
    <wsdl:part name="parameters" element="tns:WSArchiveDistribution" />
  </wsdl:message>
  <wsdl:message name="WSArchiveDistributionSoapOut">
    <wsdl:part name="parameters" element="tns:WSArchiveDistributionResponse" />
  </wsdl:message>
  <wsdl:message name="WSArchiveDistributionSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSRejectDistributionSoapIn">
    <wsdl:part name="parameters" element="tns:WSRejectDistribution" />
  </wsdl:message>
  <wsdl:message name="WSRejectDistributionSoapOut">
    <wsdl:part name="parameters" element="tns:WSRejectDistributionResponse" />
  </wsdl:message>
  <wsdl:message name="WSRejectDistributionSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSRedistributeInputDistributionSoapIn">
    <wsdl:part name="parameters" element="tns:WSRedistributeInputDistribution" />
  </wsdl:message>
  <wsdl:message name="WSRedistributeInputDistributionSoapOut">
    <wsdl:part name="parameters" element="tns:WSRedistributeInputDistributionResponse" />
  </wsdl:message>
  <wsdl:message name="WSRedistributeInputDistributionSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSRedistributeOutputDistributionSoapIn">
    <wsdl:part name="parameters" element="tns:WSRedistributeOutputDistribution" />
  </wsdl:message>
  <wsdl:message name="WSRedistributeOutputDistributionSoapOut">
    <wsdl:part name="parameters" element="tns:WSRedistributeOutputDistributionResponse" />
  </wsdl:message>
  <wsdl:message name="WSRedistributeOutputDistributionSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  
  <wsdl:message name="WSRegisterDistributeSoapIn">
    <wsdl:part name="parameters" element="tns:WSRegisterDistribute" />
  </wsdl:message>
  <wsdl:message name="WSRegisterDistributeSoapOut">
    <wsdl:part name="parameters" element="tns:WSRegisterDistributeResponse" />
  </wsdl:message>
  <wsdl:message name="WSRegisterDistributeSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  
  <wsdl:message name="WSRedistributeInputDistributionManualSoapIn">
    <wsdl:part name="parameters" element="tns:WSRedistributeInputDistributionManual" />
  </wsdl:message>
  <wsdl:message name="WSRedistributeInputDistributionManualSoapOut">
    <wsdl:part name="parameters" element="tns:WSRedistributeInputDistributionManualResponse" />
  </wsdl:message>
  <wsdl:message name="WSRedistributeInputDistributionManualSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:message name="WSRedistributeOutputDistributionManualSoapIn">
    <wsdl:part name="parameters" element="tns:WSRedistributeOutputDistributionManual" />
  </wsdl:message>
  <wsdl:message name="WSRedistributeOutputDistributionManualSoapOut">
    <wsdl:part name="parameters" element="tns:WSRedistributeOutputDistributionManualResponse" />
  </wsdl:message>
  <wsdl:message name="WSRedistributeOutputDistributionManualSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  
  
  <wsdl:portType name="ISWebServiceDistributionsSoap">
    <wsdl:operation name="WSLoadInputDistributions">
      <wsdl:input message="tns:WSLoadInputDistributionsSoapIn" />
      <wsdl:output message="tns:WSLoadInputDistributionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSLoadOutputDistributions">
      <wsdl:input message="tns:WSLoadOutputDistributionsSoapIn" />
      <wsdl:output message="tns:WSLoadOutputDistributionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSLoadInputDistributionsByUserId">
      <wsdl:input message="tns:WSLoadInputDistributionsByUserIdSoapIn" />
      <wsdl:output message="tns:WSLoadInputDistributionsByUserIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSLoadOutputDistributionsByUserId">
      <wsdl:input message="tns:WSLoadOutputDistributionsByUserIdSoapIn" />
      <wsdl:output message="tns:WSLoadOutputDistributionsByUserIdSoapOut" />
    </wsdl:operation>
    
    <wsdl:operation name="WSLoadInputDistributionsByCondition">
      <wsdl:input message="tns:WSLoadInputDistributionsByConditionSoapIn" />
      <wsdl:output message="tns:WSLoadInputDistributionsByConditionSoapOut" />
    </wsdl:operation>
    
    <wsdl:operation name="WSLoadOutputDistributionsByCondition">
      <wsdl:input message="tns:WSLoadOutputDistributionsByConditionSoapIn" />
      <wsdl:output message="tns:WSLoadOutputDistributionsByConditionSoapOut" />
    </wsdl:operation>
    
    <wsdl:operation name="WSLoadDistributionsByConditionEx">
      <wsdl:input message="tns:WSLoadDistributionsByConditionExSoapIn" />
      <wsdl:output message="tns:WSLoadDistributionsByConditionExSoapOut" />
    </wsdl:operation>
    
    <wsdl:operation name="WSAcceptDistributionExOp">
      <wsdl:input name="WSAcceptDistributionExIn" message="tns:WSAcceptDistributionExSoapIn" />
      <wsdl:output name="WSAcceptDistributionExOut" message="tns:WSAcceptDistributionExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSAcceptDistribution">
      <wsdl:input message="tns:WSAcceptDistributionSoapIn" />
      <wsdl:output message="tns:WSAcceptDistributionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSArchiveDistribution">
      <wsdl:input message="tns:WSArchiveDistributionSoapIn" />
      <wsdl:output message="tns:WSArchiveDistributionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSRejectDistribution">
      <wsdl:input message="tns:WSRejectDistributionSoapIn" />
      <wsdl:output message="tns:WSRejectDistributionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSRedistributeInputDistribution">
      <wsdl:input message="tns:WSRedistributeInputDistributionSoapIn" />
      <wsdl:output message="tns:WSRedistributeInputDistributionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSRedistributeOutputDistribution">
      <wsdl:input message="tns:WSRedistributeOutputDistributionSoapIn" />
      <wsdl:output message="tns:WSRedistributeOutputDistributionSoapOut" />
    </wsdl:operation>
    
    <wsdl:operation name="WSRegisterDistribute">
      <wsdl:input message="tns:WSRegisterDistributeSoapIn" />
      <wsdl:output message="tns:WSRegisterDistributeSoapOut" />
    </wsdl:operation>
    
    <wsdl:operation name="WSRedistributeInputDistributionManual">
      <wsdl:input message="tns:WSRedistributeInputDistributionManualSoapIn" />
      <wsdl:output message="tns:WSRedistributeInputDistributionManualSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSRedistributeOutputDistributionManual">
      <wsdl:input message="tns:WSRedistributeOutputDistributionManualSoapIn" />
      <wsdl:output message="tns:WSRedistributeOutputDistributionManualSoapOut" />
    </wsdl:operation>
    
  </wsdl:portType>
  <wsdl:binding name="ISWebServiceDistributionsSoap" type="tns:ISWebServiceDistributionsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSLoadInputDistributions">
      <soap:operation soapAction="http://www.invesicres.org/WSLoadInputDistributions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSLoadInputDistributionsSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSLoadOutputDistributions">
      <soap:operation soapAction="http://www.invesicres.org/WSLoadOutputDistributions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSLoadOutputDistributionsSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSLoadInputDistributionsByUserId">
      <soap:operation soapAction="http://www.invesicres.org/WSLoadInputDistributionsByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSLoadInputDistributionsByUserIdSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSLoadOutputDistributionsByUserId">
      <soap:operation soapAction="http://www.invesicres.org/WSLoadOutputDistributionsByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSLoadOutputDistributionsByUserIdSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="WSLoadInputDistributionsByCondition">
      <soap:operation soapAction="http://www.invesicres.org/WSLoadInputDistributionsByCondition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSLoadInputDistributionsByConditionSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
   </wsdl:operation>
   
    <wsdl:operation name="WSLoadOutputDistributionsByCondition">
      <soap:operation soapAction="http://www.invesicres.org/WSLoadOutputDistributionsByCondition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSLoadOutputDistributionsByConditionSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
   </wsdl:operation>
    
    <wsdl:operation name="WSLoadDistributionsByConditionEx">
      <soap:operation soapAction="http://www.invesicres.org/WSLoadDistributionsByConditionEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSLoadDistributionsByConditionExSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="WSAcceptDistributionExOp">
      <soap:operation soapAction="http://www.invesicres.org/WSAcceptDistributionEx" style="document" />
      <wsdl:input name="WSAcceptDistributionExIn">
        <soap:body use="literal" />
        <soap:header message="tns:WSAcceptDistributionExSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output name="WSAcceptDistributionExOut">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSAcceptDistribution">
      <soap:operation soapAction="http://www.invesicres.org/WSAcceptDistribution" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSAcceptDistributionSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSArchiveDistribution">
      <soap:operation soapAction="http://www.invesicres.org/WSArchiveDistribution" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSArchiveDistributionSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSRejectDistribution">
      <soap:operation soapAction="http://www.invesicres.org/WSRejectDistribution" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSRejectDistributionSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSRedistributeInputDistribution">
      <soap:operation soapAction="http://www.invesicres.org/WSRedistributeInputDistribution" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSRedistributeInputDistributionSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSRedistributeOutputDistribution">
      <soap:operation soapAction="http://www.invesicres.org/WSRedistributeOutputDistribution" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSRedistributeOutputDistributionSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="WSRegisterDistribute">
      <soap:operation soapAction="http://www.invesicres.org/WSRegisterDistribute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSRegisterDistributeSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="WSRedistributeInputDistributionManual">
      <soap:operation soapAction="http://www.invesicres.org/WSRedistributeInputDistributionManual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSRedistributeInputDistributionManualSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSRedistributeOutputDistributionManual">
      <soap:operation soapAction="http://www.invesicres.org/WSRedistributeOutputDistributionManual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSRedistributeOutputDistributionManualSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
  </wsdl:binding>
  <wsdl:binding name="ISWebServiceDistributionsSoap12" type="tns:ISWebServiceDistributionsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSLoadInputDistributions">
      <soap12:operation soapAction="http://www.invesicres.org/WSLoadInputDistributions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSLoadInputDistributionsSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSLoadOutputDistributions">
      <soap12:operation soapAction="http://www.invesicres.org/WSLoadOutputDistributions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSLoadOutputDistributionsSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSLoadInputDistributionsByUserId">
      <soap12:operation soapAction="http://www.invesicres.org/WSLoadInputDistributionsByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSLoadInputDistributionsByUserIdSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSLoadOutputDistributionsByUserId">
      <soap12:operation soapAction="http://www.invesicres.org/WSLoadOutputDistributionsByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSLoadOutputDistributionsByUserIdSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="WSLoadInputDistributionsByCondition">
      <soap12:operation soapAction="http://www.invesicres.org/WSLoadInputDistributionsByCondition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSLoadInputDistributionsByConditionSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="WSLoadOutputDistributionsByCondition">
      <soap12:operation soapAction="http://www.invesicres.org/WSLoadOutputDistributionsByCondition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSLoadOutputDistributionsByConditionSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="WSLoadDistributionsByConditionEx">
      <soap12:operation soapAction="http://www.invesicres.org/WSLoadDistributionsByConditionEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSLoadDistributionsByConditionExSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="WSAcceptDistributionExOp">
      <soap12:operation soapAction="http://www.invesicres.org/WSAcceptDistributionEx" style="document" />
      <wsdl:input name="WSAcceptDistributionExIn">
        <soap12:body use="literal" />
        <soap12:header message="tns:WSAcceptDistributionExSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output name="WSAcceptDistributionExOut">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSAcceptDistribution">
      <soap12:operation soapAction="http://www.invesicres.org/WSAcceptDistribution" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSAcceptDistributionSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSArchiveDistribution">
      <soap12:operation soapAction="http://www.invesicres.org/WSArchiveDistribution" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSArchiveDistributionSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSRejectDistribution">
      <soap12:operation soapAction="http://www.invesicres.org/WSRejectDistribution" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSRejectDistributionSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSRedistributeInputDistribution">
      <soap12:operation soapAction="http://www.invesicres.org/WSRedistributeInputDistribution" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSRedistributeInputDistributionSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSRedistributeOutputDistribution">
      <soap12:operation soapAction="http://www.invesicres.org/WSRedistributeOutputDistribution" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSRedistributeOutputDistributionSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="WSRegisterDistribute">
      <soap12:operation soapAction="http://www.invesicres.org/WSRegisterDistribute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSRegisterDistributeSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="WSRedistributeInputDistributionManual">
      <soap12:operation soapAction="http://www.invesicres.org/WSRedistributeInputDistributionManual" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSRedistributeInputDistributionManualSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSRedistributeOutputDistributionManual">
      <soap12:operation soapAction="http://www.invesicres.org/WSRedistributeOutputDistributionManual" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSRedistributeOutputDistributionManualSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
  </wsdl:binding>
  <wsdl:service name="ISWebServiceDistributions">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">invesicres - Servicios Web de información y operación sobre bandejas de distribución</wsdl:documentation>
    <wsdl:port name="ISWebServiceDistributionsSoap" binding="tns:ISWebServiceDistributionsSoap">
      <soap:address location="http://localhost/WSinvesicres/ISWebServiceDistributions.asmx" />
    </wsdl:port>
    <wsdl:port name="ISWebServiceDistributionsSoap12" binding="tns:ISWebServiceDistributionsSoap12">
      <soap12:address location="http://localhost/WSinvesicres/ISWebServiceDistributions.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>