registro/ISicres-WS-legacy/src/main/resources/wsdl/ISWebServiceSession.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.invesicres.org" xmlns:s1="http://schemas.xmlsoap.org/ws/2002/04/secext" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.invesicres.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">invesicres - Servicios Web de autrenticaci贸n e inicio de sesi贸n</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.invesicres.org">
      <s:element name="WSLogin">
        <s:complexType />
      </s:element>
      <s:element name="WSLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSLoginResult" type="tns:WSSession" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WSSession">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OfficeCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OfficeName" type="s:string" />
        </s:sequence>
        <s:attribute name="Id" type="s:int" use="required" />
        <s:attribute name="Profile" type="s:int" use="required" />
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/ws/2002/04/secext">
      <s:element name="Security" type="s1:Security" />
      <s:complexType name="Security">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UsernameToken" type="s1:UsernameTokenClass" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:complexType name="UsernameTokenClass">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OfficeCode" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="1" name="CheckPermissions" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WSLoginSoapIn">
    <wsdl:part name="parameters" element="tns:WSLogin" />
  </wsdl:message>
  <wsdl:message name="WSLoginSoapOut">
    <wsdl:part name="parameters" element="tns:WSLoginResponse" />
  </wsdl:message>
  <wsdl:message name="WSLoginSecurity">
    <wsdl:part name="Security" element="s1:Security" />
  </wsdl:message>
  <wsdl:portType name="ISWebServiceSessionSoap">
    <wsdl:operation name="WSLogin">
      <wsdl:input message="tns:WSLoginSoapIn" />
      <wsdl:output message="tns:WSLoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ISWebServiceSessionSoap" type="tns:ISWebServiceSessionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSLogin">
      <soap:operation soapAction="http://www.invesicres.org/WSLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:WSLoginSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ISWebServiceSessionSoap12" type="tns:ISWebServiceSessionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSLogin">
      <soap12:operation soapAction="http://www.invesicres.org/WSLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:WSLoginSecurity" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ISWebServiceSession">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">invesicres - Servicios Web de autrenticaci贸n e inicio de sesi贸n</wsdl:documentation>
    <wsdl:port name="ISWebServiceSessionSoap" binding="tns:ISWebServiceSessionSoap">
      <soap:address location="http://localhost/WSinvesicres/ISWebServiceSession.asmx" />
    </wsdl:port>
    <wsdl:port name="ISWebServiceSessionSoap12" binding="tns:ISWebServiceSessionSoap12">
      <soap12:address location="http://localhost/WSinvesicres/ISWebServiceSession.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>